[2021-01-06 16:12] edvald commented on #2186
If there is a material difference between what the newer CLI (or different configuration) expects, a warning may be shown, but users should not be affected. We rarely make such changes to begin with, and only make breaking changes (e.g. add a new service) in breaking Garden releases, which are quite few and far between. We have no current plans for such changes, except to remove services actually,

[2021-01-06 19:35] ghost opened #2187 "garden-util-daemon pods not respecting nodeSelector"
## Bug

### Current Behavior

garden-util-daemon pods are not respecting nodeSelector.

### Expected behavior

garden-util-daemon respects configured nodeSelector.

### Reproducible example

[code]

the generated chart values for util doesn't have the nodeSelector injected compared to say build-sync.

### Workaround

None at the moment.

### Your environment

* **OS:** macOS
* **How I'm running Ku

[2021-01-06 23:29] eysi09 commented on #2181
I just realised there's actually one workaround.

You can explicitly set the `version` field to `null` and then Garden will pick the system version of the tool. One thing to look out for is whether the Terraform CLI interface has changed at all between the version. Garden basically shells out to Terraform and makes assumptions about the commands, options and outputs.

It would be super helpful if

[2021-01-07 01:21] Pacobart commented on #2181
@eysi09 I tested and validated I am able to set the terraform version to `null` and it uses my system installed version 0.14.4

[2021-01-07 10:20] eysi09 commented on #2175
We've released the fix.

[2021-01-07 10:20] #2175 closed

[2021-01-07 16:24] 10ko opened #2188 "When opening mutliple dashboards, the url in the logs contains the wrong port"
## Bug

### Current Behavior

When running multiple dashboards, the info log showing the dashboard url contains the url of the first opened dashboard.
Additionally (it seems) gets updated with the latest created dashboard port.

See below:

<img width="832" alt="Screenshot 2021-01-07 at 17 13 56" src="https://user-images.githubusercontent.com/2706375/103916536-d7fbe880-510c-11eb-8aef-94122fd0b7aa.

[2021-01-08 04:36] vrybas commented on #1852
I have the same issue. @eysi09 I run microk8s inside the VM and I would like to use in-cluster building. Also, microk8s can be used in production, as they claim. What is the reason for this error and is there a workaround?

[2021-01-09 17:48] eysi09 commented on #2184
The pods do indeed terminate in some instances. Not sure why even successful ones are sometimes left dangling. I'm assuming the process is not exiting with 0 for some reason.

[2021-01-11 15:38] jftheroux-devolutions opened #2190 "Terraform backend doesn't get initialized if workspace is specified"
## Bug

### Current Behavior

It seems that garden doesn't initialize the terraform backend if you specify `workspace` in the YAML definition.

### Expected behavior

Terraform backend gets initialized.

### Reproducible example

I'm using a module that looks like this:

[code]

That's a module we already had and used. If I run garden deploy with this configuration, it won't initilize the backend.

[2021-01-13 21:22] eysi09 opened #2191 "Default backend doesn't tolerate taints when deploying to local K8s (Docker for Desktop)"
## Bug

### Current Behavior

I get the following error when deploying e.g. the `kubernetes-module` example project locally:

[code]

### Expected behavior

It should work.

### Reproducible example

Deploy the `kubernetes-module` project locally with Docker for Desktop (and make sure the system services are initialized).

### Workaround

???

### Your environment

Lastest master and K8s on Docker

[2021-01-14 03:21] justicel commented on #2176
On further inspection, this appears to be due to an issue with Big Sur. It doesn't occur after repeated tests on Catalina.

[2021-01-17 19:47] edvald commented on #2015
This is still in progress, apologies for the delays

[2021-01-18 14:53] OliverSanftleben opened #2201 "git submodules with depth > 1"
## Bug

### Current Behavior

When using Remote Sources, Git submodules with depth > 1 will not be checked out. As a result, garden will hang at build (see https://github.com/garden-io/garden/issues/2119)

In the logs you can see that garden calls 'git clone --recursive --depth=1 ...'

### Expected behavior

Git submodules should be checked out with no depth limit

I'm expecting command

'git clon

[2021-01-18 17:25] Chipcius opened #2202 "I am amble to create a project with an upercase letter in name but get error when building"
## Bug
When I am creating a new project with an uppercase project name and then build I get an error

### Current Behavior

[code]

### Expected behavior

I should not get an error

### Reproducible example

[code]

### Workaround

Fix the name in the `project.garden.yml` to lowercase

### Suggested solution(s)

I should get a warning or some check to tell me I am being stupid and need to have a l

[2021-01-18 17:35] edvald commented on #2202
Good catch, thanks for reporting! We should fix that with a bit of validation in the create command.

[2021-01-18 19:27] jftheroux-devolutions commented on #2190
I managed to work around the issue with this step in a workflow:

[code]

[2021-01-20 11:04] #2190 closed

[2021-01-20 13:11] #2129 closed

[2021-01-20 13:56] jftheroux-devolutions opened #2221 "when linking a terraform module for local development, garden is complaining about initRoot missing when trying to display the plan"
## Bug

### Current Behavior

I'm using the following module at the moment:

[code]

I've linked my module locally by running `garden link module app-service /Users/jft/src/garden/garden-app-service`

After making a change to my Terraform code, I'm running the following command to see what would be applied `garden plugins terraform plan-root`

And I get this error:

[code]

But running `garden dep

[2021-01-20 13:59] edvald commented on #2221
Hey @jftheroux-devolutions. If I'm not misunderstanding, I _think_ this might be an issue of just using the wrong plugin command. Per your example, the idea is that you'd use `garden plugins terraform plan-module app-service`, instead of the `plan-root` command. Does that work?

[2021-01-20 14:09] jftheroux-devolutions commented on #2221
Debugged on Slack with Jon. User error.

[2021-01-20 14:09] #2221 closed

[2021-01-21 13:38] gloelmat opened #2226 "Error registering workflow run undefined/api/workflow-runs"
## Bug

### Current Behavior

We are using a garden workflow (that publishes Docker images to AWS ECR) as part of our cicd on github actions. Since yesterday afteroon we are getting the following error message (see screenshot below).
We have not changed anything about the workflow setup. However, we noticed that the garden version was updated to 0.12.13 yesterday.

An error occurred while register

[2021-01-21 13:50] 10ko commented on #2226
Hi @gloelmat, thanks for the detailed report.
We are currently investigating the issue and we'll keep you posted.

[2021-01-21 16:10] #2226 closed

[2021-01-22 10:49] 10ko commented on #2226
@gloelmat this is now fixed with [`0.12.15`](https://github.com/garden-io/garden/releases/tag/0.12.15).
Thanks again for reporting.

[2021-01-22 18:37] edvald commented on #2176
It's possible this has been fixed in the latest release. Could you give it a try?

[2021-01-25 13:56] graemechristie commented on #2096
I've implemented this work around, thanks for that it is certainly better than what I had previously. it does seem there are some circumstances where the namespace will still not get labelled. For example, if you delete and environment with `garden delete env`, then redeploy with `garden deploy`, it seems the exec provider state is still cached and it is not rerun when the namespace is recreated.

[2021-01-26 14:22] lucas-sonnabend commented on #1777
Can you re-open this please?
We just ran into that again. There is a workaround, but that is rather cumbersome and easy to forget.

My workaround is to use a shell script that runs after the test/task and flattens all files into subfolder to be files:
[code]

[2021-01-26 14:48] lucas-sonnabend commented on #1777
A colleague just found a nicer workaround, if all the files you are copying have the same format/suffix:
[code]
 I guess that means the glob for source is used to get all matching folders and files and pipes them to tar individually.
 And that command then fails on the folders.
 It should work if you filter out the folders from the glob result

[2021-01-26 17:05] mwebler commented on #1856
Hey there! @toby-1-kenobi  did you find how to solve it? I am having the same issues trying to follow the getting started tutorial or using the demo-project example. I get the error for either local `docker-desktop` or remote GKE contexts:
[code]

The full logs with `--log-level 5` are attached: [error.log](https://github.com/garden-io/garden/files/5874798/error.log)

I'm on MacOS Big Sur 11.1 and

[2021-01-26 17:20] mwebler commented on #1856
So, it seems that something was going wrong with one of the many contexts I had set on my kubeconfig. Maybe Garden is trying to parse some invalid config from an unused context?

After running `kubectl config unset contexts` to clear the existing contexts and connecting again to my remote GKE cluster everything worked fine.

[2021-01-27 23:52] singerxt opened #2231 "All cli commands failing."
## Bug

### Current Behavior

All commands from the garden _cli_ failing with `Command "git rev-parse --show-toplevel" failed with code ENOENT:`

[code]

I started experiencing this issue after doing multiple `garden link source ${project_name} ${path_to_repo}`

error.log file
[code]

my git client seems to work as expected :-)

### Expected behavior

Commands are working.

[2021-01-28 00:27] edvald commented on #2231
Hmh, never seen that one before. The ENOENT error generally means "no such file or directory", which by looking at the code, in this case could refer to either not being able to find `git` or the directory it's attempting to run it from. So my first question to rule out the basics would be: Are you _absolutely_ sure all the `${path_to_repo}`s  that you linked to point to directories that actually

[2021-01-28 11:18] singerxt commented on #2231
Yeah, it is. However, now I cannot unlink it too.

[code]

[2021-01-28 11:27] edvald commented on #2231
You could try removing the `.garden` directory, which will basically reset the links, and then try linking the sources one by one to see if there's a particular source that's causing the problem (which would be my suspicion). When you find one that causes an error, it'd be handy to see what the paths are, and see if there's something we can glean from those.

[2021-01-28 15:51] singerxt commented on #2231
@edvald You were right I was pointing to a folder that does not exist. However, you might want to validate input for the `garden link` command in the future. Because I was able to broke the whole CLI because of that :-).

Thank you for all your help

[2021-01-28 15:51] #2231 closed

[2021-02-01 11:47] gloelmat opened #2234 "Failed resolving provider minikube 1.17.0"
## Bug

### Current Behavior

After updating minikube from 1.16.0 to 1.17.0 we receive the following error when running garden commands like

garden run/test/deploy etc.

[code]

### Expected behavior

### Reproducible example

### Workaround
Pinning version to minikube 1.16.0
We would like to update to minikube 1.17

### Suggested solution(s)

### Additional context

### Your environment
macOS ca

[2021-02-02 14:00] eysi09 opened #2235 "Can't use local env vars in template strings in workflow steps"
## Bug

### Current Behavior

I'm getting a validation error when using local env vars in workflow steps, see repro below.

### Reproducible example

Create a workflow like this:

[code]

Run `garden validate` and observe the error:

[code]

### Workaround

This only seems to be an issue with local env vars so the following should work:

[code]

### Suggested solution(s)

### Additional context

T

[2021-02-03 17:46] #2118 closed

[2021-02-03 18:16] tvollstaedt commented on #2122
Hey, I saw commits that address the 404 handling. I just wanted to inform you that unfortunately it's not completly fixed, the error output has just changed. It's now resulting in:

[code]

[2021-02-03 18:37] edvald commented on #2122
Thanks @tvollstaedt, I think I can spot the problem now (the improved error message did at least serve that purpose). We just need to gracefully handle CRDs being missing during the status check, I'll get on that.

[2021-02-03 18:43] tvollstaedt opened #2241 "Optional template variables seem to be broken since 0.12.13"
## Bug

After upgrading garden to v0.12.13, my workflow broke. I've boiled it down to handling of optional variables, in my case it's the definition of a Dockerfile within a `container` module.

### Current Behavior

The `container` module tries to pull the given `image` instead of building it. This is because it doesn't recognize a Dockerfile, given through the instruction `dockerfile: ${var.dock

[2021-02-03 18:53] edvald commented on #2241
Thanks for the detailed report @tvollstaedt. I'm gonna take a quick look. One quick thing to validate this: Does the example work if you hardcode the dockerfile value, instead of the template reference?

[2021-02-03 18:57] tvollstaedt commented on #2241
Yep, hardcoding or simply removing the `?` fixes the example.

[2021-02-03 20:26] edvald commented on #2241
Got it, thanks! I'll address this ahead of tomorrow's release.

[2021-02-03 20:50] edvald commented on #2241
Actually I'm so far failing to reproduce this. Using the exact example you provided (adding the `Dockerfile.example` file with just a `FROM nginx` statement), it works just fine. And I added some tests to be sure the optional template strings work as expected, just to make sure.

One possibility is that it's already something fixed on the current master, or that there's something different in our

[2021-02-03 20:54] edvald commented on #2241
There have also been a couple of patch releases since 0.12.13, so I'd be curious if 0.12.15 has the same problem.

[2021-02-03 21:11] tvollstaedt commented on #2241
Hi Jon, thanks for looking into it! I've just tried the latest 0.12.15 with an empty kubernetes cluster and still got the same result.
It only works if your cluster / daemon did not build/tag that image before.

Anything else that could differ between our systems in garden's point of view?

[code]

[2021-02-03 22:26] edvald commented on #2241
I think I figured it out. That was a subtle one. I'll see if I can fix this ahead of the release, want to make sure we don't accidentally break something else.

[2021-02-04 08:15] #2241 closed

[2021-02-04 08:29] #2122 closed

[2021-02-05 15:25] #2235 closed

[2021-02-09 07:01] justicel commented on #2176
Unfortunately it appears to still randomly occur and only for headless services.

[2021-02-12 07:22] jeremiahlewis-vw commented on #2234
I can confirm this issue in my machine (which affects the latest stable version of minikube).

[2021-02-12 10:35] edvald commented on #2234
Are you on the latest Garden version? We updated the kubectl version in that one, and I ran tests with that myself, couldn't reproduce.

[2021-02-12 11:35] jeremiahlewis-vw commented on #2234
Works great. Should have rechecked the newest version before pinging. Thanks!

[2021-02-12 11:36] edvald commented on #2234
No worries, I should have commented on the issue! I'll close this then, thanks for confirming :)

[2021-02-12 11:36] #2234 closed

[2021-02-12 11:38] edvald commented on #2201
Thanks for flagging this @OliverSanftleben. I think you're right, we should simply skip the depth parameter, we'll take a look.

[2021-02-12 14:15] LeoDupont opened #2252 "Deploy hangs at "Attempting to initialize EnterpriseAPI client" when a remote source is linked"
## Bug

### Current Behavior

I have a Garden project with several remote sources.
I usually have no problem deploying the project with either linked or unlinked sources.

But for one new remote source, I have a problem: the deployment hangs at the very first stage if the source is linked to a local directory (it works well if not linked though):

[code]

And it doesn't progress further even after

[2021-02-12 16:56] edvald commented on #2252
Thanks for the report @LeoDupont. I'm still not sure what the cause might be, but I'll try to see if I can reproduce.

[2021-02-13 20:43] #2079 closed

[2021-02-14 12:50] qeternity opened #2253 "Non-existant ignore file silently breaks project yaml"
## Bug

### Current Behavior

If the project yaml references a non-existent ignore file, garden will fail silently with `No services to deploy. Aborting.`

### Expected behavior

A descriptive error message and hopefully a working deploy

###

We ran into this because we had a few ignore files listed at the project level under `dotIgnoreFiles`. At some point, we consolidated two of these files, bu

[2021-02-16 06:45] #2124 closed

[2021-02-16 06:46] #1793 closed

[2021-02-17 15:57] Chipcius commented on #2096
I am having the same problem with **annotations** for namespaces as well. If that can be added in while this is being fixed I would appreciate it, otherwise I'll create another issue ticket

[2021-02-17 16:47] Chipcius commented on #2184
To me this looks like if the garden process is interrupted on my machine the Kanko pods are not cleaned up after builds.

Example the process terminated by `CTRL+C`

[2021-02-18 03:21] #2007 closed

[2021-02-18 03:21] #2022 closed

[2021-02-18 03:21] #2092 closed

[2021-02-18 15:43] Chipcius opened #2255 "Intermittent failure of DNS resolution when running garden agains domain based k8s"
## Bug

Garden intermittently fails to resolve the DNS server name of my K8s cluster within my `kubernetes` provider

### Current Behavior

During CI/CD in drone using docker runner
[code]

I get the following output intermittently. At this point it has already build 4+ other services in the k8s cluster using kaniko on the cluster `rancher.<redacted>`

Example 1:
[code]

Example 2:

[code]

### Ex

[2021-02-18 15:52] edvald commented on #2255
Hmm that's interesting. We don't do anything particular in terms of DNS resolution, just let the underlying runtime take care of that (which just uses the standard getaddrinfo syscall). I can take a look to see if this is something Node.js allows us to work with, in some reasonable manner. I guess this doesn't often come up because kubeconfigs frequently use direct IPs instead of hostnames, but I

[2021-02-18 15:57] Chipcius commented on #2255
Yeah strange ... the host should also have a cached version of the DNS requests in most cases so this is very strange to me. Might be some race condition? :thinking:
We did an exhaustive look to make sure this was not a problem with our build machines before reporting the issue. They had no problems doing the DNS lookup

[2021-02-18 16:14] edvald commented on #2255
Yeah it must be something triggered by the sheer number of concurrent lookups. That would be my guess at least, based on your report. I'll do a bit of digging on my side later today or tomorrow at latest, and see what we can come up with. I guess a crude workaround would be to just hardcode the IP in the kubeconfig while you kick this around, not sure how feasible that is in your setup?

[2021-02-18 16:36] Chipcius commented on #2255
@edvald  That will not work without some major changes in how we host our rancher setup

[code]

[2021-02-18 16:44] edvald commented on #2255
Ah yes, let's not go down that road then :P I'll poke around on our side and try to come up with something sensible. Only remaining thing to try outside of Garden would then be some DNS caching on the build nodes, not sure if that's tractable either, depending on how it's all set up.

[2021-02-19 11:31] edvald commented on #1852
Hey @vrybas. It's possible that we'll be able to get in-cluster building working on microk8s with the new buildkit integration (#2216). Is this still relevant for you? If so I can re-open and give it a quick spin after we release that.

[2021-02-22 10:14] #2096 closed

[2021-02-22 10:22] Chipcius commented on #2255
Adding the host record in  `/etc/hosts` looks to be working as a hot fix for this issue.

[2021-02-22 10:27] edvald commented on #2255
Ok cool. I've been exploring code-level solutions for this, and there seems to be a general consensus in the Node community that this is best solved at the OS level with something like dnsmasq. All the application-level options would involve some level of monkey-patching which feels risky to me, and may not actually catch all instances of DNS lookups. Is a DNS cache on your build nodes something r

[2021-02-22 12:17] Chipcius opened #2260 "Increasing the sync storege size fails initial setup"
## Bug
K8s error
[code]

### Current Behavior

When storage sync is set to any larger than 100GB value it fails to provision

### Expected behavior

Provisioning a garden setup with any size sync storage should provision successfully.

### Reproducible example

`project.garden.yaml`
[code]

### Workaround

1. Provision the Garen with the default values for sync size
2. Set the desired sync disk si

[2021-02-22 12:27] Chipcius commented on #2255
That would mean custom docker images for building the garden setup. I would rather use upstream images without changes. This is likely to be an issue for other users as well in the future.

Can't we just cache the DNS lookups in the app? It is usually not anywhere near the first lookup that fails during the execution. The first few succeed without fail 99% of the tiem. Usually it is mid way throug

[2021-02-22 18:01] Chipcius opened #2261 "Unable to use standard docker image with Github and deploy keys (Missing SSH)"
## Bug
When building with a private remote repository using SSH it fails as SSH is not installed on the default CI docker image `gardendev/garden:0.12.16`

### Current Behavior

[code]

### Expected behavior

The default image should have openssh-client installed to allow for a full git clone using SSH

### Reproducible example

1. Setup a module with remote repository using the ssh remote (git@gi

[2021-02-22 19:03] edvald commented on #2261
Gotta love a one-line PR, just in time for today's release .)

[2021-02-22 20:09] #2261 closed

[2021-02-23 09:58] Chipcius opened #2266 "[FEATURE]: Self update on garden cli"
## Feature Request
It would be really nice to have a self update on the garden cli interface to simplify the update process when a new release comes out

### Background / Motivation

I have 20+ guys and gals working with Garden and telling them to use the install script for updating the garden environment every time there is a new release is going to get old really fast and people are going to lag

[2021-02-23 10:38] edvald commented on #2266
That makes a ton of sense. It's been on our radar for a bit, just needed a nudge to prioritize it .) It's conceptually pretty easy to update Garden in place, since it's really as easy as replacing the files in the installation directory. I'll have a look this week.

[2021-02-23 19:30] Pacobart commented on #2181
Bump. We are running into issues where setting `version: null` isn't being honored by garden and is still using 0.13.3. We'd like to at least have the matching updated so we could use terraform `0.13.6`. Thoughts?

[2021-02-23 20:26] edvald commented on #2181
Hmm, curious what the issue with `null` is, need to look into that. Any pattern to how/where/when that's coming up?
But yep, we can get on this regardless.

[2021-02-24 14:36] edvald commented on #2176
There's again a chance this is fixed in our last release. If it isn't, could I perhaps trouble you for a bit more info to debug? For one it'd be good to know which exact command you're running. Also, running that command with `--log-level=silly` to see the nearest logs to the failure would be handy.

[2021-02-24 14:39] #2181 closed

[2021-02-25 13:48] Chipcius opened #2274 "Error cleaning up cluster registry"
## Bug
Failed cleaning images from in-cluster registry: Error: Could not find running pod for Deployment/garden-docker-registry

### Current Behavior

When I run `garden garden plugins kubernetes cleanup-cluster-registry`

It looks like it is re-creating the docker-registry pod and goes into a failed state after being required to wait for the old container to die before getting access to the volum

[2021-02-28 21:30] langfors opened #2282 "Error validating configure container output from provider local-kubernetes"
## Bug

### Current Behavior

Getting this error message which I am unable to understand:

`admin-ui: Error validating configure container output from provider local-kubernetes: key .moduleConfig.include[1] must be a relative sub-path (may not contain '..' segments or be an absolute path)`

### Expected behavior

I had a nice configuration building and all of a sudden I am getting this error I can

[2021-03-01 13:41] failshell opened #2283 "Garden trying to evaluate modules while linking source"
## Bug

### Current Behavior

Garden is trying to evaluate modules based on the defined sources in the project while linking sources. That leads to an error.

[code]

### Expected behavior

I should be able to link sources without garden evaluating the defined sources in the project.

### Workaround

Comment module and link, then uncomment the module.

### Your environment

* **OS:** macOS
* **gar

[2021-03-02 12:35] failshell opened #2284 "Allow --env with plugin commands like terraform"
## Bug

### Current Behavior

--env isn't supported by garden plugin commands.

### Expected behavior

I would like to be able to specify an environment to be able to test changes.

### Reproducible example

Run something like `garden plugin terraform plan-module -- test-module --env=test`

### Workaround

Change default environment in project definition.

### Your environment

* **OS:** macOS
* *

[2021-03-02 12:37] edvald commented on #2284
This is actually supported, you just need to put the flag before the `--` flag (which is intended to separate Garden options from the plugin command options).

[2021-03-02 13:15] failshell commented on #2284
ah yes, my bad. that works.

[2021-03-02 13:15] #2284 closed

[2021-03-02 16:32] langfors commented on #2282
I solved this by using specific includes in the module yml

[2021-03-02 16:32] #2282 closed

[2021-03-02 16:35] edvald commented on #2282
Ah, good catch @langfors. It could have been some inferred paths from the Dockerfile. Do you see any suspects in the Dockerfile? I'd be keen to fix that, probably something to do with the Dockerfile parsing that we do.

[2021-03-05 15:44] #2136 closed

[2021-03-08 18:15] ITHedgeHog commented on #2266
Whilst we have a smaller team, it is one of the barriers to the adoption of garden.io to our process. It would be awesome if it came sooner rather than later.

[2021-03-10 12:19] csgergo123 opened #2299 "Missing files from docker image"
## Bug

### Current Behavior

It seems sometimes the garden.io builds incorrectly the docker image. Somehow one file is missing from the image that is there in the source folder in my machine. Files are missing according to the error log. The missing file is not always the same.

`garden build` -> The build is successful.
`garden deploy` -> The deploy process sometimes works fine, sometimes fails

[2021-03-10 13:05] edvald commented on #2299
Hey @csgergo123. That's quite odd. We'd need quite a bit more information to go on though to try and debug. Can you share the configuration for the module in question?

[2021-03-16 16:14] noizwaves opened #2309 "[FEATURE]: Configurable resource requests for container type services"
## Feature Request

### Background / Motivation

We are currently running into issues when deploying preview environments to an EKS cluster that I think could be solved with [configurable resource requests](https://github.com/garden-io/garden/blob/master/core/src/plugins/kubernetes/container/deployment.ts#L348-L353).

### What should the user be able to do?

Specify resource requests per service i

[2021-03-17 10:45] ITHedgeHog opened #2311 "Garden does not support openid-connect token authentication"
## Bug

### Current Behavior

When using Garden against an Azure AKS Cluster which has Azure AD backed RBAC enabled garden commands time out after 15 minutes as shown below:

![image](https://user-images.githubusercontent.com/13481/111453829-e7e70880-870b-11eb-9559-700dc32ac684.png)

This persists until you run a command in kubectl (I use kubectl version) which obtains a new token from the cluster

[2021-03-17 10:57] ITHedgeHog opened #2312 "[FEATURE]: Support targetImage flag in Test Commands"
## Feature Request

### Background / Motivation

As a .Net Core developer I am used to only running the test suite of my application in the build stage of my docker container, against the .Net Core SDK. When publishing the project to the final stage of the docker container the test suite is not included, as it is not required in production.

Currently I have to maintain two module definitions for

[2021-03-17 11:13] ITHedgeHog commented on #2299
I run in to something with sounds like the same issue, when I'm debugging next and it happens I'll grab some repo steps (The project is opensource, so hopefully you can replicate).

I have a work around at the moment, which is to make a whitespace change to the Docker file and save it - it seems to resolve it.

[2021-03-18 12:14] estoesto opened #2315 "Module Templates makes Hot Reload go into infinite loop"
## Bug
### Current Behavior

When using Module Templates for the `kubernetes` type and Hot Reload together, any file change will result in Hot Reload looping forever. I suspect Hot Reload makes `module.generateFiles()` rewrite the generated .yml file which then triggers Hot Reload again. I verified this by checking the Linux timestamp on the generated file, which keeps changing.

Using `.gitignore

[2021-03-18 13:38] carlosjgp opened #2317 "[FEATURE]: Specify test and tasks mem/cpu resouces"
## Feature Request

### Background / Motivation

Improving PODs stability and performance across the whole cluster by tweaking POD Container resources more aligned to their actual usage to avoid incredibly high CPU load and the OS (not K8s mem limit) OOMKilling processes

### What should the user be able to do?

Set container resources on tasks, tests or any other container that runs on K8s as par

[2021-03-22 12:58] csgergo123 commented on #2299
Hey @edvald .
I have a repo called admin.

Most of the times the process going well. But sometimes the node application crashes.
Right now the exact error is:

Screenshot. https://ibb.co/bBrYC9b
This screenshot clearly shows that all the files are in the original directory, but the container which was launched from the faulty image is missing the knexfile.

The application seaches the knexfile in

[2021-03-24 07:25] andreygolev commented on #2299
Maybe that's related to my issue as well.

I do have a PHP application.

I run "composer install" locally in order to fetch all dependencies into "vendor" directory.
After that I run either "garden build" or "garden dev".
It syncs sources to a buildkit and builds image.
After it's built, there are missing some dependencies.

Dockerfile is simple as:
COPY . /www/default

If I build image simply wit

[2021-03-26 13:33] csgergo123 commented on #2299
Yes, when this error occurs the problematic files are missing from the projectName/.garden/build/projectName directory too.

[2021-03-26 13:36] edvald commented on #2299
Thanks for the added info. This tracks with my suspicion, which is that it's a concurrency problem in how we're doing build staging in the `.garden/build` directory.

Could you try running with `GARDEN_LEGACY_BUILD_STAGE=true` in your environment, to see if everything works fine then? This would confirm my suspicion. Still need to work out _why_ exactly this is happening, but I'm digging into that

[2021-03-26 18:42] csgergo123 commented on #2299
@edvald Where should I use exactly the GARDEN_LEGACY_BUILD_STAGE option?

[2021-03-26 18:43] edvald commented on #2299
Sorry, should have clarified, that's an environment variable in your shell.

[2021-03-26 18:44] edvald commented on #2299
Also an update: We'll revert to make that the default as of next release, while we figure out what's causing the issue.

[2021-03-29 13:49] graemechristie opened #2330 "Garden not refreshing auth tokens"
## Bug

Garden does not refresh auth tokens in the same manner that kubectl does. When using garden with AKS and RBAC set up,  the token in the kubeconfig file will expire and garden does not fetch a new one (as for e.g. kubectl does). I need to do a manual `kubectl get pods` or other arbitrary kubectl command then garden will continue working. This issue looks to have been reported several years

[2021-03-29 13:54] edvald commented on #2330
Thanks @graemechristie. I think we might need to update our k8s client library (which we didn't write ourselves), I sort of suspect this has been fixed upstream. I'll take a look.

[2021-03-29 16:24] ITHedgeHog commented on #2330
If it does @edvald you can close this too https://github.com/garden-io/garden/issues/2311

[2021-03-29 16:30] edvald commented on #2330
Perhaps I could trouble you to give the build a spin, to see if it does the job? https://app.circleci.com/pipelines/github/garden-io/garden/8935/workflows/e6fe4f59-061f-49a3-b638-73ab20964af3/jobs/114125/artifacts

The first four artifacts are the packaged builds for the PR. Just need to curl and extract the appropriate archive and run the binary from there, instead of the installed one. _Note: on

[2021-03-29 16:34] ITHedgeHog commented on #2330
Grabbing it now

[2021-03-30 20:30] MFAshby opened #2333 "[FEATURE]: ARM64 support for the garden CLI"
## Feature Request

Hi! I would love to be able to use garden from my low power ARM64 based laptop.

### Background / Motivation

I work on a fairly heavyweight project, a web service backed by multiple docker containers running java apps, but I'd love to be able to work from a low power machine without being tied to a large workstation all day.

### What should the user be able to do?

Install an

[2021-03-30 21:29] MFAshby commented on #2333
I took a quick look, it seems garden downloads binaries for some external tools like kubectl, docker, etc, so finding arm64 binaries for those should do it.

One problem might be hadolint: it doesn't supply an arm64 build although someone is trying to fix that: https://github.com/hadolint/hadolint/issues/411

[2021-03-31 05:49] #2045 closed

[2021-03-31 05:49] #1798 closed

[2021-03-31 07:06] thsig commented on #2333
Hi @MFAshby—thanks for flagging this! I think finding arm64 binaries for the external tools should do the trick.

I wonder if it would make sense to conditionally skip loading/requiring the hadolint plugin on arm64 until they have an arm64 build available? @edvald

[2021-04-01 16:42] ITHedgeHog commented on #2330
@edvald Sorry for the delay, still getting this when in use:

StatusCodeError from Kubernetes API - 401 - {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","mes
sage":"Unauthorized","reason":"Unauthorized","code":401}

That is with garden 0.12.20

[2021-04-01 21:40] ITHedgeHog commented on #2330
Sorry I should clarify, that it works initially - but leaving garden dev running eventually returns that error message.

[2021-04-02 02:22] altitudems commented on #1547
I was testing garden.io for deployment onto and edge cluster using arm64-based nodes and ran into the same issue.

Adding support for arm64 would be fantastic for everything from dev clusters, edge clusters, and AWS Arm64 EC2 instances as part of an EKS cluster.

[2021-04-02 02:26] altitudems commented on #1547
For further reference, I get a 'exec format error' error when trying to init the cluster. For me it bombed trying to deploy a garden-nfs-provisioner-v2 pod:

[code]

[2021-04-02 02:44] altitudems commented on #2333
I just added a comment on #1547.

I'm guessing this wasn't high priority, got stale and closed. Totally get it, but maybe we keep this on the radar?

Support for arm64 cluster-init and multiarch image building would be a great thing, esp. since arm64 is growing momentum :)

- Arm64 dev workstations, edge nodes, raspberry pi clusters, etc.
- Google, Amazon, Microsoft, Apple, Nvidia, and Intel are a

[2021-04-02 05:04] altitudems commented on #2333
@MFAshby If you start a pull request, I can try and help.

[2021-04-02 13:02] edvald commented on #2330
Ah I see, that does clarify. That we can probably handle on our side by automatically retrying the requests. I'll need to inspect their code but I suspect the client library doesn't do that sort of thing out of the box.

[2021-04-03 15:25] ITHedgeHog commented on #2312
Duplicate of  2330

[2021-04-03 15:25] #2312 closed

[2021-04-03 16:29] graemechristie commented on #2312
@ITHedgeHog  - I'm not sure #2330 is related to this one. #2330 is around Garden not refreshing Auth Tokens.

[2021-04-05 11:40] qeternity commented on #2333
Would be great to see darwin arm64 as well given the Apple Silicon push. Happy to take the reigns on that if nobody is looking at it.

[2021-04-05 12:15] edvald commented on #2333
Agreed, it would be good to get Mac ARM64 sorted as well, but we may be blocked on that front for the moment because of mandatory code signing issues that collide with how we're _currently_ doing our binary distribution. We have some thoughts on how we might proceed on that front but it'd take a bit more doing and I'd expect to to be a fairly deep rabbit hole for you @qeternity :) Have you found a

[2021-04-05 17:13] qeternity commented on #2333
Understood, having done some macos notarization in the past, I am perfectly content to let this be someone else's problem 😂

As for the x64 version, it runs fine but I notice substantially more disk usage (like an absurd amount) when I run Rosetta 2 apps so I am trying to get usage down to zero (granted, this is an Apple problem, not a garden problem).

[2021-04-05 17:23] edvald commented on #2333
That's interesting. Can you elaborate on the disk usage a bit? How/where does that manifest and how much are we talking?

[2021-04-06 10:47] edvald commented on #2315
Thanks for flagging this @estoesto. It took me a little while to work out how this would be happening, I've now tracked it down and will try and find time to make a PR soon.

[2021-04-06 10:59] edvald commented on #2255
Is this resolved for you now @Chipcius?

[2021-04-06 14:48] eysi09 commented on #2191
Turns out this is not an issue with Garden, but rather the local Docker Desktop node was "tainted" with `node.kubernetes.io/disk-pressure:NoSchedule`.

I fixed this issue on my end by:

1. Running `docker system prune`.
2. Restarting the Docker Desktop K8s cluster (via the Docker Desktop UI).

[2021-04-06 14:48] #2191 closed

[2021-04-07 18:24] Dariusch opened #2339 "BuildKit tries to reach un-deployed garden-docker-registry"
## Bug

I am running `cluster-buildkit` on GKE on `cos_containerd` against Google Container Registry and I am encountering errors reaching a service which is not available.

### Current Behavior

There is a BuildKit deployment created in each namespace.

The BuildKit proxy container tries to reach the `garden-docker-registry.garden-system.svc.cluster.local` (every 10s) but there is no such service

[2021-04-08 09:53] eysi09 commented on #2339
This sounds like a bug and that we're returning the in-cluster registry as opposed to the external registry configured on the provider when getting the registry host name. @edvald, does that make sense or are we missing something?

[2021-04-08 12:33] eysi09 commented on #2317
Hi @carlosjgp

Thanks for the feature request. First off, are you using the `container` module type or `kubernetes`/`helm` module types?

If you're using either of the latter two, you can tweak these values based on the "command context". For example, it's common to set a higher health check values when in hot reload mode:

[code]

You could achieve something similar for the resource requests/limi

[2021-04-08 12:39] eysi09 commented on #2311
Hi @ITHedgeHog

Apologies for the late reply! We've been a little swamped lately and this one slipped through the cracks. I'll run this by the team and report back with a timeline ASAP.

[2021-04-08 12:53] eysi09 commented on #2311
This might actually have been fixed in version `0.12.20`, where we updated the k8s client lib, which generally handles this sort of thing. Would you mind giving that a spin and see if you can use Garden for more than 16 minutes?

[2021-04-08 13:21] ITHedgeHog commented on #2311
Hi @eysi09 I've been testing over the past few days, it is not fixed in 0.12.20 I've restored to putting a 10 minute scheduled task on my machine to run kubectl version to keep things working

[2021-04-08 13:27] edvald commented on #2311
Ok, we might need to flag or fix this in the upstream library (https://github.com/kubernetes-client/javascript). I'll see if I can work out where/why the problem lies, if it's an upstream bug, Garden bug or a missing capability in the client lib.

[2021-04-08 13:44] ITHedgeHog commented on #2311
Yeah, I've been having a look at that trying to find more information for you, but to be honest I'm a little lost with it! :)

If I find anything that seems relevant I'll flag it here :)

[2021-04-09 10:42] csgergo123 commented on #2299
@edvald  It seems v0.12.20 solves the error with the default rsync setting. Thank you.

[2021-04-11 05:20] tedchang77 opened #2340 "[FEATURE]: Support Module Type Pulumi"
## Feature Request

### Background / Motivation

We currently use Pulumi to deploy our k8s applications and infrastructure.  Would love to use Garden but we it would need to support Pulumi.

### What should the user be able to do?

Use pulumi to deploy to k8s applications and infrastructure.

### Why do they want to do this? What problem does it solve?

Ability for devs and our CI to use Garden.

[2021-04-12 18:21] eysi09 commented on #2309
Hi @noizwaves

You can of course work around this by using the `kubernetes` module type. And with module templates, you can prevent duplicating the config. [Here's our guide](https://docs.garden.io/using-garden/module-templates) on the topic. Do you think that would make sense for your use case?

That being said, the `container` module type is pretty popular and almost exclusively used with the K8

[2021-04-14 07:43] Dariusch opened #2344 "[FEATURE]: shell autocompletion"
## Feature Request

### Background / Motivation

To speed up the development workflow it would be nice to have shell autocompletion for the garden cli.

### What should the user be able to do?

The user should be able to autocomplete garden commands, preferably for the commands which are run more often, like
`garden run service <service> [options]`
`garden run task <service> [options]`

with the `

[2021-04-14 08:56] carlosjgp commented on #2317
@eysi09  Thanks for your quick response. Allow me to reply to your questions

We are currently using `container`

Thanks for the suggestion.
I've been comparing all the three types, `container`, `Kubernetes` and `Helm`
- `container` is not suitable due to what I described on this issue
- `Kubernetes` is not suitable either since test should be a `Job` on Kubernetes we don't consider that `Deployme

[2021-04-14 18:20] eysi09 commented on #2344
Hi @Dariusch!

This is a great feature request and we'd love to find time to add this. We've basically been talking about this since the day we started the project. Still very much on the roadmap but the timeline is a little fuzzy :)

[2021-04-14 20:14] eysi09 commented on #2340
Hi @tedchang77

That's a super interesting feature request. We've talked about Pulumi support before but haven't really found time to action it.

We're trying to keep a sensible scope on the number of plugins supported by the Garden team and there's not a lot of Pulumi expertise on the team. That being said, I think this would make perfect sense as a community supported plugin. Is that something y

[2021-04-14 20:19] eysi09 commented on #2309
Just to follow up, we've decided to add resource requests to the container module type. Thanks for the suggestion!

[2021-04-14 20:24] eysi09 commented on #2317
When Garden runs a test for the `kubernetes` module type it doesn't create a deployment but rather runs the pod directly. So that might work as well in your case. (It doesn't create a Job though, just a Pod resource that runs the test and spins back down).

That being said, with #1646 (on the todo list) you'll be able to set both resource requests and limits on the container module type. I think w

[2021-04-14 22:20] eysi09 commented on #2252
Apologies for the delay on this one. I'm looking into it. I'll keep you posted.

[2021-04-14 22:27] eysi09 commented on #2172
Apologies for the late reply on this one. Completely slipped through the cracks. One workaround is simply to not use the in-cluster registry but rather an [external deployment registry](https://docs.garden.io/guides/in-cluster-building#configuring-a-deployment-registry). It scales a lot better and is generally our recommended approach. Another added benefit is cache sharing across clusters.

That

[2021-04-14 22:27] #2172 closed

[2021-04-14 22:27] eysi09 commented on #2274
This is also a duplicate of #2172 which I just closed in favour of this one.

[2021-04-14 22:30] eysi09 commented on #2274
For anyone bumping into this, one workaround is to simply use an [external deployment registry](https://docs.garden.io/guides/in-cluster-building#configuring-a-deployment-registry).

It scales better, does away with the need to operate the in-cluster registry and allows you to share caches across clusters.

[2021-04-14 22:31] eysi09 commented on #2260
We'll actually be removing the NFS dependency for Kaniko soon so this should resolve itself with that.

[2021-04-14 22:31] eysi09 commented on #2283
Thanks for the report. I'll look into this.

[2021-04-14 22:32] eysi09 commented on #2253
Thanks for the report. We should definitely provide better errors here.

[2021-04-15 10:00] eysi09 commented on #2311
@twelvemo, didn't you bump into something similar when setting up the Azure container image?

[2021-04-15 10:03] eysi09 commented on #2266
I agree, this would be a great addition!

[2021-04-15 10:05] twelvemo commented on #2311
Yes. There is a tool called kubelogin (https://github.com/Azure/kubelogin) that might help. Have you tried that one out @ITHedgeHog ?

[2021-04-16 08:22] lukad commented on #1253
I just started using garden and I think two way sync would be very useful. In one of the rails projects I'm working it's not trivial for me to even run `bundle install` locally without several workarounds. So running my generators and db tasks is not really an option. My current workaround is to `garden exec` into the container and manually copy paste the generated files to my local repository. I

[2021-04-16 09:12] edvald commented on #1253
I happen to be working on it as we speak :) Can't give an exact ETA just yet but it'll be there within a release or two (no doubt with some iteration along the way)

[2021-04-16 09:58] lukad commented on #1253
That's awesome! Thanks for your work.

[2021-04-16 16:25] ITHedgeHog commented on #2311
I'd not, I'll take a look at this next week. Thanks @twelvemo 👍

[2021-04-19 15:50] noizwaves commented on #2309
Great, thanks for the update @eysi09 !

[2021-04-19 21:16] marcelloromani opened #2355 "Error: UPGRADE FAILED: "garden-nfs-provisioner-v2" has no deployed releases"
## Bug

### Current Behavior

[code]

### Expected behavior

The Garden nfs provisioner should be installed successfully

### Reproducible example

### Workaround

The workaround is mentioned in the troubleshooting guide of Garden:

https://docs.garden.io/misc/troubleshooting#a-deployment-is-failing-with-less-than-release-name-greater-than-has-no-deployed-releases

The specific command is therefor

[2021-04-19 21:17] marcelloromani commented on #2355
Closing the issue as I found the workaround and only reported this hoping that Google will index the exac error message.

[2021-04-19 21:17] #2355 closed

[2021-04-20 10:00] eysi09 commented on #2311
I'm closing this as a duplicate of #2330. We can continue the conversation there :)

[2021-04-20 10:00] #2311 closed

[2021-04-21 20:37] Chipcius commented on #2255
Issue is still present in the latest version

[2021-04-22 03:29] tedchang77 commented on #2340
Hi @eysi09,

I was able to integrate pulumi with Garden using the exec and kubernetes module. We are currently in the process of evaluating Garden and if we decide to move forward this is something that we would definitely consider.  Would it make sense for this community plugin to utilize the plugin SDK that will be published later this year?

[2021-04-26 13:34] OliverSanftleben opened #2365 "git submodules with 0.12.20 (no bug with 0.12.17)"
## Bug

### Current Behavior

When git submodules have no garden.yml (and they are not excluded with .ignore) some random files for config are loaded.

![grafik](https://user-images.githubusercontent.com/15686824/116090081-c9c5de00-a6a3-11eb-804a-8f39ad4588b5.png)

### Expected behavior

Projects without garden.yml should be ignored.

### Reproducible example

### Workaround

Explicitely exclude g

[2021-04-26 14:08] OliverSanftleben commented on #2365
exclusion with .gardenignore seems to have no effect, so I have no workaround

with 0.12.17 I have no such problems

[2021-04-27 13:12] eysi09 commented on #2365
Hi @OliverSanftleben

Judging by the screenshot, you're using remote sources. Are these the the git submodules in the remote source?

Also could you produce a minimal repro for us? That would really speed up the debugging and fixing on our end. Thanks!

[2021-04-28 14:17] Chipcius commented on #2255
This is present on the garden command in general and is happening quite often these days.

I just confirmed that the problem persists on Windows and Ubuntu 20.04 using the latest garden version `0.12.21`
![Selection_441](https://user-images.githubusercontent.com/1033039/116419231-61563880-a82c-11eb-8984-27dc95b886f0.png)

[2021-04-28 16:46] ultimatemonty opened #2369 "PVCs will not mount in 0.12.21"
## Bug

### Current Behavior
After upgrading from `0.12.16` to `0.12.21` our PVCs are no longer mounting as expected. We are receiving the following error:
[code]

`serviceResource` isn't mentioned in the [current PVC docs](https://docs.garden.io/reference/module-types/persistentvolumeclaim)

Unfortunately Homebrew has made it incredibly difficult to rollback to a previous version of a package.

O

[2021-04-28 17:32] jamesloosli commented on #2339
I'm having a similar issue with cluster-init.

relevant versions;

[code]

[2021-04-29 09:02] eysi09 opened #2370 "Error: write EPIPE when killing long running processes"
## Bug

### Current Behavior

When killing the `garden dev` command (or other watch commands), this error is sometimes thrown:

[code]

Looks like Node.js is trying to write to a stream that's already been closed. See [this Node.js issue](https://github.com/nodejs/node/issues/947) for more.

### Expected behavior

There shouldn't be an uncaught error.

### Reproducible example

It's a little trick

[2021-04-29 09:02] eysi09 commented on #2370
I put `pirority:low` for now since this kind of harmless and we have more important things in the pipeline. We should reconsider though if users are seeing this all the time.

[2021-04-29 10:04] eysi09 commented on #2369
Hi @ultimatemonty!

I _think_ I see where this could be happening, likely a bug that was introduced a couple of releases ago when we made some changes to how we handle module versions. That being said, our integ tests for this module type are passing and I'm having a hard time reproducing on my end. I created a PVC like the one you shared and referenced it from a container module type, but deployi

[2021-04-29 10:18] eysi09 commented on #2339
Hi @jamesloosli

Wondering if this has to do with using NFS on a cloud provider that doesn't play well with it. One of the reasons we want to get rid of it as a dependency. But in short, we've seen AWS and Azure have issues with it. Here's our [Troubleshooting entry](https://docs.garden.io/misc/troubleshooting#garden-build-sync-and-garden-docker-daemon-pods-stuck-in-containercreating-on-eks-or-aks

[2021-04-29 10:21] ITHedgeHog commented on #2330
I've just rested this on Garden 0.12.21

This is after a reboot of my development system, I open PowerShell and run garden dev (Without kubectl version) before hand.

[garden_dev_error.txt](https://github.com/garden-io/garden/files/6397851/garden_dev_error.txt)

Obviously, if I run kubectl version first the token is there - it doesn't look like it requests one at all currently?

[2021-04-29 10:28] eysi09 commented on #2330
So this happens on the first run of `garden dev`? And presumably other Garden commands as well, right?

We bumped the K8s client lib to the latest version before this release to ensure us being on an older version wasn't causing the original issue (from 1.14.0 to 1.14.3). Wonder if a regression was introduced on their end between releases.

I did scan the commits in K8s client lib but didn't see a

[2021-04-29 10:43] ITHedgeHog commented on #2330
Yep, I have just restarted my machine again and validated that garden build|test|validate exhibit the same behaviour.

[2021-04-29 10:55] ITHedgeHog commented on #2330
I see that in go this is the bit that makes it work https://github.com/kubernetes/client-go/tree/f6ce18ae578c8cca64d14ab9687824d9e1305a67/plugin/pkg/client/auth/azure

Looking through the repo for the node package you use I came across this: https://github.com/kubernetes-client/javascript/issues/358

It looks like it might be a known issue that is currently frozen.

Let me know if I'm way off base

[2021-04-29 13:58] ultimatemonty commented on #2369
@eysi09 thanks for getting back to me so quickly!

I've confirmed the PVCs work as-is with `0.12.20`. I've also tried deleting all the existing PVCs via `kubectl delete pvc --all` and then starting garden again and still see the same issue.

As a workaround we've forked the Garden homebrew formula and mirrored it to our internal tap and are enforcing 0.12.20 there.

I'm happy to help debug this fu

[2021-05-03 11:08] eysi09 commented on #2330
Interesting, that issue makes me wonder why it worked in the first place.

But we're currently working on a fix on our end that catches these kind of errors and refreshes the token—via the K8s client API though, so the assumption is that that works in the first place.

And just to be sure, this works on Garden v0.12.20? You can grab it from here: https://github.com/garden-io/garden/releases/tag/0.

[2021-05-03 11:37] edvald commented on #2340
Hey @tedchang77. Glad you weren't blocked on this. But yes, I think their new SDK would definitely be the way to go. It'd actually be a really nice feature and should be fairly easy to do. Once you're further along we'd be happy to dig into that with you, even do some pairing as needed.

[2021-05-03 11:46] edvald commented on #2370
Just posted a fix, we were just trying to close an already-closed server.

[2021-05-03 11:48] edvald commented on #2369
@eysi09 this appears to be related to the recent changes around the new dev mode, not the module version handling.

[2021-05-04 00:50] estoesto opened #2373 "[FEATURE]: Add support for Kubernetes modules with exec (to open an interactive shell)"
## Feature Request

### Background / Motivation

I am not entirely sure this should be a feature request or a bug. When running `garden exec` against a service deployed with the kubernetes module on a remote EKS cluster, I get the following error:
[code]
Running `garden plugins kubernetes cluster-init` results in:
[code]

This would be extremely useful when deploying django and node applications.

[2021-05-04 08:17] eysi09 commented on #1542
Opening this one again. Also being requested through our community Slack.

[2021-05-04 09:46] eysi09 commented on #2373
Hi @estoesto

Thanks for flagging this. You're absolutely right that this is missing, we simply hadn't gotten around to adding it yet. So yeah, not sure whether we should call it a bug or feature, I suppose it's both.

But we'll look into this and try and ship this within our next couple of releases.

[2021-05-04 09:52] eysi09 commented on #2369
Aha, ok. We tried reproducing this on our end but came up short. Any pointers, @edvald?

And thanks for the offer @ultimatemonty, I'll definitely reach out if we find ourselves blocked, but this should be an easy enough fix.

[2021-05-04 09:55] edvald commented on #2369
I think the issue has to do either with how we convert the PVC module to a Kubernetes module internally (which is how it's ultimately deployed) or the validation that follows. I suspect the former, probably tacking on the devMode stanza where we shouldn't.

[2021-05-04 09:56] eysi09 commented on #2255
Hi @Chipcius

We're working on improving how we interact with the K8s API which should fix these type of issues. Essentially the plan is to catch common errors like these, and retry the request (with exp backoff) until hopefully it succeeds.

This is hi-pri for us and we're hoping to ship it with our next release.

[2021-05-04 13:37] edvald commented on #2339
@Dariusch I've just pushed a PR (#2375) to get rid of the unnecessary sidecar container. I don't believe it would have had any adverse effect outside of spamming logs, but it's still better to mop it up. The `cluster-init` (and corresponding cleanup) command doesn't really do anything with BuildKit since it isn't installed cluster-wide, so that's quite normal. We're in fact trying to gradually get

[2021-05-04 13:38] edvald commented on #2339
Oh and @Dariusch that `connect from UNDETERMINED` log line is just the Kubernetes health check doing its thing. Shouldn't be anything to worry about, but if it's getting in the way we could maybe lower the frequency or the log level in the container.

[2021-05-04 21:46] jamesloosli commented on #2339
@eysi09 it indeed was my efs driver acting up. Once I resolved that issue, cluster-init completed cleanly.

[2021-05-04 21:54] edvald commented on #2339
That's good to hear :) One release from now you'll be rid of that thing for good!

[2021-05-05 09:51] Dariusch commented on #2339
No its fine, I already excluded those logs from indexing

[2021-05-06 02:04] tedchang77 commented on #2015
@edvald any update on this feature? We’re in the process of adopting Jib as well so this would be a really nice feature to have.

[2021-05-06 02:11] tedchang77 commented on #1542
Garden uses the host ip and random port (if there is a collision) for port forwarding.  It would be great if it the tool could have behavior similar to  kubefwd where you can use the service name and port defined in the k8s service definition.  here's a diagram of how it would work taken from the kubefwd documentation:
![image](https://user-images.githubusercontent.com/2523109/117232242-c2fb4180-a

[2021-05-06 15:58] #2370 closed

[2021-05-06 18:53] edvald commented on #2015
Hey @tedchang77. We ended up prioritizing the new dev mode and getting rid of NFS, but this is next up! I'm getting re-acquainted with jib as we speak. This'll be up and running within a couple of releases 🚀

[2021-05-07 13:57] tedchang77 commented on #2340
@edvald any timelines on when the SDK will be available?

[2021-05-08 13:44] orarbel opened #2382 ""Attempted to copy non-file" when a symlink target is a folder"
## Bug

Building breaks when a module contains a symlink to a folder.

The offending line only checks if the target of a symlink is a file, but doesn't check if it's a folder.

https://github.com/garden-io/garden/blob/893e55b6e4932dda671509248ce2acf513eb8526/core/src/build-staging/helpers.ts#L68

### Current Behavior

An error of "Attempted to copy non-file" is raised.

### Expected behavior

The

[2021-05-09 19:15] aloise opened #2384 "Deprecated apiVersion on generated Ingress resources"
## Bug

I'm unable to start any services with ingress specified. Garden will receive the trying to run deploy the project in minikube. The same project was working on older garden versions.

### Current Behavior
`garden dev`

[code]

### Expected behavior

It was running on older garden + k8s versions.

### Reproducible example

Any project which has ingress is failing.

### Workaround

### Your e

[2021-05-09 19:23] aloise commented on #2384
Might be related (minikube bug):
https://github.com/ansible/awx-operator/issues/205

[2021-05-11 09:37] eysi09 commented on #2382
Thanks for the detailed report @orarbel. Should be a quick fix on our end.

[2021-05-11 09:38] eysi09 commented on #2382
@edvald, could you confirm that the suggestion makes sense? If that's the case I can fix it on my end.

[2021-05-12 15:06] 10ko opened #2388 "Garden hangs while trying to fetch remote sources if no authentication to repo is provided."
## Bug

### Current Behavior

Whenever no authentication to the remote sources repository is set, Garden will try to fetch remote sources and hang without throwing an error.

### Expected behavior

An error is thrown when Garden encounters an authentication error while fetching remote sources.

### Reproducible example

### Workaround

### Suggested solution(s)

### Additional context

### Your en

[2021-05-12 15:08] 10ko opened #2389 "Command "enterprise secrets list" will fetch all external sources"
## Bug

### Current Behavior

When a user tries to list the secrets, Garden will fetch all the external sources before returning the list of secrets.

Note: this is not technically a bug, since it's the default behaviour of most of Garden commands but it could be improved since there is no practical reason for fetching the external sources in this specific case.

### Expected behavior

The command

[2021-05-13 09:57] eysi09 commented on #2389
No you're right, this is not a bug at all. Just the way the system currently works. I don't think we should hack around this for this particular command, but rather address the root issue.

Currently we have a notion of `noProject` commands that don't initialise the Garden class, but those are kind of exceptions and the analytics class doesn't work properly for them.

Instead, I'd suggest splittin

[2021-05-13 09:59] eysi09 commented on #2384
Ok happy to hear that. But the point stands that we should update the ingress api version on our end. It should be a quick fix.

[2021-05-13 13:59] edvald commented on #2382
Yeah I think that does make sense, but I wanna take a quick look to make sure. Lots of little devils in the details in this stuff .)

[2021-05-13 17:48] piotrminkina opened #2393 "[FEATURE]: Support for Kubernetes Standard Registry Discovery"
## Feature Request

Firstly, thank you for the wonderful product that is Garden. It simplifies a lot in the daily work of developing cloud solutions.

### Background / Motivation

Integration with the local Docker registry provided by [Kind](https://kind.sigs.k8s.io/docs/user/local-registry/), [microk8s](https://microk8s.io/docs/registry-built-in) and [k3d](https://k3d.io/usage/guides/registries/#

[2021-05-14 05:32] eysi09 commented on #2330
Just to be sure I'm heading in the right direction here, is this the RBAC functionality from Azure that you believe is causing the issues: https://docs.microsoft.com/en-us/azure/aks/manage-azure-rbac

(cc @graemechristie, @ITHedgeHog)

[2021-05-14 05:36] graemechristie commented on #2330
yes @eysi09 - that is the feature we are using with Azure AKS (although I'm not sure if the openId/token expiry issue is Azure specific, or if the openId standard for tokens in kubenetes is an open standard/feature utilsed by AKS) .. I had assumed the latter as kubectl seems to have native support for it.

[2021-05-14 05:57] graemechristie commented on #2330
Looking at #1043 - it seems this also affects other services on aws, or anything using kubectl exec plugins like heptio-authenticator-aws - so it seems the AKS support in kubectl is via a "kubelogin" plugin (presumably this https://github.com/Azure/kubelogin)  .. e.g. my kubeconfig uses:

![image](https://user-images.githubusercontent.com/1361894/118228117-41757480-b4bc-11eb-89b5-8589cab54cef.png)

[2021-05-14 12:27] qeternity opened #2394 "Kubernetes uninstall-garden-services fails to remove validating webhooks"
## Bug

### Current Behavior

Kubernetes `uninstall-garden-services` does not clean up `garden-nginx-ingress-nginx-admission` validating webhook.

### Expected behavior

All k8s garden resources are cleaned up, including validating webhooks.

[2021-05-14 14:27] edvald commented on #1253
Closed by #2352, which adds two-way sync support!

[2021-05-14 14:27] #1253 closed

[2021-05-15 19:56] piotrminkina opened #2396 "Template rendering is interrupted when $$ occurs in combination with { and }"
## Bug

### Current Behavior

`generateFiles` generates the following invalid `script.bash` as a result:

[code]

### Expected behavior

`generateFiles` must generate the following `script.bash` as a result:

[code]

### Reproducible example

1. Create directory `script-templating` for module.

2. Create file `garden.yml` with the following module definition:

[code]

3. Create file `script.bash.t

[2021-05-17 08:25] #2373 closed

[2021-05-17 16:45] #2255 closed

[2021-05-18 09:37] eysi09 commented on #2382
All right, I'll assign this to you then. Feel free to re-assign.

[2021-05-18 09:46] eysi09 commented on #2393
Thanks for the feature request! We'll look into this but the backlog is pretty stuffed at the moment.

We'd also be happy to receive a PR for this if you'd like to get your hands dirty.

[2021-05-18 09:48] eysi09 commented on #2394
Thanks for the bug report. I'd guess this is actually an issue with Helm, since Garden install and uninstall nginx via Helm.

[2021-05-18 09:51] eysi09 commented on #2396
@edvald, can I pass this proverbial ball to you?

[2021-05-18 10:03] eysi09 opened #2397 "Template string ${command.params contains 'foo'} doesn't work if the value of 'foo' is a list"
## Bug

### Current Behavior

I want to disable a given module when in dev mode so I do this:

[code]

This works if I e.g. run `garden deploy --dev api` but fails if I run `garden deploy --dev api,frontend` in that my `module-to-disable-in-dev` is no longer disabled.

[2021-05-18 12:41] piotrminkina commented on #2393
Cheers! I need to dig out of my backlog too, but if time permits, I'll take on the challenge :) Thanks for the great work!

[2021-05-20 07:49] tubasbelang commented on #729
https://bit.ly/3u0A1KN

[2021-05-24 19:19] #2317 closed

[2021-05-24 19:25] jamesgregorystewart commented on #1766
This is still an issue as of garden version 0.12.20.

[2021-05-25 09:28] baspetersdotjpeg opened #2401 "(Possibly) wrong link in documentation"
## Bug

### Current Behavior

On the [stack graph](https://docs.garden.io/basics/stack-graph) page of the documentation, the link to the "Getting Started" section points to [this](https://github.com/garden-io/garden/tree/c7de8544c59c47e837cada93ad140aeb73dc1b76/docs/getting-started) page, which doesn't look like intended behavior.

### Expected behavior

I guess the README.md wasn't generated prop

[2021-05-26 07:23] eysi09 commented on #2032
The root cause appears to be [this issue](https://github.com/vercel/pkg/issues/897) with the library we use for packaging Garden as a binary.

[2021-05-26 07:51] twelvemo opened #2405 "garden enterprise create secrets command cannot create secrets that include `=`"
## Bug

### Current Behavior

The `garden enterprise secrets create`  command cannot create any secrets that include an `=` , which is often the case in certificates or base64 encoded values. It cuts everything off after an `=` , using single quotes or quotes does not prevent that.

### Expected behavior

Secrets including `=` should be created with the full content including `=` and everything af

[2021-05-26 15:32] 10ko opened #2410 "Automatically create port-forwards when using dev mode."
## Bug

### Current Behavior

If I want Garden to create automatic port-forwards for my services while using the new `dev-mode` I need to run the command with the `--watch` flag.

### Expected behavior

I would expect the `--dev` mode to automatically create the port-forwards for all my services, same as it was with the hot-reload functionality.

### Reproducible example

[code]

### Workaround

#

[2021-05-26 17:39] failshell opened #2411 "base64Encode doesn't expand variables"
## Bug

### Current Behavior

if you use something like `${base64Encode("mongodb+srv://user:${secrets.mongodb-user-password}@mongodb-headless.${var.kubernetes.namespace}.svc.cluster.local/?ssl=false&replicaSet=rs0&authSource=db")}` to encode a string, the variables in between the double quotes won't be expanded. you're going to end up with the litteral string.

### Expected behavior

variables sho

[2021-05-27 11:58] twelvemo opened #2414 "[FEATURE]: terraform plugin support for destroy action"
## Feature Request

### Background / Motivation

The terraform garden plugin supports planning and applying a terraform stack, but not destroying it.

### What should the user be able to do?

Be able to destroy a terraform stack deployed with garden analogue to planning and applying it.

### Why do they want to do this? What problem does it solve?

There should be an option to clean up infrastruct

[2021-05-29 17:14] Chipcius opened #2418 "Unable to build images in Kaniko after update to 0.12.22 (Kaniko + in cluster registry)"
## Bug
I can no longer build my images in Kaniko after updating to 0.12.22

### Current Behavior

![image](https://user-images.githubusercontent.com/1033039/120078680-26038f80-c0a0-11eb-84b9-6ac8ec9a262d.png)

### Expected behavior

It should build just fine

### Reproducible example

Is easily repeatable in my repository but according to @edvald  it is not easily reproducible on his side.

To mak

[2021-05-31 02:28] glennsarti opened #2419 "Getting Started Docs seem to have an error"
## Bug

### Current Behavior

I am working through the example in [https://docs.garden.io/getting-started/2-initialize-a-project](https://docs.garden.io/getting-started/2-initialize-a-project) and it says to create the backend and frontend modules.  However I get an error:

[code]

And indeed there is already a backend and frontend module defined in

### Expected behavior

The documented process s

[2021-05-31 02:32] glennsarti commented on #2419
This also causes issue with the documentation going forward  e.g.

The statement below is no longer true and is confusing

[code]

[2021-05-31 02:55] glennsarti opened #2420 "[FEATURE]: Respect the terminal color themes"
## Feature Request

### Background / Motivation

Currently there doesn't appear to be a way to disable colourised output besides using a JSON/YAML output format. This can cause issues with terminals that don't fully support colourisation or font change e.g. italics.  An example below

![image](https://user-images.githubusercontent.com/5819622/120133033-f8ccf380-c1fd-11eb-8e21-c008f81350a2.png)

Ad

[2021-06-01 11:42] #2397 closed

[2021-06-01 14:14] eysi09 commented on #1766
Hi @jamesgregorystewart

Thanks for pointing this out. This one has kind of slipped through the cracks. We'll look into this.

[2021-06-01 14:17] eysi09 commented on #2401
Hello my Dutch friend ❤️ 🇳🇱

Thanks for pointing this out. We'll see about prioritising this for Q4.

[2021-06-01 14:29] eysi09 commented on #2414
Ouch, we don't want that. Perhaps we could find time to pair on this, since you probably but have a good feel for what the UX should be like.

[2021-06-01 14:32] eysi09 commented on #2418
Hi @Chipcius and thanks for creating the issue.

We're looking into this and trying to repro on our end, hence the "needs-more-info" label.

[2021-06-01 14:46] eysi09 commented on #2419
Hi @glennsarti

Looks you're running these commands in the wrong directory.

We have two versions of the "demo project", one is `[demo-project-start](https://github.com/garden-io/garden/tree/master/examples/demo-project-start)` which is what should be used for the "Initialize a Project" guide.

The other version is `[demo-project](https://github.com/garden-io/garden/tree/master/examples/demo-proje

[2021-06-01 14:46] #2419 closed

[2021-06-01 14:49] eysi09 commented on #2420
Hi @glennsarti

That's a very good point and should be simple to fix. We'll look into this right away.

[2021-06-01 15:05] jeremiahpslewis opened #2422 "Frequent nodejs error: maxlistenersexceeded"
## Bug

### Current Behavior

Error occurs when executing garden run task
[code]

### Expected behavior

No error.

### Your environment

* **OS:** Apple Silicon macOS 11.4
* **How I'm running Kubernetes:** Docker for Mac

`garden version`
0.12.22

[2021-06-01 15:10] edvald commented on #2420
There is actually an undocumented way to do this with an environment variable: `FORCE_COLOR=0`. But the feature request is still definitely legit, we should have a canonical + documented way to do this.

[2021-06-01 19:51] WBrettDavis opened #2423 "[FEATURE]: Allow a Task or Test to receive traffic from other pods in garden cluster"
## Feature Request

### Background / Motivation

Our API test container hosts mock implementations of APIs which are started up during the test run. As a result, we'd like to be able to have our test container receive traffic during the lifetime of its execution within the garden cluster. Currently, tests and tasks do not support configuration of a "ports" setting which would allow this traffic fr

[2021-06-02 15:26] #2202 closed

[2021-06-02 15:26] #2177 closed

[2021-06-06 20:21] jeremiahpslewis opened #2426 "Garden breaks when using git version 2.32.0"
## Bug

### Current Behavior

<img width="1161" alt="Screen Shot 2021-06-06 at 22 20 53" src="https://user-images.githubusercontent.com/4462211/120938907-83898300-c715-11eb-9382-9fac1e6c0137.png">

### Expected behavior

No error.

### Reproducible example

Run anything...

### Workaround

Don't update git to 2.32

### Suggested solution(s)

Amend uses of git ls-files so that either `-o` or `-c` i

[2021-06-07 08:49] #2032 closed

[2021-06-07 08:50] #2401 closed

[2021-06-08 09:44] eysi09 opened #2430 ""Error: Command "git rev-parse --show-toplevel" failed with code ENOENT" in watch mode"
## Bug

### Current Behavior

I see this error every time I run `npm install` while in watch mode:

[code]

### Reproducible example

Run Garden in watch mode in some demo project and run, say, `npm install is-odd`.

### Workaround

None that I know of.

[2021-06-08 09:46] eysi09 commented on #2422
Hi @jeremiahpslewis

We haven't seen this on our end before. Anything particular in your set up that you think could explain this? And if you have a reproducible, that would be fantastic.

[2021-06-08 10:00] eysi09 commented on #2423
Thanks for the feature request @WBrettDavis.

We can look into this, should be a simple addition.

Just FYI, you can "run" services with the `garden run service my-service` command. So you could imagine adding your test container to the module's service spec, and then running it. That will create a K8s Service object for the pod and it will run the entrypoint command, in interactive mode by defaul

[2021-06-08 10:11] eysi09 commented on #2426
Looks like this has to do with a breaking change in a git minor release. We're working on this.

[2021-06-08 10:15] 10ko opened #2432 "[FEATURE]: allow to optionally specify which project garden.yml file to use"
## Feature Request

### Background / Motivation

### What should the user be able to do?

Run `garden deploy --project=<path to directory or file>` to use the project configuration specified at `<path to directory or file>`.

### Why do they want to do this? What problem does it solve?

A user might want to re-use the same module for different projects and right now there is no way of specifying d

[2021-06-08 15:37] jeremiahpslewis commented on #2422
This happens when I try to export too many / too large files to artifacts from a container. Don't have a clean reproducible at the moment, but the project where this frequently comes up is open source: https://github.com/jeremiahpslewis/alec

[2021-06-08 15:48] edvald commented on #2422
This looks like a configuration issue somewhere in our code that triggers this warning (11 listeners on an event emitter could well be totally normal). Does something actually fail, or just the annoying log message? Also, what type of task are you running?

[2021-06-08 16:02] jeremiahpslewis commented on #2422
It fails entirely, interrupts the workflow.

[2021-06-08 16:02] jeremiahpslewis commented on #2422
Task generates a synthetic dataset and then writes it to file, it's then supposed to export the files as an artifact (lots of moderately sized objects).

[2021-06-08 16:04] edvald commented on #2422
The error doesn't indicate a crash per se, so we'd probably need a bit more info to go on. Is there something in `error.log` or some other surrounding log lines that could indicate something? Also, might help to run with `--log-level=silly` to see if there's something suspicious around the time of crash.

[2021-06-10 11:27] ITHedgeHog opened #2433 "[FEATURE]: Automatically infer initRoot when Terraform module defines repositoryUrl"
## Feature Request

From a conversation in slack I was asked to raise this.

Can garden automatically infer the initRoot for Terraform when the Terraform Module uses a repositoryUrl

### Background / Motivation

We are using a git repository to house our terraform, to allow us to target different branches of terraform configuration depending on where we are with a change or roll out.

Currently I

[2021-06-13 04:37] tedchang77 opened #2436 "[FEATURE]: Allow Remote Sources/Modules to use CLI, project variables and env file variables to construct repositoryUrl"
## Feature Request

### Background / Motivation

We need to construct the repositoryUrl property when using remote sources/modules based on values provided at runtime. Garden currently only reads in variables set using environment variables. it would be nice to set these variables using the CLI or from a file.

### What should the user be able to do?

set variables using either project variables,

[2021-06-14 14:21] tedchang77 opened #2437 "[FEATURE]: Allow garden variables to be defined at the module wide and module-environment specific level"
## Feature Request

### Background / Motivation

We have hierarchal configurations that are shared by a product (group of services) and services which can also be specific to an environment.  We currently merge these configurations ourselves but since Garden already has support for hierarchical values at the project and environment level, it would be nice if they supported variables at the module

[2021-06-15 12:39] twelvemo commented on #2330
We reproduced the issue internally. However when I used [kubelogin]( https://github.com/Azure/kubelogin) and followed these instructions https://github.com/Azure/kubelogin#azure-cli-token-login-non-interactive I did not face any problems. After not having interacted with the cluster for more than 2 hours I was able to deploy with garden, @eysi09 did the same but without using kubelogin and ran int

[2021-06-16 13:27] #2426 closed

[2021-06-16 20:42] remotezygote commented on #2369
Running into this 100% reliably. I've not found a way to use persistent volumes at all with newer garden versions, which is a humongous problem. I am very much a n00b to garden, but feel like I'm doing it correctly...

Mac OSX Big Sur 11.4
garden 0.12.22
minikube v1.20.0

Example just trying to have a persistent volume for PG:
[code]

Error:
[code]

[2021-06-16 20:49] #2186 closed

[2021-06-16 20:49] #2187 closed

[2021-06-16 20:49] #2078 closed

[2021-06-16 20:49] #2149 closed

[2021-06-16 20:49] #2176 closed

[2021-06-17 03:52] graemechristie commented on #2330
That makes sense @twelvemo - I probably did not understand the role of kubelogin in respect to those tokens. I will give this a go but I suspect it will resolve our issue.

[2021-06-17 05:47] twelvemo commented on #2330
sounds good! Would love to hear if it works @graemechristie then we can put this in our docs.

[2021-06-17 10:05] eysi09 commented on #2418
Hi @carlosjgp

A few things to unpack here.

Just to confirm, do you mean that you've fallen back to building locally because of the issue with Kaniko described above?

This is actually to be expected. We're phasing out the `garden-system` namespace and instead opting to de-centralize things via individual namespaces. This particular pod is a utility pod that replaces the previous build sync pods.

[2021-06-17 10:09] eysi09 commented on #2433
Echoing the Slack conversation, `initRoot` doesn't come into play when using Terraform _modules_, only the Terraform _provider_.

Could you share some of your configuration so that we can better understand what you're trying to achieve?

[2021-06-17 10:11] eysi09 commented on #2436
This will be fixed with #2438

[2021-06-17 10:14] eysi09 commented on #2437
That's a great point. We've been discussing this internally for awhile. Just need to find some time to git'er done.

As a side note, we should use the chance to add utility commands that show how variables will be resolved (we could mask secrets or skip resolving them).

[2021-06-17 10:15] eysi09 commented on #2369
Awesome, thanks for the repro. This will make it a lot easier to diagnose and fix.

[2021-06-17 10:16] eysi09 commented on #2187
There's actually an open PR for this. But I suppose we can let stale bot do its thing.

[2021-06-17 10:18] eysi09 commented on #2330
cc @ITHedgeHog ☝️

We'll also add an entry to our Troubleshooting guide on this (assuming it works).

[2021-06-17 10:26] ITHedgeHog commented on #2330
Thanks, @eysi09 @twelvemo I'm giving it a try today.

[2021-06-18 11:52] ITHedgeHog commented on #2330
@eysi09 @twelvemo That appears to have resolved it for me, I've been working for 5 hours non-stop now without having to run any manual kubectl commands.

[2021-06-18 15:01] scheuk opened #2445 "Test and task artifacts do not work with newer versions of debian based containers that have a patched or newer version of GNU tar"
## Bug

### Current Behavior

When attempting to download artifacts from a testing pod using a debian based container.
The current use of tar command fails with exit 2
Here's the error:
`✖ service-base               → Running features tests
   ℹ Resources ready

Failed running features tests in module service-base. Here is the output:
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

[2021-06-22 15:35] tedchang77 opened #2447 "[FEATURE]: add skipRendering flag to generateFiles in ModuleTemplates"
## Feature Request

### Background / Motivation

When using ModuleTemplates the generateFiles fails since it tries to render some of the content and fails with the following error:

Invalid template string (import * as pulumi from "@pulumi/p…): Unable to parse as valid template string.

### What should the user be able to do?

set a skipRendering flag to true (default is false) to so that it won't

[2021-06-22 18:10] carlosjgp commented on #2418
@eysi09 here is a gist with the logs (obfuscated due to company rules)

[code]

Total time: 20m 3s
At least 1/8 Cores of my laptop running @ 100% on occasions two and up to 3 of them on some peaks

https://gist.github.com/carlosjgp/a479026a432590c806e088afecebf3aa

[2021-06-22 18:55] edvald commented on #2418
There's a strange number of `Calling configure handler ...` log lines here. I suspect the high CPU usage may have something to do with that, and not the actual builds (which still appear to be happening in Kaniko as expected). So basically I think we're looking at two entirely separate issues here.

@carlosjgp Just to confirm that, could you also share the "silly" logs for the latest Garden versio

[2021-06-23 11:40] edvald commented on #2445
Good catch! And should be pretty easy to fix actually. Will take a look.

[2021-06-24 09:45] eysi09 commented on #2330
That's great news! I'll leave this open and flag it as a discussion for now so that it's visible to others. We'll also need to add this to our docs.

[2021-06-24 09:57] eysi09 commented on #2330
See: https://github.com/garden-io/garden/pull/2453

[2021-06-24 09:58] eysi09 commented on #2447
Thanks for opening the feature request @tedchang77. We'll look into this.

[2021-06-24 19:25] tedchang77 commented on #2447
Or maybe instead of adding a skipRendering flag you can introduce a copyFiles at the same level of generateFiles. it might be more clear.

[2021-06-24 21:22] jondeandres opened #2455 "Missing ingresses list in Dashboard"
## Bug

### Current Behavior

We can't see the list of `ingresses` for `kubernetes` modules that deploy `Ingress` k8s resources but we can see the ingresses deployed by a `container` module when using the `services` section.

### Expected behavior

We'd expect to see the list of ingresses when a `kubernetes` module deploy `Ingress` resources.

### Reproducible example

Running `examples/hot-reload

[2021-06-24 23:59] jondeandres opened #2456 "[FEATURE]: ConfigMap modules"
## Feature Request

I am not sure this is doable so I am opening this feature request: define a kind of `configmap` module that can be referenced in `services.volumes` or allow to reference a  `kubernetes` module that deploys a `ConfigMap` resource.

### Background / Motivation

I don't have idea of what's the good practice re: injecting configuration files into the container

[2021-06-25 04:13] tedchang77 opened #2457 "Logs from deployCommand script in exec module don't show in garden console"
## Bug

### Current Behavior
Logs from deployCommand script in exec module don't show in garden console.

### Expected behavior

Logs would be visible in garden console

### Reproducible example

![image](https://user-images.githubusercontent.com/2523109/123368469-df437100-d549-11eb-80b2-ad799b46c50d.png)

Logs don't show up in garden console
### Workaround

### Suggested solution(s)

capture logs

[2021-06-25 04:27] tedchang77 opened #2458 "cleanupCommand script fails in exec module fails"
## Bug

### Current Behavior
Garden deletes all the files in the .garden/build directory that are copied as part of the build dependencies so the cleanupCommand script fails with file not found.

### Expected behavior
the cleanupCommand script should be present in the .garden/build directory so that it can be executed.

### Reproducible example

[code]

### Workaround

No workaround

### Suggested

[2021-06-25 07:26] #2445 closed

[2021-06-25 10:53] #2457 closed

[2021-06-25 12:04] maciejgwizdala opened #2460 "Dashboard logs fails when built subset of services"
## Bug

### Current Behavior

Logs in dashboard is not working correctly, when only selected subset of services are built and deployed with garden.
Services (modules, type helm):
- service-a
- service-b
- service-c

`garden deploy service-b`

Error in dashboard:

`garden dashboard --log-level debug` output:

### Expected behavior

Only subset of deployed services with depedencies should be tracked

[2021-06-29 18:18] jdstrand opened #2462 "insecure installation instructions"
## Bug
Looking at https://docs.garden.io/getting-started/1-installation, the non-brew installation instructions say to run curl and pipe that into bash. There is a manual install section that avoids running bash, but there are no published checksums (ie, sha256 or sha512) for current and past binary versions to verify the download. This is insecure since it allows for supply chain attacks.

At a m

[2021-06-30 07:39] exocode opened #2463 "[FEATURE]: command completion"
## Feature Request

### Background / Motivation

I am one of that guy, hitting the "tab"-button a lot.

### What should the user be able to do?

write `garden`+ press `tab` to complete and suggest commands

### Why do they want to do this? What problem does it solve?

devs are lazy and wont read manuals, so they should get suggestions of the current possible commands.

### How important is this fe

[2021-06-30 13:31] to266 opened #2464 "kaniko pods do not have the garden-build=true:NoSchedule taint"
## Bug

### Current Behavior

Using `kaniko`, the `garden-util` pod in the namespace has the expected `garden-build=true:NoSchedule` tain, but any actual kaniko pods do not -> therefore failing to even start / build

### Expected behavior

Have it

### Your environment

* **OS:** linux
* **How I'm running Kubernetes:** AKS

`garden version`  0.12.23

[2021-07-01 10:04] edvald commented on #2458
Sure, I can take a look

[2021-07-01 10:16] thsig commented on #2460
Hi @maciejgwizdala—thanks for reporting this! I'm not quite sure how to reproduce this on my end.

Does `service-b` reference a base module (like here https://docs.garden.io/guides/using-helm-charts#re-using-charts)?

[2021-07-01 10:18] thsig commented on #2462
Hi @jdstrand—thanks for pointing this out! We'll have a look at this.

I'll tentatively assign this to @eysi09 for now.

[2021-07-01 10:21] thsig commented on #2463
Yeah, this would be really great! We've been discussing this internally recently, hopefully we'll get around to implementing something of the sort soon.

[2021-07-01 11:31] maciejgwizdala commented on #2460
Hello,
Yes, all services references same base module, as `base: base-chart`

[2021-07-07 10:25] thsig commented on #2456
Hi @jondeandres—thanks for the suggestion! We'll give this a bit of thought on our end. A similar approach to how we implemented `persistentvolumeclaim` modules might make sense here.

[2021-07-07 10:26] thsig commented on #2455
Thanks for reporting this! Should be a relatively simple fix.

We'll need to add the `ingresses` key to the output from the `kubernetes` module type's `getServiceStatus` handler.

[2021-07-07 10:37] #2436 closed

[2021-07-07 13:59] zyulyaev opened #2469 "[FEATURE]: Allow configuring ephemeral-storage request and limit for kaniko pods"
## Feature Request

### Background / Motivation

When I was trying to configure kaniko build mode for a remote kubertenes on GKE autopilot, I hit the ephemeral storage limit which is only 1Gi there:
[code]

### What should the user be able to do?

I think you should be able to specify ephemeral-storage request and limit for the kaniko pod created by garden:
https://kubernetes.io/docs/concepts/conf

[2021-07-07 14:13] edvald commented on #2469
This is a good idea, and relatively easy to do. cc @thsig

[2021-07-08 07:14] thsig commented on #2469
Quick question: Do we want to add this only to the builder config for Kaniko/BuildKit, or also to `container` services in general?

Or would that be bringing too many k8s-specifics into the `container` module type?

[2021-07-08 09:40] #2464 closed

[2021-07-08 11:45] #2369 closed

[2021-07-08 14:53] edvald commented on #2469
I'd say just for Kaniko/BuildKit to start.

[2021-07-08 18:04] zyulyaev commented on #2469
I think it is more important for Kaniko/BuildKit since there is no workaround, while for containers you can use kubernetes or helm module to have better control of the resources.

[2021-07-09 15:27] 10ko opened #2474 "GARDEN_LOGGER_TYPE environment variable not respected when listing secrets"
## Bug

### Current Behavior

One of our users reported that `garden enterprise secrets list` prints the command header `List secrets` if the `GARDEN_LOGGER_TYPE=basic` is set.

### Expected behavior

The following happens:

[code]

The ouptut changes when the environment variable is not present:

[code]

### Reproducible example

### Workaround

### Suggested solution(s)

### Additional context

[2021-07-09 18:42] zyulyaev opened #2475 "Cannot install garden with install script"
## Bug

### Current Behavior

The `curl -sL https://get.garden.io/install.sh | bash` command results in "Checksum validation failed." error.
<img width="688" alt="Screenshot 2021-07-09 at 21 35 08" src="https://user-images.githubusercontent.com/9340671/125122187-b6041280-e0fd-11eb-8ed0-79014140f252.png">

### Expected behavior

Installation completes successfuly.

### Reproducible example

[code]

[2021-07-09 18:44] zyulyaev commented on #2475
Found another workaround:
[code]

[2021-07-09 19:25] ultimatemonty opened #2476 "Kubernetes module with ConfigMap fails to report status due to missing serviceResource"
## Bug

### Current Behavior
We have a kubernetes module that injects a ConfigMap into the kube-system namespace. This ConfigMap is adding some additional CoreDNS rules we need for our local development environment. When starting garden with `garden dev --force-refresh` we get the following error output:

[code]

The ConfigMap still deploys properly but because the status isn't reported back prope

[2021-07-09 20:03] edvald commented on #2475
Ach! Good catch. I'll just add those checksum files to the latest released version

[2021-07-09 20:22] edvald commented on #2476
This looks a lot like what #2471 fixed, but we may need to look at this as well. Workaround is to use other CLI commands basically, since this is an issue with the dev command.

[2021-07-12 17:26] eysi09 opened #2478 "[FEATURE]: Smarter logs alignment"
## Feature Request

### Background / Motivation

Long section names are truncated and hard to ready with the log output. We could probably fix this by aligning the section dynamically based on width. This is what we already do for service logs when running the `garden logs` command.

Something like:

[code]

We could still have some sensible max width and perhaps make that configureable.

[2021-07-12 17:27] eysi09 commented on #2478
Thoughts @edvald?

[2021-07-13 08:34] edvald commented on #2478
See my comment on #2479. I think it's fine to pad to a certain length and then not trim from there. But sure, a dynamic section width might be a nice improvement if you're feeling like it 🤷

[2021-07-13 08:39] edvald commented on #2462
We've now added checksums to the installation script and release process: #2473

We should perhaps mention that in the installation docs as well.

[2021-07-14 17:10] OOPMan opened #2487 "Error from helper function uuidv4: Cannot read property 'v4' of undefined"
## Bug

### Current Behavior

Current the uuidv4 helper function seems to be broken...

![image](https://user-images.githubusercontent.com/248980/125662061-a9d58132-f78a-4a75-837e-8968e59ec55f.png)
![image](https://user-images.githubusercontent.com/248980/125662412-93608f08-ad78-487b-9c97-06c1a078c0bc.png)

### Expected behavior

Expected the `uuidv4()` function to work

### Reproducible example

[2021-07-14 17:52] edvald commented on #2487
Huh. That's strange, no clue how this might have passed through tests, but should be a quick fix! Thanks for the heads up :)

[2021-07-14 17:58] OOPMan commented on #2487
@edvald Glad to have helped find something. Thanks for the awesome tool BTW!

[2021-07-15 08:35] eysi09 commented on #2437
This was addressed with #2454

[2021-07-15 08:35] #2437 closed

[2021-07-15 08:42] eysi09 commented on #2460
Sorry for the delayed response. But just to narrow this down, do you see the same issue if just call the `garden logs` command directly?

[2021-07-15 08:46] eysi09 commented on #2455
Yes, this has been a known issue for awhile. Similarly, we don't print the ingress URL in the command line after deploying a K8s or Helm module. Would be great to get this fixed. We'd essentially need to parse the manifests / charts and construct the URL.

[2021-07-15 08:58] eysi09 commented on #2463
Closing as a duplicate of #2344.

[2021-07-15 08:58] #2463 closed

[2021-07-15 23:17] #2487 closed

[2021-07-16 02:25] edvald commented on #2476
I believe this is fixed by #2490.

[2021-07-16 02:25] #2475 closed

[2021-07-17 02:15] JoshDrake-minted opened #2493 "'replace' helper function does not allow empty replacement strings"
## Bug

### Current Behavior

The replacement string provided to the `replace` function cannot be an empty string.

### Expected behavior

The `replace` function can be used to replace substrings with empty strings.

### Reproducible example

[code]

[code]

### Workaround

N/A

### Suggested solution(s)

Fix `joi` validation for replacement argument.

### Additional context

N/A

### Your environ

[2021-07-19 14:02] philjb opened #2495 "`dev-mode` file watching doesn't work on non-root volumes; expose mutagen configr"
## Bug

### Current Behavior

On OSX (at least), Garden [`dev-mode` with Mutagen backend](https://garden.io/blog/kubernetes-hot-reload-revamped-inner-loop-dev-experience/) does not detect file system changes on non-root volumes. I suspect this is a potential general problem not just with OSX with various external and non-root volumes in osx and linux.

### Expected behavior

Garden `dev-mode` shou

[2021-07-19 14:51] edvald commented on #2495
Hey @philjb. I think exposing this option makes perfect sense, I'll look into it as soon as #2491 is merged.

[2021-07-20 07:26] maciejgwizdala commented on #2460
Hello,
It's same behaviour, when using `garden logs`.

[2021-07-20 10:44] eysi09 commented on #2460
Ok that's useful to know. So I suppose it's not an issue with the dashboard per se, but rather the logs command. And just to confirm that it's not an issue with the project config, does this work as expected if you actually build or deploy the "offending" module before running the logs command?

[2021-07-20 11:37] danhawkins commented on #2430
This is also happening to me, only on one of my projects, the other one is working fine. Also this project was working ok before, not sure what changed

[2021-07-21 03:32] philjb commented on #2495
@edvald - Since I opened this issue, I found there is a way to specify mutagen preferred defaults with a `~/.mutagen.yml` file. I tried with these contents
[code]

but I had trouble verifying it the yml changed anything. In any case, I think it would be nice to allow customizing how garden runs mutagen in dev-mode in a general way. Thanks for considering it!

[2021-07-21 13:47] eysi09 commented on #2478
Partially addressed with #2496.

[2021-07-21 13:47] #2478 closed

[2021-07-21 21:35] thsig opened #2497 "Port-forwards not being started for services in dev mode"
## Bug

### Current Behavior

Port forwards don't seem to be started when services are deployed in dev mode. Should be a quick and simple fix.

### Expected behavior

Port forwards should be started.

### Workaround

Include the `-w` flag when using `garden deploy` with dev mode to ensure the port-forwards are started until this has been fixed.

[2021-07-21 21:40] thsig opened #2498 "`include: []` should be implicit for `persistentVolumeClaim` modules"
## Bug

### Current Behavior

If `include: []` is not set for `persistentVolumeClaim` modules, the default `include` behavior will be applied.

### Expected behavior

`include: []` should always be implicitly applied for `persistentVolumeClaim` modules.

### Workaround

Explicitly set `include: []` for `persistentVolumeClaim` modules until this has been fixed.

### Suggested solution(s)

Should be

[2021-07-21 23:50] edvald commented on #2456
Just pushed #2501

[2021-07-22 10:40] ITHedgeHog opened #2502 "Cannot use Garden CI Container in Azure DevOps"
## Bug

### Current Behavior

I am trying to set up a CI/CD Pipeline for my Garden deployment on Azure DevOps Pipelines, this fails with the current Garden provided image as Azure DevOps works by adding a user to the container to run the tasks via.

### Expected behavior

### Reproducible example

A sample yaml pipeline

[code]

Gives the following output when ran

[code]
### Workaround

I am work

[2021-07-22 10:43] eysi09 commented on #2430
Interesting, we haven't seen that before. Usually it only happens on `npm install` or similar while the watch command is running. Essentially something changes in the file system while Garden is running a git command internally.

Is there a local task or similar in your Garden config that might mess with the file system while Garden is starting up?

[2021-07-22 10:48] eysi09 commented on #2502
Hi Dan

Thanks for the detailed report and suggestions. At a glance it seems like it makes sense for the Azure image to contain all the deps it requires to work on Azure DevOps pipelines. Thoughts @edvald and @twelvemo?

If we decide against it, we'll make sure to update the FAQ.

[2021-07-22 11:50] edvald commented on #2430
I think we're mainly missing some error handling in our git handler. We should handle these types of things gracefully.

[2021-07-22 13:56] ITHedgeHog opened #2504 "[FEATURE]: Set localPort for Helm and Kubernetes Modules"
## Feature Request

### Background / Motivation

I was setting localPort's for my Container Modules

### What should the user be able to do?

Set localPorts for the Helm & Kubernetes modules
See discussion here: https://community.garden.io/t/define-local-ports-for-helm-module/131

### Why do they want to do this? What problem does it solve?

I want to be able to configure the settings for my appli

[2021-07-22 15:36] edvald commented on #2502
I think it makes sense to add some of those basics to the base Garden image actually.

@ITHedgeHog can you explain this line though?

[code]

This looks to me like the first and last apk lines are unnecessary, am I missing something?

[2021-07-22 15:56] ITHedgeHog commented on #2502
Honestly @edvald I found this on Stack Overflow after some googling and that was the example - I have not tried it without those.

[2021-07-22 23:06] davidbrowning opened #2505 "devMode ignores modified files on initial sync"
## Bug

### Current Behavior

[code]
As soon as I revert my local changes and make them again, garden picks it up and correctly syncs to remote

### Expected behavior

git status should be identical in both the local and remote git repo

### Reproducible example

Will be contributing an example using devMode next week and will report it back here. For now, I'm using outside code I can't share. As

[2021-07-23 13:29] edvald commented on #2502
Haha ok, gotcha. I'll adapt as needed.

[2021-07-24 19:23] danhawkins commented on #2430
I don't think so

[2021-07-24 19:34] danhawkins commented on #2430
I also just tried `garden validate`

<img width="724" alt="Screenshot 2021-07-24 at 23 34 08" src="https://user-images.githubusercontent.com/108635/126879388-87c56373-6990-4abd-8115-84e79cc9d0f2.png">

[2021-07-25 03:56] tedchang77 opened #2506 "[FEATURE]: Add additional features to module variables"
## Feature Request

### Background / Motivation

https://github.com/garden-io/garden/issues/2437 added support for variables to be scoped at the module level using variables defined in the module level configuration file.  There are use cases where you need module variables scoped to the environment that have higher precedence than module-wide variables. For example a module variable for numReplic

[2021-07-26 14:11] ITHedgeHog commented on #2502
@edvald Just playing around with this some more, just as an FYI I'm also bundling kubelogin too

[2021-07-26 14:44] edvald commented on #2502
If you feel like making a lil' PR, here's the base dockerfile that needs to be updated: https://github.com/garden-io/garden/blob/734a2e1e94d4f888bfdba9fbef2fa79af7ed5fa0/support/alpine.Dockerfile

And the Azure-specific one: https://github.com/garden-io/garden/blob/82ff9a302acd668ee89f16332ccc1335d2badc4f/support/azure.Dockerfile

[2021-07-26 15:25] ITHedgeHog commented on #2502
Yeah, I'll take a look at raising a PR :)

[2021-07-26 17:31] danhawkins commented on #2430
OK in my case it was my bad, I had a submodule listed in gitmodules that I was not using

[2021-07-28 00:47] edvald commented on #2015
Progress! #2511

[2021-07-28 00:52] edvald commented on #2015
@janario @tedchang77 I could actually use feedback on that PR, to see if there's something important missing from the implementation. Java dev is a touch out of my everyday knowledge, so there may be some devilish details to consider. At least the tricky bits should be largely done, but I'd not be terribly surprised if there were some config fields missing or the like.

Here are the module type re

[2021-07-29 04:35] #2260 closed

[2021-07-29 12:21] maciejgwizdala commented on #2460
Yes, when running build / deploy for all modules within project, logs / dashboard is working correctly.

[2021-07-29 17:10] davidbrowning commented on #2505
I believe we've found the correct way to use this workflow. Use one-way-replica as the devMode sync mode.

[code]

[2021-07-30 13:56] MarkMurphy opened #2516 "Could not parse .gitignore in directory"
## Bug

### Current Behavior

Attempting to run `garden plugins terraform plan-root --env=dev`

[code]
### Expected behavior

Not that.

### Reproducible example

The .gitignore in question has this:

[code]

### Workaround

unknown

### Suggested solution(s)

I'm not entirely sure why you're trying to parse this file as yaml or at all for that matter. I've specified in my project.garden.yml to us

[2021-07-30 14:02] MarkMurphy commented on #2516
This is being picked up in a submodule's submodule if that's worth anything.

I tried deleting the .gitignore file it's choking on and how it's complaining about "Invalid configuration found in README.md" which is even more strange.

[2021-07-30 15:40] edvald commented on #2516
😆  fair enough!

Hmm, this is an odd one.

I honestly have no initial idea on what shenanigans might be going on there, so we might need some more info... Can you share A) how your `terraform` provider is configured, and B) perhaps run the command with `--log-level=silly` to see what's going on leading up the error?

[2021-07-30 17:23] MarkMurphy commented on #2516
[code]

[code]

This issue seems to go away when I remove the offending submodule's entry from the `.gitmodules` file.

[2021-07-30 19:27] MarkMurphy commented on #2516
The same thing happens running `garden validate` so it's definetly not terraform or provider related

[2021-07-30 20:02] MarkMurphy commented on #2516
ok so, the issue seems to be related to nested submodules. It doesn't appear that any form of .ignore or module.exclude applies to anything contained within a nested submodule.

The hierarchy of the project looks something like this:
[code]

Configuring `.gardenignore` at the project root level to ignore `submodule/**/*` seems to have no effect. Similarly, placing a `.gardenignore` in a submodule

[2021-07-30 20:22] edvald commented on #2516
Yeah this is certainly something we need to fix! Thanks for narrowing this down, should be easy enough to build a test case around this. Glad you have a workaround but we'll look into this.

[2021-08-01 17:54] MarkMurphy opened #2517 "autoApply does not pass the -auto-approve flag to terraform"
## Bug

### Current Behavior

My terraform provider config looks like this:

[code]

On deployment `garden plugins terraform apply-root` fails because terraform is expecting a confirmation:

[code]

### Expected behavior

I've confirmed that the `CI` environment variable is present and set to `true` so garden should be passing the `-auto-approve` flag to the terraform apply command.

### Reproduci

[2021-08-02 08:35] tbl-harmoney opened #2518 "System limit for number of file watchers reached"
## Bug

### Current Behavior

Linux command line is flooded by errors logs because the file watcher is not excluding folders like `node_modules` although added in `.gitignore`.
[code]

`.gitignore` at project root:
[code]

`.gitignore` at same level as `node_modules` folder:
[code]

Not encountered with same code base on MacOS.
Also encountered when running `garden dev <module>` where `<module>` i

[2021-08-02 16:56] anderjan commented on #1777
Any updates on this?
It would be great if we could have subdirectories in artifacts to keep the original structure of some outputs preserved in the artifact, basically like a recursive copy of the specified source directory of the artifact to the target directory. Would that be possible?

[2021-08-02 19:16] #2171 closed

[2021-08-02 19:16] #2170 closed

[2021-08-03 09:24] bbaga opened #2519 "[FEATURE]: Set correct permissions on files synced with devMode.sync"
## Feature Request

### Background / Motivation

The synced files will be owned by the container's user with read and write permissions only `-rw-------`.
In our case, this doesn't work well for development. We are working with PHP/FPM and FPM (www) doesn't have permission to read the synced files (now owned by root). We can run the containers with the www user, but that introduces some pain as we

[2021-08-03 09:34] bbaga opened #2520 "devMode.sync doesn't seem to overwrite existing files in the container"
## Bug

### Current Behavior

When a `devMode.sync[].target` points to a directory in which a file exists (comes from the base image), then that file will not be overwritten with the file that is in `devMode.sync[].source`. This happens with one-way and two-way sync as well.

### Expected behavior

IMO files that are in the `target` directory in the container should be overwritten with the files p

[2021-08-04 14:52] edvald commented on #1777
I'll take a look 👍  Need to write some more test cases and make sure they behave generally as we'd expect.

[2021-08-04 16:09] edvald commented on #1777
There we go: https://github.com/garden-io/garden/pull/2522

[2021-08-04 16:14] edvald commented on #2520
Hey @bbaga. Thanks for the detailed report!

This needs to be documented better on our side, but you may be able to get the desired effect by setting `devMode.sync[].mode: one-way-replica`. The underlying implementation is described here: https://mutagen.io/documentation/synchronization#modes. We default to `one-way-safe` for the sync mode, which won't overwrite files unless they change after the

[2021-08-04 18:10] OOPMan commented on #2432
I agree, I think this would be a great feature

[2021-08-04 18:19] OOPMan opened #2524 "[FEATURE]: For project configuration, add environments[].modules.include[] and environments[].modules.exclude[] keys"
## Feature Request

### Background / Motivation

It would be very useful for different project environments to use different module files. My reasoning for this is to have a module file for development that builds images locally and another module file for staging that uses images built in our CI and push to a container registry

### What should the user be able to do?

The user should be able to

[2021-08-04 22:28] edvald commented on #2524
Hey @OOPMan. Have you looked at using the `disabled` field on individual modules? You can use template strings to conditionally disable modules with that. Example: `disabled: ${environment.name != 'prod'}`

[2021-08-04 22:52] OOPMan commented on #2524
I have thought about that but I feel like filling my module files with a lot of conditional logic like this is a little ugly.

I can definitely make use of that approach, I just feel that having per-environment module includes/excludes would be a cleaner approach.

I forked the source so I may fiddle a bit and see if I can get a PR together...

[2021-08-05 06:45] hqm42 commented on #2430
This also ocrures when you move or rename the folder of a linked module. Adjusting the module path in *.garden/local-config.yml* fixed it for me.

[2021-08-05 08:31] bbaga commented on #2520
Thanks @edvald! This solves my sync issue, although now nginx can't read the `index.html` either due to the permission issue (https://github.com/garden-io/garden/issues/2519)

[2021-08-05 08:32] bbaga commented on #2519
I see that Mutagen has[ options for configuring permissions on the files](https://mutagen.io/documentation/synchronization/permissions), is it possible to set these in a `garden.yaml`? I made some blind attempts, but the yaml validation failed.

[2021-08-05 09:00] edvald commented on #2519
Not yet @bbaga, but I'm actually working on adding those fields as we speak :) Just trying to decide on the field names etc. but it's pretty straightforward to pass along these parameters.

[2021-08-05 15:42] edvald commented on #2340
This is in progress!

[2021-08-05 15:44] #2520 closed

[2021-08-05 15:46] #2493 closed

[2021-08-05 15:48] #2469 closed

[2021-08-05 15:52] #2502 closed

[2021-08-05 16:13] edvald commented on #2519
Added a commit to address this on top of #2491. We should have that merged and released next week. Some folks here on holiday, so there's a backlog of PRs to get through :P

[2021-08-05 16:22] #2497 closed

[2021-08-05 16:23] #2498 closed

[2021-08-05 16:31] tedchang77 commented on #2340
@edvald this is very exciting! Let us know if you need any input on this feature or if you have questions about Pulumi.

[2021-08-05 18:11] edvald commented on #2518
Hey @tbl-harmoney. Garden currently doesn't use .gitignores by default, but rather `.gardenignore` files. However, the most direct way to exclude files from watching right now is with `modules.exclude[]` in your project configuration.

That said, I'm looking into making Garden a bit smarter about this, especially on Linux where file/directory watching is inherently a lot more expensive than on Mac

[2021-08-06 13:30] edvald commented on #2517
Hey @MarkMurphy. That's a reasonable thing to do, PR coming up.

[2021-08-06 13:44] edvald commented on #2517
Actually, on closer inspection, I'm not sure it's quite the obvious behavior for `autoApply` to translate to `-auto-approve` when running the commands manually. The `autoApply` flag does set `-auto-approve` during normal execution (via `garden deploy` etc.) because then it's happening implicitly and wouldn't work otherwise, but I'd like to have less implicit behavior in general when running the pl

[2021-08-06 16:26] MarkMurphy opened #2528 "kubernetes-helm bucket seems to have removed binaries < v2.16"
## Bug

[code]

This was working up until today and if you check [the bucket](https://storage.googleapis.com/kubernetes-helm) you can see that there's no trace of anything below v2.16.

We're using garden v0.11.14 (in the process of upgrading) and nothing in the codebase of garden v0.11.14 looks like it specifies helm version 2, it defaults to 3: https://github.com/garden-io/garden/blob/v0.11.14/g

[2021-08-06 16:59] MarkMurphy commented on #2517
Ah gotcha, I think that makes sense. I didn't initially interpret `autoApply` at face value, meaning I wasn't aware it meant that `garden deploy` would take care of running `terraform apply` even though that's exactly what the docs say 🤦 . So, I think I'm needlessly running `garden plugins terraform apply-root -- -auto-approve` in that case because the next step in the workflow is to run `garden d

[2021-08-09 12:12] edvald commented on #2528
Hey @MarkMurphy. This might be a little tricky to work around without updating the Garden CLI. The reason for still having Helm 2.x in there is to ensure older releases have been migrated. This has since been removed.

You're quite a lot of versions behind—are there specific reasons to staying on a version that old?

[2021-08-09 12:37] bbaga opened #2529 "[Question] How do services[].dependencies work?"
I'm a little confused about the usage `services[].dependencies`. In my use case, I have an `nginx` service that depends on two different `php-fpm` services. So I defined service for `nginx` as follows:

[code]

and the graph on the dashboard shows the hierarchy fine, but when I run `garden dev`, every now and then the `http` (nginx) service fails to start because either `php-fpm-a` or `php-fpm-b`

[2021-08-09 13:12] MarkMurphy commented on #2528
We were mostly avoiding the garden upgrade up to this point because of the breaking changes and tight timelines. We have though as of last week been in the process of upgrading. We've been working though some issues that have come up during the upgrade (which is why you've seen me so much lately 😄). We have a lot of terraform configuration we have to upgrade as well so it wasn't super trivial to m

[2021-08-09 13:33] edvald commented on #2529
Hey @bbaga. Sounds like Garden is doing what's expected, based on your description there. Could it be that you're missing a health check on the `php-fpm-*` services? That might cause Kubernetes (and thus Garden) to _believe_ the services are up and running even before they are, and proceed to deploy nginx too soon.

[2021-08-09 13:44] bbaga commented on #2529
I don't have health checks on the fpm services, I'll add them to see if that makes a difference.
In the console output I see that deploying the `http` service comes before deploying the `php-fpm-*` services. What makes it even stranger for me is I have a `redis` service that is the dependency of the `php-fpm-*` services and that is deployed last.

[code]

[2021-08-09 13:52] edvald commented on #2529
Oh I see. Hmm, that does look like a potential bug actually. Does it work the same with the `garden deploy` command (instead of the dev command)?

[2021-08-09 13:57] bbaga commented on #2529
I added the health checks to the fpm services, I didn't see any change in behaviour, `garden dev` fails in a cleaned environment.

`garden deploy` works though!

[2021-08-09 13:58] edvald commented on #2529
Ok I see. Then it appears there's an issue with the dependency calculation specifically in the dev command. We'll take a look!

[2021-08-09 14:07] edvald commented on #2517
Ok I see. Alright if I close this issue then?

[2021-08-09 14:11] MarkMurphy commented on #2517
Yep, closing.

[2021-08-09 14:11] #2517 closed

[2021-08-09 16:47] MarkMurphy commented on #2516
Would the .gardenignore file effect what files/folders are available to docker for building the container image?

I'm seeing an error saying that a directory we're trying to COPY in our Dockerfile doesn't exist, though it does in the source location, it appears it's not present in the .garden/build/<name> folder where garden ran the docker build command.

[2021-08-10 03:01] #2365 closed

[2021-08-10 10:26] eysi09 commented on #2460
Gotcha, thanks for the feedback. We'll look into this.

[2021-08-10 13:10] MarkMurphy opened #2532 "[FEATURE]: container service tolerations"
## Feature Request

### Background / Motivation

We have several processes that require autoscaling onto specific nodes within our Kubernetes cluster and require the ability to specify `tolerations` for some of our container services.

### What should the user be able to do?

Note desired `tolerations` property.

[code]

### Why do they want to do this? What problem does it solve?

See background.

[2021-08-10 13:14] edvald commented on #2532
I'm not sure we'd add this level of control to the `container` module type. Our general line of thinking is that the `kubernetes` module type is where you should look once you need this level of control. Have you looked into that option?

[2021-08-10 13:51] bbaga opened #2533 "Is there a way to use variables in module names or apply prefixes?"
**Scenario:**
I have two garden projects, both need to run a `http` service so the relevant modules are called `http`. When I try to use project A as the dependency of project B, I run into module name collision.

**Current solution:**
The workaround I found is trivial, just renamed the modules. Called them `project-a-http` and `project-b-http`.
Although this isn't that nice since every project ha

[2021-08-10 13:57] edvald commented on #2533
Hey @bbaga. This is a current limitation, that is mentioned in docs (but admittedly easy to miss). It's something we might consider allowing though, to a limited degree. I think allowing `${project.name}` is pretty reasonable, for example, so I think this is valid as a feature request 👍

[2021-08-10 14:05] MarkMurphy commented on #2532
IMHO there's already support for annotations, ingress, health checks, replicas, volumes, resources, etc. so drawing a line in the sand for tolderations feels a bit arbitrary.

Yep. That's how we're implementing it now. It's a bit of a pain compared to just using garden, here's example of what we'd like to do vs what we do now:

## What we'd like to do:

[code]

## What we are doing now:

[code]

T

[2021-08-10 14:17] edvald commented on #2532
I do get that. The line we like to draw isn't quite arbitrary though. We're generally fine with concepts that are not fully Kubernetes-specific, and all those you listed might well be found on any container runtime. "Tolerations" however is very specific and I can't imagine a schema for that field that wouldn't be super specifically fitted to Kubernetes semantics.

What we've had in mind to do ins

[2021-08-10 14:27] bbaga commented on #2533
Uh, sorry for that, I tried to read through the docs before posting the question, but clearly didn't pay enough attention. I'll likely to post a feature request, but using `${project.name}` might not be what I really need as it seems to bleed through  to the dependency project with the top-level project's name (I'm not sure of that is a feature or a bug).

[2021-08-10 14:32] edvald commented on #2533
I suppose neither feature nor bug, just an effect of how it's implemented currently. There isn't (yet) an explicit notion of project dependencies, and modules are simply treated as being part of the project you're running at any point. That is, if you reference, say, a repo with another project in a project, the project configuration in that repo will be ignored.

It's something we've been explori

[2021-08-10 14:36] MarkMurphy commented on #2532
ok gotcha, thanks. Feel free to close.

[2021-08-10 14:51] OOPMan opened #2534 "Sub-directory detection for hotReload seems to be faulty"
## Bug

### Current Behavior

I have an application with the following directory structure:
![image](https://user-images.githubusercontent.com/248980/128888074-d99e832a-cb04-41fe-bab3-0c6f71fb6013.png)

I have configure hot reload as follows:
![image](https://user-images.githubusercontent.com/248980/128888169-11e6db80-2e85-42b1-b155-170bce0379f6.png)

When I run `garden deploy` I get the following

[2021-08-10 16:09] thsig commented on #2505
Hi @davidbrowning—thanks for reporting this! Do you think this is something that should be fixed/changed on our end, or that we should update our documentation accordingly?

[2021-08-10 16:37] edvald commented on #2534
@thsig not sure if the actual issue here is easy to fix or not? Does this stuff ring a bell?

[2021-08-10 16:40] thsig commented on #2534
This is an issue, and an easy fix—I'm having a look at it now, actually.

[2021-08-10 19:17] OOPMan commented on #2534
@edvald Thanks, I was actually testing out the hot reload because people on my team were complaining that the newer dev mode feature isn't fast enough and takes too long. I might want to hit the forums on that topic, it seems like in our experience with dev mode that it is actually rebuilding images rather than hot syncing files?!?!?! Maybe it's a configuration issue on our side, I know dev mode i

[2021-08-10 19:20] edvald commented on #2534
Oh interesting. I'm pretty sure that's some configuration/usage matter, happy to help with that! I certainly wouldn't suggest switching to the much-slower and soon to be deprecated hot reload mechanism :)

[2021-08-10 19:25] #2534 closed

[2021-08-10 19:26] OOPMan commented on #2534
@edvald Should I posted a topic on the forum or open a new ticket?

[2021-08-10 19:26] edvald commented on #2534
Either works, but the forum seems like the spot for this one :)

[2021-08-10 19:35] OOPMan commented on #2534
@edvald Sure, I'll try and post something tomorrow then :-)

[2021-08-10 19:51] #2430 closed

[2021-08-11 09:16] bbaga commented on #2533
My question was answered, I'm closing this issue. Thanks.

[2021-08-11 09:16] #2533 closed

[2021-08-11 14:20] bbaga opened #2541 "Module variables don't seem to follow the behaviour described in the documentation"
## Bug

### Current Behavior

According to the documentation we can [override project variables on module level](https://docs.garden.io/using-garden/variables-and-templating#module-variables):

This override doesn't happen when I try to follow the examples. In fact, none of the variables defined in the module seem to be available inside the same module or other modules.

### Expected behavior

Var

[2021-08-11 14:27] edvald commented on #2541
Hey @bbaga! Thanks for the detailed report. And no need to apologize, the issues are much appreciated :)

I think you're running into an issue that's been fixed in our latest edge release already, but not yet out in a stable release. Could you try with the [edge release](https://github.com/garden-io/garden/releases/tag/edge) and see if that works as expected?

[2021-08-11 21:05] OOPMan commented on #2534
@edvald Okay, no need for me to post, I worked out my problem. I was using `garden deploy --dev-mode --watch` when I should have been doing `garden deploy --dev-mode='*'

[2021-08-11 21:08] edvald commented on #2534
Ahaa I see. I'm actually going to make a change to make that command equivalent, seems like the expected behavior.

[2021-08-11 21:44] MarkMurphy opened #2544 "Stopping all running services in namespace stops everything regardless of namespace"
## Bug

### Current Behavior

The cli docs state this removes all running services in `my-namespace` in the `dev` environment:

[code]

### Expected behavior

I would expect that anything deployed under a different namespace would not be removed.

### Reproducible example

Define a namespace in your module separate from the primary namespace your other services get deployed under and
and watch it

[2021-08-11 21:53] edvald commented on #2544
Hey @MarkMurphy. Actually this is probably the designed/intended behavior, but perhaps some documentation is misleading. A Garden namespace is logically disconnected from the Kubernetes namespace, also by design, in order to support a higher level namespace construct across multiple providers. Most common usage is to just have a single k8s namespace attached to a Garden namespace, so that was a fa

[2021-08-11 21:56] MarkMurphy commented on #2544
Ok, thanks again!

Sure: https://docs.garden.io/using-garden/using-the-cli#stopping-all-running-services

[2021-08-11 21:56] #2544 closed

[2021-08-13 05:18] zeyaddeeb opened #2546 "[FEATURE]: Add `testModule` type 'container' in environment"
## Feature Request

### Background / Motivation

I want to be able to run custom tests on my containers after I build them, which would be equivalent to running `docker exec /bin/sh go test . `

Having access to remote context in third-party CI platform like CircleCI might not be possible due to VPC limitations.

It would be awesome to utilize tests for

[code]

Running tests on a CI tool that doe

[2021-08-15 17:49] FBurner opened #2547 "In watch mode, garden watches files and directories that are excluded in ignorefiles"
## Bug

### Current Behavior

garden deploy tries to watch node modules

[code]

### Expected behavior

Not to watch node_modules since its excluded in gardenignore

[code]

### Reproducible example

[code]

### Your environment

* **OS:** Ubuntu
* **How I'm running Kubernetes:** Digitalocean

`garden version` 0.12.24

[2021-08-15 18:34] FBurner commented on #2547
i now excluded multiple folders and checked every gardenignore

keeps still popping up

Process memory threshold reached. This most likely means there are too many files in the project, and that you need to exclude large dependency directories. Please see https://docs.garden.io/using-garden/configuration-overview#including-excluding-files-and-directories for information on how to do that.

If this

[2021-08-15 18:50] FBurner commented on #2547
it seems if the folder is not a garden module the gardenignore file rules are not applied and the folder is watched even if there is a node-module folder inside

[2021-08-15 19:42] FBurner commented on #2547
[code]

[2021-08-16 20:29] #2456 closed

[2021-08-16 23:43] #1777 closed

[2021-08-17 09:17] eysi09 commented on #1829
Thanks for opening that issue. Since we've addressed this for dev mode and are deprecating the old hot reload functionality, I'll just let stale bot do its thing.

[2021-08-17 09:18] eysi09 commented on #2432
I think this should be easy enough to add, unless there are some gotchas around file scanning and module resolution. Thoughts, @edvald?

[2021-08-17 09:25] edvald commented on #2432
It's not quite clear what the suggested behavior is. It's easy to allow picking a project config by name, for example, but it gets a little thornier if we're talking about overriding where we scan for modules relative to where the project config is.

More specific examples of a use case would be useful, then we can see what could make sense.

[2021-08-17 09:52] eysi09 opened #2549 "Better docs for dev mode"
Our [documentation for dev mode](https://docs.garden.io/guides/hot-reload) is a little sparse, it's still flagged as experimental, and the old hot reloading functionality is still at the top of the doc.

We should address these issues and also the one mentioned in this [comment](https://github.com/garden-io/garden/issues/2520#issuecomment-892789636).

[2021-08-17 09:53] eysi09 commented on #2520
I added an issue for improving the docs: #2549

[2021-08-17 09:59] eysi09 commented on #2516
Yeah, files in `.gardenignore` will not be staged for builds in the `.garden/build` directory which explains the build error. We essentially run `docker build` in that directory so the build context won't include ignored or excluded files.

So I guess we're back to square one, right?

[2021-08-17 10:00] #2532 closed

[2021-08-17 10:07] eysi09 opened #2550 "Better documentation for how namespaces work"
We're missing doc on how Garden namespaces work, how they differ from Kubernetes namespaces, and how you'd generally use them together.

As improve the docs, we should also address the point made here: https://github.com/garden-io/garden/issues/2544#issuecomment-897179604

[2021-08-17 23:34] HologramInterview commented on #2519
Thanks for working on this, we need these options as well.  When do you think this will be released?

[2021-08-17 23:35] ozymandias547 commented on #2519
Thanks for working on this, we need these options as well. When do you think this will be released?

[2021-08-18 22:13] 10ko opened #2551 "Deprecate cert-manager integration"
## Bug

### Current Behavior

The current `cert-manager` version supported in the Garden integration is way too old (`v0.11.0`) and needs an update.

### Expected behavior

As a user I want to be able to generate certificates using the latest version of `cert-manager`
### Reproducible example

N/A

### Workaround

You could potentially install `cert-manager` manually and use it to manage tlsCertif

[2021-08-20 09:24] #2519 closed

[2021-08-20 15:27] jondeandres commented on #2455
is there any workaround for this? Do you think these kind of information should be part of the output of the module or there could be a way to register outputs?

[2021-08-20 19:54] #2504 closed

[2021-08-23 12:23] danhawkins opened #2553 "When using a helm chart with required charts I get an issue about renaming to tmpcharts"
## Bug

I am using a helm chart which is imported via a submodule and referenced by chartPath in the helm module
[code]

### Current Behavior

The first deployment works ok, subsequent deployments fail because the folder already exists

[code]

### Your environment

Tried on Mac and Linux
GKE
Garden 0.12.24

[2021-08-23 13:45] danhawkins commented on #2553
Workaround at the moment is to delete the folder

[code]

[2021-08-23 22:02] gsvachulay01 commented on #2418
Same here, I have this going with:
[code]
on MacOS 10.15.7 Catalina (intel)
using garden 0.12.25 (today's latest, but same with previous too)
on config
[code]
as you can see from the commented out sections I tried various different combinations and directly addressing the internal registry too. That doesn't work as it's not listening on HTTPS. For every other combination I get the above error. Sam

[2021-08-23 22:14] edvald commented on #2418
Understood @gsvachulay01! Happy to take a look, although I might need more info.

That's strange, first time we hear of that. Can you share what comes up when you try it?

Yeah, the latter as you described it above is definitely not going to work, but omitting `deploymentRegistry` should work without a 500 error for sure. It actually appears these may be different issues, since a 500 error indicat

[2021-08-23 22:15] edvald commented on #2418
Btw @carlosjgp I'm _pretty_ sure your issue is resolved now. We've got probably three separate issues on this thread :P Could you maybe give today's release a spin?

[2021-08-23 22:28] gsvachulay01 commented on #2418
Hi @edvald , happy to explain further. The package is `garden-0.12.21-macos-amd64.tar.gz` and it extracts to the regular directory tree that should go under `garden/bin`.  When opening the garden executable, you get `“garden” is damaged and can’t be opened. You should move it to the Bin.`

For the deploymentRegistry, I tried omitting it completely, setting it to `null`, leaving nothing after the `

[2021-08-23 22:46] edvald commented on #2418
Ah I should have realized. This is macOS's security feature being a bit aggressive. I've found it doesn't come up at all if you download (with e.g. wget or curl) and extract via the command line. We're working on getting the builds properly notarized to avoid that for once and all, and our latest release actually has a `garden self-update` command that takes a version argument. I suppose you could

[2021-08-23 23:22] gsvachulay01 commented on #2418
@edvald you solved it! I was trying a couple other options, but after a second look at the logs during a debug logging session with the CLI, it returned permission errors for PUT calls to the registry. I've exec'd into the registry container and verified that it indeed had no permissions to write `/var/lib/registry/`. I checked the mapped hostPath in the VM and it was the default `root:root` `0655

[2021-08-23 23:32] edvald commented on #2418
Aha, I see. I can't say yet that I fully understand _why_ this would be the case, but that's good to know. I wouldn't expect (or like) the registry container to require privileged access.

Maybe it's rather about the registry chart used being outdated and needing to be set up a bit differently, using a different path for data or something...

_checks the version..._

Yep, we've indeed been using a

[2021-08-25 17:53] MarkMurphy opened #2556 "[FEATURE]: terraform upgrade"
Looking to upgrade terraform. I'd like to be able to use features only available to newer versions of terraform. Specifically 0.14.8 or above. Ideally the latest 1.x

[2021-08-25 22:49] jondeandres opened #2558 "Slow image building"
We, Uniphore, have started adopting Garden for few projects and we've identified a behavior that we'd like to discuss and see if there are improvements we can do. It's mostly related to used time for image building, very specifically when we run tests.

### Current Behavior

We are having a really slow experience building images through garden in almost all scenarios: in-cluster building, kaniko o

[2021-08-26 11:16] #2558 closed, assigned to nobody

[2021-08-28 16:11] #2389 closed

[2021-08-31 13:47] #2556 closed

[2021-09-01 03:08] tedchang77 commented on #2458
@edvald any update on this?

here are the logs from the garden cli:

ℹ Remaining tasks 1
ℹ tasks                     → Processing task delete-service.antivirus-wrapper-service.9d9ea9f0-0acc-11ec-ad9c-1773e84c2755
Currently in progress [delete-service.antivirus-wrapper-service.9d9ea9f0-0acc-11ec-ad9c-1773e84c2755]
   ℹ antivirus-wrapper-service → Deleting...
   Getting getServiceStatus handler for

[2021-09-02 12:06] zyulyaev opened #2566 "Module version calculation ignores version of a build dependency"
## Bug

### Current Behavior

I have following configuration:
[code]

So the `web-image` module has a build dependency on the `web-build` module. The documentation states:

So I expect the `web-image` module version to change if `web-build` version changes. However, this is not the case. Here are the logs from our CI for two builds of different branches:

### Build 1
[code]

### Build 2

[code]

A

[2021-09-02 17:23] rogpeppe commented on #2420
One standard way to do this is `TERM=dumb`. It would be great if that setting disabled all ANSI tty output.

[2021-09-03 02:29] #2393 closed

[2021-09-07 13:31] zyulyaev commented on #2566
As far as I understand, the version calculation algorithm looks as following: `hash(this module's files, this module's configuration, dependencies' files)`. So it actually ignores dependencies' configuration such as build command arguments or environment variables which can and usually affect the build result.

[2021-09-07 14:14] thsig commented on #2566
Hi @zyulyaev—thanks for raising this question! We'll have a brief internal discussion on this as soon as possible and get back to you with an answer afterwards.

[2021-09-08 04:32] tedchang77 opened #2568 "[FEATURE]: Support conditional deploys so that downstream dependencies are not automatically redeployed"
## Feature Request

### Background / Motivation

There are two distinct use cases for deploying our infrastructure: complete vs incremental deploys.  For a complete deploy, the stack generated from the dependency graph is ideal as each module will be only be deployed after it's upstream has been deployed.  Similarly for incremental deploys of a module, the stack graph results in all downstream mod

[2021-09-09 08:29] to266 opened #2570 "garden-util pods not found"
## Bug

### Current Behavior

On a fresh environment, nearly always the first run fails with this:
[code]

### Your environment

* **OS:** linux, gitlab runners
* **How I'm running Kubernetes:** AKS

[code]

[2021-09-09 15:57] OOPMan opened #2573 "spec.rules[0].http.paths[0].pathType: Unsupported value: "prefix": supported values: "Exact", "ImplementationSpecific", "Prefix" on Minikube v1.23.0"
## Bug

### Current Behavior

It seems like the version of K8S used by Minikube v1.23.0 does not like the `pathType` values being generated by Garden for Ingresses. Specifically, it expects the values to be propercase rather than allowing lowercase values. The version of K8S used by Minikube v1.23.0 is v1.22.1

This is not an issue on Minikube v1.21.0 which uses K8S v1.20.7. I have not tested on M

[2021-09-10 23:22] #2396 closed

[2021-09-13 12:35] #2015 closed

[2021-09-14 00:33] mattpolzin opened #2577 "[FEATURE]: Configurable service health check period"
## Feature Request

### Background / Motivation

Healthchecks can be quite noisy; I would like to be able to configure them to occur less frequently (ideally specifically in dev mode, but in general I think it is a useful knob to be able to turn).

### What should the user be able to do?

Specify the period of recurring health checks in the Garden config YAML.

### How important is this feature fo

[2021-09-14 03:23] neeraj00890 opened #2578 "Getting an error while executing garden login from cli"
**Error:**   Looks like your session token is invalid. If you were previously logged into a different instance
of Garden Enterprise, log out first before logging in

Please assist me there.

[2021-09-14 09:11] eysi09 commented on #2578
Hi @neeraj00890

Logging out and back in should do the trick, as per the error message. That is, run `garden logout` and then `garden login`.

And we'd be happy to further assist you on your dedicated support Slack channel. Would you mind pinging us there?

[2021-09-14 09:40] eysi09 commented on #2577
Hi @mattpolzin

Thanks for opening the issue. Since we expose health checks on the container module type in the first place, I suppose its reasonable to also allow specifying the frequency. We can look into it but I don't really have an ETA at the moment.

If you find yourself needing more and more K8s primitives, it might be useful to just switch to the `kubernetes` module type.

[2021-09-14 09:42] eysi09 commented on #2573
Thanks for the report, this should be a simple fix if using `Prefix` is backwards compatible.

[2021-09-14 09:46] eysi09 commented on #2570
Hi @to266

Hmm, that is odd. Would you mind sharing your build mode and other relevant project configuration?

It would also be useful to see the output from `kubectl get pods` in the namespace and the state of the `garden-util` pod.

[2021-09-14 09:53] eysi09 commented on #2568
Hi @tedchang77

Thanks for writing this up. This sounds very reasonable and something we've been meaning to look into. We expect to start work on this soon and we'll keep you posted.

[2021-09-14 11:13] to266 commented on #2570
Actually I don't see this behavior happening any more, which is a bit strange - but I'm not complaining. I would guess it's something peculiar with the setup we have, however even that did not change much. The biggest difference between now and the (occasionally) failing state is that back then we would tend to use many low-resource nodes (that had the strange drawback that pod startups were extra

[2021-09-14 11:24] OOPMan commented on #2573
Hopefully it is. This is a bit of a weird one since the K8S docs all reference it via the propercase form but it seems until recently lowercase worked too and a cursory examination of their changelogs didn't turn up a reference to this change

[2021-09-14 18:30] eysi09 opened #2581 "Better logs when port forwarding fails"
## Bug

Garden will sometimes print the same log line over and over again when attempting to establish port forwards to a service that has not been deployed. See screenshot below.

### Current Behavior

![image (4)](https://user-images.githubusercontent.com/5373776/133313634-3f4749cb-fa47-4eb3-b4b1-342695b5e0f6.png)

### Expected behavior

Nicer logs.

[2021-09-19 18:44] #2414 closed

[2021-09-21 09:40] eysi09 commented on #2570
Thanks for the update. That might indeed be the case. I'll close for now but please re-open if you bump into this again.

[2021-09-21 09:42] #2570 closed

[2021-09-21 21:14] pstetsuk-exadel opened #2589 "Helm values from a chart applied to dependent charts"
## Bug

### Current Behavior

I've create [simple project](https://github.com/pstetsuk-exadel/garden-helm-test) to reproduce this bug.
There are 3 modules:
-  base-chart - base template
- chart1
- chart2 - depend on char1

In base-chart defined values.yaml
[code]

In chart1 garden.yml looks like
[code]

In chart2 value for `addPorts` is not defined but defined dependency to chart1
[code]

### Expe

[2021-09-24 11:41] thsig commented on #2566
Hi @zyulyaev—we've had our internal discussion on this, and are working on a fix.

Note: The problem you highlighted is mostly limited to this specific case of using the `env`  field in `exec` modules that are used as build dependencies.

Thanks again for reporting this!

[2021-09-24 19:00] eysi09 commented on #2589
Thanks for the repro @pstetsuk-exadel, it's super helpful. We'll look into this.

[2021-09-26 18:17] edvald commented on #2447
This is slated for next release!

[2021-09-30 18:44] bbaga commented on #2529
Sorry for the late reply, I'll try it tomorrow

[2021-10-01 13:50] bbaga commented on #2529
Tested the `0.12.27` release and it looks good to me, thank your the fix!

[2021-10-04 13:58] edude03 commented on #1192
Would like to see this as well

[2021-10-04 15:18] #2529 closed

[2021-10-05 21:20] ITHedgeHog commented on #2120
This issue is now causing us some problems as well. It would be extremely helpful to support this on Windows.

[2021-10-07 09:54] ITHedgeHog opened #2614 "Running garden self-update on Windows 10 leaves garden non-functional"
## Bug

### Current Behavior

If I issue the command garden self-update in an administrative or user session of PowerShell, I end up with Garden non-functional until I reinstall via the PowerShell script
### Expected behavior

I expect to be able to issue a command such as garden deploy without failure

### Reproducible example
[code]
[error.log](https://github.com/garden-io/garden/files/7301471/e

[2021-10-13 17:41] mattpolzin opened #2617 "Variables don't work for `modules.include` in project configuration."
## Bug

Variables cannot be used in the **project** configuration's `modules.include`.

As a simplified example, the following seems reasonable (though the more useful extrapolation of the example involves different variable values per-environment):
[code]

### Current Behavior

`Error validating project: key .modules.include must be an array`

### Expected behavior

The `include` property is set

[2021-10-13 22:32] pstetsuk-exadel commented on #2589
To merge `values` from module and baseModule used `apply()` from  `json-merge-patch`. It looks like:
[code]
But it modifies `baseModule.spec.values` and it leads to problems when baseModule used for several modules.
To resolve it just need to use `merge()` instead of `apply()`.

Moreover, `null` values should not be removed because it doesn't allow to remove values specified in Helm chart. But if

[2021-10-15 07:18] kszymans opened #2623 "[FEATURE]: .git directory inclusion in container module"
## Feature Request

### Background / Motivation

My application requires .git directory for compilation thus I wanted to include it to my docker image.

### What should the user be able to do?

Include .git directory to container module

### Why do they want to do this? What problem does it solve?

Services which needs .git directory

### Suggested Implementation(s)

.git directory shouldn't be tr

[2021-10-25 12:13] twelvemo opened #2628 "[FEATURE]: allow setting annotations on garden managed pods"
## Feature Request

Allow setting annotations on garden managed pods like build pods (kaniko or cluster-buildkit) and pods used for running tasks in helm, kubernetes and container modules.

### Background / Motivation

When using cluster-autoscaler, all pods without the annotation `cluster-autoscaler.kubernetes.io/safe-to-evict: false` can be evicted in a scale-down and scheduled on a new node.
Fo

[2021-10-25 19:27] eysi09 opened #2630 "Incorrect status handling for deployment strategy "recreate""
## Bug

### Current Behavior

When Garden deploys a Kubernetes module with the deployment strategy set to `recreate`, it will report the `Deployment` resource as ready immediately, even though in reality the initial Deployment is still being deleted and the new one not even created yet.

The `kubectl rollout status` command report the correct statuses.

### Expected behavior

Garden should wait fo

[2021-10-27 05:58] anna-yn opened #2634 "Test command shows different behaviors when using artifacts"
## Bug

### Current Behavior

I have some jest tests in my repo and I noticed that running with `artifacts` makes jest behave differently. Without `artifacts`, when I run tests with this config:
[code]
Jest would print out something like this for each file it ran:
[code]
But when I add an artifacts block (which copies over the right artifacts just fine):
[code]
Jest would run without those outputs

[2021-10-29 07:04] to266 opened #2636 "Garden breaks with kubernetes 1.22 clusters"
## Bug

### Current Behavior

Any `kubernetes` module, even with simple manifests (such as configmaps or secrets) is not possible to deploy due `Ingress` resources using the old `extensions/v1beta1` (with some values redacted)
[code]

### Expected behavior

Deploys the thing :)

### Workaround

Stop using garden `kubernetes` modules **and** `container` modules with services. Instead, just stuff ev

[2021-10-30 05:49] #2462 closed

[2021-10-31 18:20] thsig commented on #2617
Good idea! This is more a feature request than a bug, but this should be relatively straightforward to implement.

[2021-11-02 05:55] RixT01 opened #2643 "[FEATURE]: Multiple serviceResources per module"
## Feature Request

### Background / Motivation
I'm currently using [Grafana Tanka ](https://tanka.dev/) to render k8s manifests for a microservices application that uses multiple in-house docker images.

My setup involves:
1. A local exec module that builds the manifests (`tk export`) into regular yml files.
2. A kubernetes module that declares the exec module as a build dependency.

### What sho

[2021-11-05 18:03] #2636 closed

[2021-11-09 03:54] ohookins opened #2653 "Strengthen YAML validation and error reporting"
## Bug

### Current Behavior

Right now the YAML parsing in the Garden CLI is very fragile, and unfortunately the error messages leave a lot to be desired.

For example, using the standard boilerplate project configuration you can start with this:
[code]

I was attempting to clean up the vast amounts of comments in this file and accidentally deleted the comment in the middle of that block, also re

[2021-11-09 13:38] tbl-harmoney opened #2655 "High CPU usage"
## Bug
Although no garden CLI commands are hanging, multiple processes are causing high CPU usage.
![image](https://user-images.githubusercontent.com/65944949/140931510-36c35a12-c72a-4a86-a3df-4d4547eb7cf3.png)

No `garden dev` commands were executed, only `garden deploy` using the `kubernetes` provider (cluster on GKE).
`.gardenignore` files are also used to ignore folders like `node_modules`. Is

[2021-11-09 13:57] thsig commented on #2623
Hi @kszymans! I think your workaround makes sense—is it slowing down your build process?

[2021-11-09 18:40] thsig commented on #2655
Hi @tbl-harmoney!

If you run e.g. `garden deploy --watch -l 4` (i.e. with the `debug` log level) you'll see something like this early in the log output:
[code]
Currently, the watcher watches everything in the project that's not excluded in the project-level `modules.exclude` configuration. So in your case, it might be watching `node_modules` too (unless you've added that to the project-level  `mo

[2021-11-10 00:24] philjb commented on #2495
Hi @edvald - just wanted to circle back to this to see if you wanted to take any action to better support mutagen configurations. If not, we can close.

[2021-11-10 09:33] tbl-harmoney commented on #2655
Hi @thsig,

The following configuration is already present in `project.garden.yml`:
[code]

Anyway, the `garden deploy` commands which were hanging and causing high CPU usage were _not_ run with the `-w` watch flag, so it might be unrelated to ignoring files. I'll keep running with the debug flag to diagnose further as it doesn't occur often that the deploy is stuck at the provider step.

[2021-11-10 11:18] edvald commented on #2655
Is this specific to macOS? Generally only the file watching is done in a distinctly different manner across platforms, so I wonder if it's more to do with some performance bug in module resolution etc.

Also, how big is the project? Thinking both in terms of module count and repo size.

[2021-11-12 13:39] shivanshs9 opened #2659 "[FEATURE]: Support resolution as objects of YAML template files"
## Feature Request

### Background / Motivation

I was writing a template kubernetes deployment manifest in the following format:
[code]
where `resources` can be customized based on the env. So it's a map object, not a string variable.

However, garden resolves the `webResources` as plain string, even though it's written as an object and thus it resolves it as `[object Object]` in the generated ma

[2021-11-15 10:26] tbl-harmoney commented on #2655
Hi @edvald, this might indeed be a cross platform issue. I cannot confirm this for Windows/Linux yet.
I would categorize the repo as large. ~50k commits and 3 application components which result in 10 garden modules:
* 3 container modules to build the application components.
* 3 helm modules to deploy the application components.
* 2 k8s modules for external components (database & document storage)

[2021-11-15 10:28] tbl-harmoney commented on #2518
Can confirm this approach fixes the problem: https://github.com/garden-io/garden/issues/2547#issuecomment-907263482

[2021-11-15 10:28] #2518 closed

[2021-11-15 15:15] tbl-harmoney commented on #2655
Happened again, stuck at:
![image](https://user-images.githubusercontent.com/65944949/141806192-4cdb5c5f-458a-4bd8-a5d6-8c073b8024f4.png)

Took a snapshot and spindump of the process, will send it in private.

[2021-11-16 14:40] #2505 closed

[2021-11-16 14:40] thsig commented on #2549
Since this was opened, we've significantly expanded our dev mode guide, so I think we're good on that front (for now, at least).

[2021-11-16 14:40] #2549 closed

[2021-11-16 14:58] jgeigerOnline opened #2661 "[FEATURE]: Allow specifying the service account for container modules"
## Feature Request

### Background / Motivation

Using the high-level `container` type is quite handy when it comes to the auto-generated images based on `Dockerfile`s and other convenience mechanisms compared to the bare-bones `kubernetes` type that requires more manual work.

Having said that, I currently don't see how to specify the service account that will be used to run the (in my case) Kube

[2021-11-17 11:53] #2653 closed

[2021-11-17 16:31] thsig commented on #1542
I believe this functionality has been added since this feature request was submitted, see the reference docs here:

https://docs.garden.io/reference/module-types/container#services-.ports-.localport

Please let us know if you're aware of any limitations/problems with the current implementation and we'll take another look.

[2021-11-17 16:31] #1542 closed

[2021-11-17 20:21] Ionshard opened #2665 "Garden's current helm version does not support local charts in the charts directory"
## Bug

The current version of helm installed by Garden has a bug when local charts are in the charts directory.

### Current Behavior

When I run a `garden deploy` under the hood it attempts to run a `helm dependency update` and I get the following error:
[code]

Checking the version of `helm`
[code]

### Expected behavior

[code]

### Reproduction

See: https://github.com/Ionshard/garden-subchar

[2021-11-18 20:58] WBrettDavis commented on #2423
Hi all - I was just wanting to see if there was any chance of reconsidering this feature as we are still facing this issue and have yet to find an effective work around.

[2021-11-19 18:20] malte-behrendt commented on #2643
This is a blocker for me since we have one helm chart for a bunch of microservices - we cannot/will not split them up into separate charts.

[2021-11-20 17:19] edvald commented on #2643
That is noted! It's not quite as simple as making `serviceResources` a list though, so this needs more thought. The Helm chart is only deployed once for a number of different components, and from a framework perspective it is therefore reasoned about as a single deployable. If the idea is to e.g. use dev mode for many of those components within the chart, this requires downstream changes in a bunc

[2021-11-23 10:28] #2589 closed

[2021-11-23 10:33] eysi09 commented on #2659
Hey @shivanshs9

You should be able to work around this with a new templating feature which allows you to use for loops. We haven't released it yet, but it's on master. So you can try it out in the latest edge release in the meantime.

We're hoping to cut a release later this week.

Here's the documentation for the feature (from our "edge" docs): https://docs.garden.io/v/master-2/using-garden/vari

[2021-11-23 10:43] eysi09 commented on #2661
Hi @jgeigerOnline

Thanks for opening this issue.

This has come up a couple of times in the past. The idea with the `container` module type is that it's an abstraction that is not strictly coupled to Kubernetes. So we try hard to not let Kubernetes concepts bleed into it.

Instead, the recommendation is simply to use the `kubernetes` module type for those instances were you need K8s specific conf

[2021-11-23 10:44] eysi09 commented on #2665
Hi @Ionshard

Thinks for flagging this. You're right, we should update the Helm version Garden uses internally. We'll look into this ASAP.

[2021-11-24 09:50] jgeigerOnline commented on #2661
Thanks for your response, I thought about using a `kubernetes` module as well but wouldn't that mean you would lose the ability to let Garden generate an image based on a local Dockerfile "on the fly"? The "asymmetry" between our other `container` modules and the one `kubernetes` module would indeed be a second nuisance albeit not a deal breaker - having a "Kubernetes aware" container module that

[2021-11-24 13:18] edvald commented on #2423
Hey @WBrettDavis! We have been working out a feature that might help with this, which is to allow running tests/tasks in an existing service deployment, instead of running ad-hoc Pods. That was originally meant more as a performance optimization but I wonder if that would cover your use-case here?

[2021-11-24 13:34] WBrettDavis commented on #2423
@edvald thanks for the response! I think this would work as long as these tests work similarly in the way that they expose their artifacts.

[2021-11-24 14:50] edvald commented on #2423
Ok cool! And that would be the case, yes. Basically mostly the same flow, except running from an existing Pod instead of a new one.

[2021-11-24 20:23] tedchang77 opened #2669 "Logs for the exec modules are not streamed to the console"
## Bug

### Current Behavior

For the exec module you currently need to wait until the build/deploy/test/etc command completes before the logs are sent to the console.  This makes it difficult to know if something is behaving normally but taking a long time or if something has gone wrong.

### Expected behavior

The logs for any exec module commands should be streamed to the console in real-time a

[2021-11-24 20:38] tedchang77 opened #2670 "[FEATURE]: Make garden commands aware of the directory you are running from"
## Feature Request

### Background / Motivation

The current behavior of garden build/test/deploy to run all modules. This is not ideal from a performance, security and usability perspective. To prevent this we ask our developers to always specify the modules or service they want to build or deploy. So garden build service1, service2 or garden deploy service3, service4.  This results in a lot of e

[2021-11-24 21:01] tedchang77 opened #2671 "getStatus Command return result in exec module is ignored"
## Bug

### Current Behavior
the return value from the getStatus command script in the exec module is ignored and the  service is always deployed.

### Expected behavior

if the getStatus command script returns the value 0 then don't deploy.

### Reproducible example

https://github.com/tedchang77/garden-exec-status-check
 output of command:
`garden get status
Get status

Running in namespace defa

[2021-11-25 00:08] tedchang77 opened #2672 "getstatus Command and cleanup Command logs for the exec module don't show up in console"
## Bug

### Current Behavior

when running garden deploy with the exec module, the getstatus Command and cleanup Command logs are not streamed to the console.

### Expected behavior

the logs for these scripts should be streamed in real-time to the console.

### Reproducible example

https://github.com/tedchang77/garden-exec-status-check

### Workaround

Write logs to a file.

### Suggested soluti

[2021-11-25 00:45] tedchang77 opened #2673 "[FEATURE]: Ability to copy entire directories in the generateFiles of ModuleTemplate kind"
## Feature Request

### Background / Motivation

We have to specify each file that we want to copy over which clutters the garden.yaml file and is error prone and hard to maintain.

### What should the user be able to do?

be able to specify a directory for the sourcePath and targetPath. all the files in sourcePath should be copied to targetPath.

### Why do they want to do this? What problem does

[2021-11-25 00:54] tedchang77 opened #2674 "file permissions are lost when files are copied/generated in generateFiles of moduleTemplates"
## Bug

### Current Behavior

When files are copied and/or generated the file permission is lost. This causes an issue because we copy executable scripts and they can no longer be run.

### Expected behavior
The file permissions should be copied from the source to the target.

### Reproducible example

### Workaround

### Suggested solution(s)

the execution bit should be retained.

[2021-11-25 02:08] tedchang77 opened #2676 "cannot override module variable with cli variable argument in the command of the exec module"
## Bug

### Current Behavior

setting a cli variable argument and passing it the command doesn't override the variable if it's defined at the module level.

 ===========

### Expected behavior

the cli variable should have precedence and override the variable set at the module level.

### Reproducible example

### Workaround

### Suggested solution(s)

[2021-11-25 02:16] tedchang77 opened #2678 "Invalid template string error when using variables in workflow command"
## Bug

### Current Behavior

when running garden run workflow we get an invalid template string error when using variables with helper functions.

### Expected behavior

### Reproducible example
command: [deploy, "${var.services ? replace(var.services, ' ', ',') : null}"]
results in the following error:
`Error: Invalid template string (${var.services ? replace(var.servi…): Error validating argume

[2021-11-25 02:47] edvald commented on #2678
Hmm yes, I can see the issue, I'll look into it. The workaround for this for the moment would be something like `${var.services ? replace(var.services || ' ', ' ', ',') : null}`. Notice the added ` || ' '`. It's ugly but works until the fix is done 😬 .

[2021-11-25 09:31] #2678 closed

[2021-11-25 09:33] #2669 closed

[2021-11-25 09:34] #2671 closed

[2021-11-25 10:14] ishantagarwal-x213235 opened #2680 "[FEATURE]: Require custom tag property in container module to tag the image with custom tagging"
## Feature Request

### Background / Motivation
The current behavior of garden build for container module to build the image and tag with garden module version. Developer do not have option to tag the image with custom tag as per their CI/CD policy.

### What should the user be able to do?
run garden build which will create and publish the image with custom tag.

### Suggested Implementation(s)

#

[2021-11-25 17:28] tedchang77 commented on #2680
Garden should also be able to push the custom tag(s) to the docker registry.

[2021-11-26 20:37] carolinapc opened #2685 "Conditional statement not working with null for jib-container"
## Bug
Trying to use ```dependencies: ["${var.buildSharedLibs ? 'shared-libs' : null}"]``` in a jib-container module for **build.dependencies** property inside of a template but is throwing this error: **key .build.dependencies[0][name] must be a string**

### Current Behavior

Garden is expecting a string and does not handle null or undefined.

[code]

### Expected behavior

Garden should handle

[2021-11-26 20:38] tedchang77 opened #2686 "[FEATURE]: Allow Automatic Environment cleanup to call garden workflows"
## Feature Request

### Background / Motivation

The current implementation deletes the namespaces associated with an environment. For customers that are using Infrastructure as code tools like pulumi and terraform this leaves their state files in an inconsistent state.  Allowing the cleanup script to call a workflow would give you an audit trail as well as keep the state file synchronized.

### W

[2021-11-26 22:39] edvald commented on #2686
Thanks @tedchang77. This is on the roadmap already, but happy to nudge it.

[2021-11-27 22:08] tedchang77 commented on #2686
@edvald we have a workaround for this.. we can refresh the statefile/backend so it's synched with what's actually deployed so this can wait. just wanted to capture it so we don't forget.

[2021-11-28 01:21] tedchang77 opened #2687 "[FEATURE]: module varfiles"
## Feature Request

### Background / Motivation

we are using module templates to generate our jib modules and each generated module has a different set of build dependencies.  we would like to be able to use a varfile that is scoped to each module so we can reference it in the dependency property. this is a subset of: https://github.com/garden-io/garden/issues/2506 which describes a more fulsome

[2021-11-29 12:13] kszymans opened #2688 "[FEATURE]: Add few useful variables"
## Feature Request

### Background / Motivation

Hello 👋
I am trying to setup clean up policy mechanism of preview envs deployed by garden and I noticed lack of two potentially useful features:
- `${git.ref}` or at least `${git.repository}` variable - in order to delete the preview env with garden from central place you have to be aware location of garden config, so repository is essential here. I

[2021-11-30 10:23] eysi09 commented on #2589
Hey @pstetsuk-exadel, could you confirm whether #2618 fixes your issue? It's already been released.

[2021-11-30 10:24] pstetsuk-exadel commented on #2589
Hi @eysi09, yes the problem is resolved. Thanks

[2021-11-30 11:05] eysi09 commented on #2661
Hi again

The way it works when you have some source code with a Dockerfile is that you reference it from the `kubernetes` module type. So saying you replace the `container` module with a `kubernetes` module is a little misleading, you actually need to use both.

I think a little before and after probably explains this best:

Before:

[code]

 After:

[code]

This pattern allows you to have dynami

[2021-11-30 11:36] eysi09 commented on #2688
Hi @kszymans

It makes perfect sense to add `ref` and `repository` to the `git` template context. We already have `${git.branch}`.

When you say `repository` though, are you thinking the URL of the remote?

A `date` function is a bit more tricky. The Garden CLI doesn't really store any state, so I'm not quite sure how feasible it would be to implement this. In any case the CLI would need to "call"

[2021-12-01 10:38] kszymans commented on #2688
1. Yes, I meant to keep in `${git.repository}` variable return value of `git config --get remote.origin.url` your current repository
2. I may not follow you especially in terms of providers, but is there any problem to implement returning date mechanism under `${date}` variable or helper function with this: https://www.javatpoint.com/typescript-date-object?

[2021-12-02 09:53] eysi09 commented on #2688
Ah, I may have misread your text. Do you just need the current date? If that's the case, it would be easy to add and we should definitely do that, along with some different formatting options.

[2021-12-02 09:54] eysi09 commented on #2687
Just a quick update on this, we're already working on it and will be included in our next release.

Hopefully we'll be able to ship this on edge within the next few days.

[2021-12-02 12:55] tedchang77 commented on #2687
That's great!  Any plans on implementing module variables that are scoped to the environment as well? This would complete  https://github.com/garden-io/garden/issues/2506 and would let us remove the external scripts we have that merge the module variables and Module variables scoped to the environment.

[2021-12-02 13:05] thsig commented on #2687
Not currently, but part of this feature will be environment-scoped module varfiles (similarly to how we have project-level environment-scoped varfiles). Does that mostly cover your use-case?

[2021-12-02 13:38] tedchang77 commented on #2687
what happens if variables are defined in the module and environment-scoped module varfiles? i'm assuming the latter would take precedence? and i believe module variables already have higher precedence that any project level variables. i think the only thing left from #2506  would be environment-scoped module variables defined in the garden configs. is my understanding correct?

[2021-12-02 14:14] thsig commented on #2687
Yeah, the latter takes precedence—similarly to how environment-scoped project-level varfiles take precedence over the project-level (non-environment-scoped) varfile.

So the total precedence order is (from lowest priority to highest priority):
* `project.variables`
* Project-level varfile
* `environment.variables`
* Environment-level varfiles (at the project level)
* `module.variables`
* Module-le

[2021-12-02 14:30] tedchang77 commented on #2687
yes, that makes sense to me.  cli variables would have the highest precedence.

[2021-12-02 14:53] tedchang77 commented on #2687
having this variable precedence hierarchy within garden would add a lot of power to garden variables and eliminate a lot of manual scripts. it would make garden even more awesome!

[2021-12-03 15:03] kszymans commented on #2688
Yes, that's exactly what I need and I guess will be useful for others.

[2021-12-03 19:22] Cpcrook commented on #2384
With the latest (4.3.0) release of Docker Desktop on 2021/12/02 (which includes Kubernetes 1.22.x) this issue appears to be rearing it's head.

[2021-12-04 03:42] remotezygote commented on #2333
Where are things on this? I think a few folks like me now have these M1 Max machines in hand - would love to know if there's a workaround of some sort...

[2021-12-04 17:43] remotezygote commented on #2333
To update, using the previous attempt's branch, I am able to get everything to build except the dashboard, and it appears to be only one piece: `node-sass` - no version before 6.0.1 will build on arm64. But when you just upgrade that:

[code]

[2021-12-04 18:30] remotezygote commented on #2333
For more context, I did have to make some changes (branch here), and had to do some stuff to get things to `yarn` successfully:

[code]

If you change the version of `node-sass` in `dashboard/package.json`, the yarn install will succeed, but the dashboard will not build (everything else will).

And make sure you're using node 16 or less - lots of cert issues with 17 still.

[2021-12-06 09:09] tbl-harmoney commented on #2655
Hi @edvald @thsig, some new info:

We've started to test our Garden setup with some of our developers using a Windows machine. It seems the same behaviour occurs, the `deploy`, `dev` but even `logs` command is stuck after completing the provider step.

After cancelling the command and re-executing, it just works.

[2021-12-07 08:38] tbl-harmoney commented on #2655
Caught an execution in debug mode.
Just stops after scanning all modules.

<img width="1915" alt="Schermafbeelding 2021-12-07 om 09 28 17" src="https://user-images.githubusercontent.com/65944949/144994944-d27474a1-a85c-4a59-b6f3-aa1158a639e4.png">

[2021-12-07 12:18] kszymans commented on #2623
It does not slow down, but complicates build process.

[2021-12-08 01:27] tedchang77 commented on #2687
https://github.com/garden-io/garden/issues/2676

[2021-12-08 20:44] remotezygote commented on #2333
Worth noting for others (I did not know this, maybe I missed it somewhere): you have to install Rosetta for garden to work on an M1 Mac:

[code]

[2021-12-10 21:09] carolinapc opened #2696 "Foreach statement not working in generateFiles in module templates"
## Bug
Foreach statement not working
### Current Behavior

Sample
[code]

### Expected behavior

Files be copied as per the condition in the filter

### Reproducible example

Error being thrown:
[code]

### Workaround

### Suggested solution(s)

### Additional context

### Your environment

* **OS:** Windows
* **How I'm running Kubernetes:** GKE

`garden version` 0.12.32-edge-72937979

[2021-12-13 15:22] thsig commented on #2685
I think a template helper for filtering null/falsey values from an array would be helpful here (and simple to use).

[2021-12-14 10:06] eysi09 commented on #2384
Hi @Cpcrook. Thanks for reporting this.

We thought we had already fixed this, so to begin with what version of Garden are you running?

And what type of module are you using (i.e. `container`, `kubernetes` or `helm`). And any other context that you think might be useful would be greatly appreciated.

[2021-12-14 10:16] eysi09 commented on #2333
Thanks for the update @remotezygote, this is super useful.

Does it work, now that you've installed Rosetta?

[2021-12-17 17:39] mattpolzin opened #2702 "Setting dev mode up to sync a non-existent local directory fails silently"
## Bug

### Current Behavior

If you choose a local directory that does not exist (maybe it's a relative directory that has the wrong root relative to the config it is defined within or maybe it's just a typo) then mutagen will end up "connected" with a status of "Halted due to root deletion" but as far as the logs given by Garden show there is no indication that anything went wrong.

I had to fin

[2021-12-17 22:20] remotezygote commented on #2333
It does! Seems to work fine. But at the same time, doesn't feel like it's far off at all from working under arm...

[2021-12-18 18:45] tedchang77 opened #2703 "[FEATURE]: generateFiles field on each module in a template should allow the use the path of module instead of just the path of the template"
## Feature Request

### Background / Motivation

When using generateFiles in a template we need to use files that are located in the module itself and this is currently not possible as the path of the template is used.  The location of the modules is not in a subdirectory of the template location so we can't reach specify the files in the modules.

### What should the user be able to do?

Be able

[2021-12-18 23:03] tedchang77 opened #2704 "[FEATURE]: provide variables that return the path relative to the project root"
## Feature Request

### Background / Motivation
We need to construct file paths in garden between directories to share files and this  is currently not possible as garden only has variables that return the absolute path. if we have variables that return the path relative to the project root we can always construct a path to any file in the project.

### What should the user be able to do?

introdu

[2021-12-21 18:49] #2676 closed

[2021-12-23 05:52] Venryx opened #2709 "`garden dev --hote=vote` errors: "not configured for hot-reloading" (despite readme)"
## Bug

### Current Behavior

Following instructions for trying the `vote` example causes an error -- specifically, when I try `garden dev --hot=vote`, I get: `The following requested services are not configured for hot reloading: vote`

### Expected behavior

I expect the example to start, with hot-reloading working.

### Reproducible example

Sequence of commands run:
1) `garden dev`
* Result: I

[2021-12-23 15:47] tedchang77 opened #2710 "[FEATURE]: support additional command line arguments to the command attribute in workflows"
## Feature Request

### Background / Motivation

tried to pass a --var argument to the workflow command attribute which failed with a key not found error.

### What should the user be able to do?

be able to pass --var argument to workflow command as well as additional arguments that make sense.

### Why do they want to do this? What problem does it solve?

allow user to pass similar arguments to

[2021-12-23 15:55] tedchang77 opened #2711 "[FEATURE]: support custom images in garden cloud workflows"
## Feature Request

### Background / Motivation

we are currently using exec modules and would like to use them in garden cloud. this is currently not possible as the programs that are being used in the exec module are not present on the garden cloud workflow runners making it impossible to use garden cloud to deploy. it's not practical to always install all programs in workflow steps as performan

[2021-12-23 16:22] tedchang77 opened #2712 "[FEATURE]: Add a dedicated Maven module type"
## Feature Request

### Background / Motivation

we are currently using exec modules and maven to build jar libraries. the current maven module is deprecated and the jib-container module is for building images. our use case is to build jar files and not docker images.  jars that are created are not versioned with garden so there is no garden caching of jars.

### What should the user be able to do

[2021-12-27 09:30] kszymans opened #2713 "Garden does not support all k8s resources within Helm charts"
## Bug

### Current Behavior

I am trying install my own Helm charts with k8s jobs only, with garden deploy. Unfortunately it keeps stuck at the deployment phase, although Helm release has been already deployed. Same story is with pods. When I change resource to deployment garden won't stuck since detects status of deployment. I think this is related to serviceResource limitation which supports: "

[2022-01-04 07:39] twelvemo commented on #2713
Hi @kszymans , thanks for filing the issue. I am able to reproduce this with your snippet. I can also confirm that deploying the same job as a kubernetes module works without problems. I believe this has to do with the way we wait for resources to become ready in helm modules. Thoughts @thsig @edvald ?

[2022-01-05 19:46] jalper opened #2716 "garden logs being cut off for webpack container"
## Bug
Multiple lines of log output are getting cut off from the garden logs command run against a container running webpack, and if you use kubectl logs you do get the full logs.

### Current Behavior

If we run garden logs against our webpack container (running webpack in dev server mode), with either tail 30 lines, or the default last 1 minute of logs, the output looks like this, once webpack f

[2022-01-05 20:28] jalper opened #2717 "dev mode unaware of pod re-initialization"
## Bug

### Current Behavior

When I run garden dev and there's been a change to our garden config that will necessitate re-initializing our main kubernetes pod, garden will finish doing everything and get to "Waiting for code changes..." before the remote pod actually terminates and re-initializes.

### Expected behavior

I would expect garden to know that due to a config change, a pod re-initial

[2022-01-06 02:32] #2432 closed

[2022-01-06 02:32] #2524 closed

[2022-01-06 02:32] #2266 closed

[2022-01-06 02:32] #2476 closed

[2022-01-06 09:38] 10ko commented on #2266
Just for posterity, the `garden self-update` command has been released in Garden [0.12.25](https://github.com/garden-io/garden/releases/tag/0.12.25).

See docs: https://docs.garden.io/reference/commands#garden-self-update

[2022-01-06 15:39] nvmker commented on #1192
Still need kustomize support for garden

[2022-01-06 19:45] SurbhiSGupta opened #2718 "[FEATURE]: tilt"
## Feature Request

### Background / Motivation

### What should the user be able to do?

### Why do they want to do this? What problem does it solve?

### Suggested Implementation(s)

### How important is this feature for you/your team?

🥀 Crucial, Garden is unusable for us without it

🌵 Not having this feature makes using Garden painful

🌹 It’s a nice to have, but nice things are nice 🙂

[2022-01-07 09:34] thsig commented on #2718
Haha. Hello there : )

[2022-01-07 09:37] 10ko commented on #2718
I think it might be a bit challenging to port Tilt from Go to Typescript but maybe @thsig you could take a look? 😆

[2022-01-12 15:11] edvald commented on #2709
Hi @Venryx. It appears our docs for the vote example are out of date. We have deprecated the older "hot reloading" feature for the new _dev mode_. See the guide here: https://docs.garden.io/guides/code-synchronization-dev-mode

Basically the example should be run without the `--hot` flag now. I'll leave this issue open until we've updated the docs and possibly other examples along the way.

[2022-01-12 15:29] edvald commented on #2702
Thanks @mattpolzin! We'll be making several enhancements relating to sync error reporting/logging, leaving this open to make sure this is captured.

[2022-01-12 15:34] edvald commented on #2696
I can confirm the issue. Basically it is specific to the `generateFiles` field in this context, so I've updated the description accordingly. It's not as quick a fix as I'd hoped, but we'll try and address it soon.

[2022-01-12 19:35] KoduIsGreat opened #2723 "[BUG] --dev not recognized as available flag"
## Bug
Hi, i was attempting to make a simple example using dev-mode and k8 but my cli doesn't seem to have the features reflected on the documentation website. I installed via homebrew, so perhaps the homebrew formula could be desyncd?
### Current Behavior
![Screen Shot 2022-01-12 at 2 28 37 PM](https://user-images.githubusercontent.com/13248655/149208915-2dbdacaf-0363-4bcb-8a47-8ff32d38b957.png)

[2022-01-12 20:20] edvald commented on #2723
Hey @KoduIsGreat! You don't actually need that flag with the dev command, it already kicks everything off in dev mode that's configured for it. Do we have this suggested somewhere in our docs? If so we should for sure fix that :)

[2022-01-12 20:21] edvald commented on #2718
Tempting as it is to... I guess I don't know, _tilt_ Garden? I'll go ahead and close :P

[2022-01-12 20:21] #2718 closed

[2022-01-12 21:05] KoduIsGreat commented on #2723
I believe it was my mistake, i misread a section mentioning a --dev argument on the `deploy` command not dev

[2022-01-12 22:24] edvald commented on #2723
I see, no worries! It is admittedly a little confusing. We have some design changes in mind to avoid that type of confusion, so that's also on us. I'll close the issue then, but don't hesitate to ping again if we can help. There's also the forum at community.garden.io and the #garden channel on the Kubernetes slack, please don't be a stranger :)

[2022-01-12 22:24] #2723 closed

[2022-01-13 14:26] SurbhiSGupta commented on #2718
Oh my goodness, how completely embarrassing!

I was poking around and didn’t realize it would post the issue 🤦🏾‍♀️

As part of the design exploration, I’ve been looking at different ways of getting more user feedback from the Tilt itself, and appreciated seeing the elegant way you executed in your docs. Anyway! Hiding in a corner now. 😅

[2022-01-13 16:16] edvald commented on #2659
Hey @shivanshs9. I just added an `indent` template helper that can be combined with the `yamlEncode` helper to achieve what you're after, e.g. `${indent(yamlEncode(var.webResources, 12))}`. Should be in the next release.

[2022-01-13 16:54] edvald commented on #1048
Closing this, since the old hot reload feature has been deprecated in favor of the new dev mode (which does not have this issue).

[2022-01-13 16:54] #1048 closed

[2022-01-13 16:54] #941 closed

[2022-01-13 16:54] #1511 closed

[2022-01-13 16:55] #1708 closed

[2022-01-13 16:55] #1768 closed

[2022-01-13 16:58] edvald commented on #2035
Is this still an issue?

[2022-01-13 17:12] edvald commented on #2394
I believe this issue was down to migration between Helm chart configs for nginx, so it's not something we can action. Do let us know if you bump into something like this again though!

[2022-01-13 17:12] #2394 closed

[2022-01-13 17:13] edvald commented on #2333
Just a quick update, we are on a path to do this. A little tricky because it involves several updates to 3rd party tools we use, but we'll get there soon.

[2022-01-13 17:15] edvald commented on #2299
Oops, this is still an active issue, misread it.

[2022-01-13 21:24] #2120 closed

[2022-01-14 00:41] qeternity commented on #2333
This is the least of concerns. There are a half-dozen undocumented quirks to will spend hours discovering (eg. You have to run a specific version of cert-manager because garden uses specific alpha manifests).

I'm very appreciative of all the hard work the garden team do, but would highly advise any team to steer clear. Minor updates often break something. Documentation is wildly inaccurate and ou

[2022-01-14 01:10] edvald commented on #2333
I'm very sorry to hear about your experience @qeternity, truly. We do our best, and I do thankfully know that most of our users and customers have a far better experience, but reading this does break my heart. Last thing we'd want is developers burning hours fighting issues (Kubernetes itself is a steep enough hill to climb) and seems we've put too many rakes in your path to step on. I can only ap

[2022-01-14 10:24] thsig opened #2728 "[FEATURE]: Add `--project-id` option to `garden cloud secrets create` command"
## Feature Request

Creating secrets for a project via the `garden cloud secrets create` command can be made a bit awkward by the fact that the project config is resolved before the command is run. This leads to a catch-22 where the referenced secrets need to exist before they can be created via the CLI.

A simple solution to this would be:
* Make the `cloud secrets create` command a `noProject` c

[2022-01-14 10:34] thsig opened #2729 "[FEATURE]: Add `garden cloud secrets update` command"
## Feature Request

Add a `garden cloud secrets update` command that updates secret values for the provided keys.

### Background / Motivation

When periodically rotating secrets, or syncing/updating them from values in another system, it's a bit clunky to have to delete them before creating them.

With a `cloud secrets update` command, rotating/syncing secrets becomes more elegant to automate.

#

[2022-01-14 10:37] #2688 closed

[2022-01-14 10:37] #2411 closed

[2022-01-14 10:48] thsig opened #2730 "[FEATURE]: Enable the `var` template key in template strings for `variables`"
## Feature Request

Currently, the `var`/`variables` template key is not available when resolving template keys in `variables`. So, for example, something like this is currently not possible:
[code]
Supporting this would require us to resolve `var` references inside `variables` blocks in dependency order.

### Background / Motivation

Supporting this would enable users to further reduce repetition

[2022-01-15 14:32] #2659 closed

[2022-01-15 14:45] #2685 closed

[2022-01-17 13:03] edvald opened #2734 "jib-container plugin tests timing out"
This is just an internal note to fix this flaky test, gotta figure out what's going on there.

[2022-01-17 20:48] MFAshby opened #2735 "getting started project: integration tests fail"
## Bug

### Current Behavior
Follow the getting started documentation.
Get to the test step and run tests: https://docs.garden.io/getting-started/4-deploy-and-test
Tests fail with the following logging
[code]

### Expected behavior

Tests pass

### Reproducible example

Example already present

### Workaround

The problem appears to be that the ingress class changed in microk8s version 1.20: https

[2022-01-17 21:10] MFAshby commented on #2735
I think [this code](https://github.com/garden-io/garden/blob/2fb8a119b48796e18e3247ddbe34c69c64223c14/core/src/plugins/kubernetes/container/ingress.ts#L66) to create the ingress is preferring to use the old API and add the deprecated ingress-class annotation instead of setting ingressClassName. I still don't fully understand why the `public` ingress class (which is marked as default) didn't pick u

[2022-01-17 21:20] edvald commented on #2735
Thanks for digging into this @MFAshby! This is super helpful. cc @thsig (who worked on this last)

At a glance it seems this is specific to microk8s, but we do want that to work out of the box (and already have specific provisions for it in the `local-kubernetes` provider).

This ingress API migration has been quite painful overall, not just for us mind you, but we should give it our best.

@MFAsh

[2022-01-17 22:12] MFAshby commented on #2735
@edvald thanks for the speedy response, that seems to have done _something_, and now all the ingress resources have assigned IP addresses

Setting applied like so:
[code]

Ingresses got a step further (ADDRESS column was previously empty)
[code]

[2022-01-17 22:13] ohookins opened #2736 "[FEATURE]: devMode file syncing from linked repository against remote module"
## Feature Request

### Background / Motivation

Using devMode with code directly in the repo I'm using for Garden works (I'm using a git submodule) but there's a desire to move from git submodules to remote modules, and then link the module to a locally checked-out directory elsewhere in the filesystem. Now the subdirectory in my garden repo contains just the `garden.yml` and the linked code is e

[2022-01-17 22:19] MFAshby commented on #2735
It's possible the ingress controller was _trying_ to use the annotation instead of the new field, and then because the class name was `nginx` and not `public` it didn't match and so wouldn't handle that ingress resource. Looks like there was some confusion about precedence here: https://github.com/kubernetes/ingress-nginx/issues/8103

I'm going to try on a later microk8s version since 1.23 is out.

[2022-01-17 22:32] MFAshby commented on #2735
microk8s version 1.23 a similar problem, except it's setting the ingressClassName field now instead of the annotation (I think the older ingress API was removed in this version)

Segment from ingress/frontend-0:
[code]

If I add the provider configuration `ingressClass: public` as you suggested, it works correctly.

[2022-01-17 22:37] edvald commented on #2735
Interesting! I'm not quite familiar enough with microk8s day-to-day, but I wonder if setting that as a default specifically for microk8s would make sense? And importantly, not break existing deployments.

[2022-01-18 09:28] MFAshby commented on #2735
It would probably work, although I expect inspecting the cluster to see what ingress classes are available would be a more robust solution and less provider specific. Note that upgrading microk8s itself doesn't cause addons like the ingress controller to get upgraded as well: https://microk8s.io/docs/upgrading. This means it's possible to be running latest microk8s with an older ingress controller

[2022-01-18 15:03] bobbywatson3 commented on #2665
I'm looking into using garden for our company, but seeing Helm updates lagging this far behind is disconcerting. How long does it typically take to get new versions of tools into garden?

[2022-01-18 15:16] edvald commented on #2665
Generally we've tended to be careful with this, looking to avoid any unexpected issues between releases, but I think we've been overly conservative here. We'll update Helm ahead of our next release (later this week).

[2022-01-18 22:41] edvald commented on #2736
Filing this as a bug actually. Syncing from the linked directory is the sane behavior imo, and I think this is just an oversight.

[2022-01-23 11:39] Orzelius opened #2741 "Ambiguous errors with bad .kube config"
## Bug

### Current Behavior

If there's a cluster with no name or an empty name in kube config a possibly confusing error is returned on some garden commands.

`clusters[0].name is missing`

This made me search the docs for `cluster` parameter that I though I needed to add to my garden project config and it took me a while to realize my kube config was faulty.

### Expected behavior

Ignore the c

[2022-01-23 12:02] Orzelius commented on #2741
I could work on this issue myself if we agree on the expected behavior part. My vote goes for "ignore invalid config". I don't know how long the empty cluster was there for me, but other tools seemed to just ignore it and worked fine.
Another solution would be to specify that the local kube config is invalid not the garden configs in the error message.

[2022-01-24 13:40] tbl-harmoney commented on #2655
Sent a PM with a log trace after using `garden deploy -l=silly` on a Windows machine which seems to be stuck about 1 out of 2 executions.

[2022-01-25 15:39] jgeigerOnline opened #2744 "[FEATURE]: Allow a task to be running based on a different image than the parent container module"
## Feature Request

### Background / Motivation

Currently tasks are restricted to the image of the parent container module. Now, in my case I have a Java container (A) that requires a message queue container (B) to be set up in a very specific way that is only known to A and is therefore not supposed to be moved to B. Tasks would be ideal for this as A could then have a task that would set up B w

[2022-01-27 14:52] #2630 closed, assigned to thsig, eysi09

[2022-01-27 17:55] #2716 closed

[2022-01-27 18:02] #2665 closed

[2022-01-28 05:37] tedchang77 opened #2749 "[FEATURE]: Garden should build all modules that have another module as a build dependency"
## Feature Request

### Background / Motivation

we currently have shared libraries that are configured as build dependencies. if a shared library is updated, we want to be able to trigger new builds of modules that are using this shared library.

### What should the user be able to do?

Garden should build all modules that have module-1 , module-2 or module-3 as dependencies (and so on, recursive

[2022-02-03 10:15] #2717 closed

[2022-02-03 10:17] thsig commented on #2744
Hi @jgeigerOnline—thanks for writing this up! This is a great idea, we'll have a look.

[2022-02-03 18:00] tedchang77 opened #2759 "[FEATURE]: conditionally deploy services that have a dependency on another service when it is deployed"
## Feature Request

### Background / Motivation

we have service-b that has a dependencies on service-a and also consumes an output from service a.. for example a dns entry. when we change service-a's outputs and re-deploy service-a, service-b has stale values causing it to not be able to connect to service-a. we need to then redeploy service-b to pick up the new output values.

### What should th

[2022-02-04 00:09] jalper opened #2762 "[FEATURE]: some way to override default namespace"
## Feature Request

### Background / Motivation

Currently in our garden setup, developers' namespaces are defined in the project config using their local username. Sometimes a dev wants to spin up a second environment in a different namespace, or maybe they want to override a clunky local username with something simpler, and to do that they would need to append --env <namespace>.dev to every gard

[2022-02-04 00:21] #2749 closed

[2022-02-04 12:17] wojciechka opened #2764 "Port forwarding in Kubernetes module does not respect spec.namespace"
## Bug

When using Garden with custom namespace specified in Kubernetes module's spec, it is respected for most things, but not for `portForwards`.

### Current Behavior

When trying to connect to forwarded port, the connection is rejected with an error like:

[code]

The problem is `kubectl port-forward` is called with a default namespace (such as `(project.name)-default`) rather than `spec.names

[2022-02-04 13:56] #2764 closed

[2022-02-04 23:54] Cpcrook opened #2771 "[FEATURE]: Support cert-manager with any ACME server"
## Feature Request

### Background / Motivation

Letsencrypt is not viable for non-public deployments (e.g. dev inner loop).

### What should the user be able to do?

Support the use of alternate ACME servers, like [step-ca](https://smallstep.com/blog/private-acme-server/) based implementations

### Why do they want to do this? What problem does it solve?

In order to have pre-production environme

[2022-02-07 00:37] ohookins opened #2773 "garden-util deployment not cleaned up when uninstalling cluster services"
## Bug

### Current Behavior

Running `garden plugins kubernetes uninstall-garden-services` I'm expecting that all Garden services are cleaned up and I'm left with a relatively clean cluster. Unfortunately the `garden-util` deployment and pod are left behind.

Potentially this output is related:

[code]

### Expected behavior

The `garden-util` deployment is not still present.

### Reproducible ex

[2022-02-07 20:32] carolinapc opened #2775 "[FEATURE]: Add flag to generateFiles property"
## Feature Request

Add flag to **generateFiles** property

### Background / Motivation

Currently **generateFiles** property is throwing error if the source file is not found.

### What should the user be able to do?

Add optional files to the **generatedFiles** property and garden will ignore errors if they do not exist.

### Why do they want to do this? What problem does it solve?

When deployi

[2022-02-08 10:46] eysi09 commented on #2771
We've been considering deprecating the Certmanager integration and instead providing documentation for how to manage your own and make it work with Garden modules.

Would that be a feasible approach for you?

[2022-02-08 11:25] eysi09 commented on #2762
Hi @jalper

We don't expose the namespace as an environment variable at the moment (you can see what we expose here: https://github.com/garden-io/garden/blob/master/core/src/constants.ts#L52).

But would this workaround do the trick:

[code]

That being said, we've meant to add support for user level settings for a quite a while now but we've never properly prioritised it. Would be very useful tho

[2022-02-08 12:45] tbl-harmoney opened #2777 "Garden modules not found occasionally"
## Bug

### Current Behavior

Although `garden.yml` files are present, they are not always found by the Garden commands ("Found 0 files in project root").
Below is an example of 2 consecutive GitHub Actions steps (after git checkout), executing `garden build` and `garden test`.
* The first step is not finding any modules, the second one is.
* When triggering a new GitHub Actions run, the `garden b

[2022-02-08 17:32] carolinapc opened #2778 "[FEATURE]: Option for re-resolving configuration between workflow steps"
## Bug

### Current Behavior

This _calculatePathToRoot_ script bellow creates a ``garden.env`` file adding ``pathToRoot`` env variable and it is called by the first step in the workflow bellow. The variable is used inside the template module linked to the service that is being deployed.

When we run the workflow for the first time, the ``garden.env`` file is created but garden can not find the ``

[2022-02-09 00:19] tedchang77 commented on #2778
Related to: https://github.com/garden-io/garden/issues/2703 and https://github.com/garden-io/garden/issues/2704

[2022-02-10 15:33] carolinapc opened #2781 "[FEATURE]: Prompt to proceed when running commands like garden delete"
## Feature Request

### Background / Motivation

`garden delete` command runs without confirmation to proceed. That means we can accidentally destroy all deployments.

### What should the user be able to do?

When running the command, a prompt should ask if the user likes to proceed.
Also add an optional flag (-y)  so we can run without prompt when running automatically inside custom commands for

[2022-02-10 23:07] carolinapc opened #2782 "[BUG]: Garden is allowing delete a dependency of a deployed service"
## Bug

### Current Behavior

When running `garden delete my-service-dependency` it is not taking in consideration that my-service is deployed and running and it is allowing to delete its dependency.

Also when deleting all services by running `garden delete service` it is not deleting the services in order, which is important as some resources can't be deleted unless their child resources have be

[2022-02-10 23:14] tedchang77 commented on #2782
I think the more important use case to handle is when you want to delete all services, for example when you want to tear down an environment. In this case when you run "garden delete service" the order in which you delete the services is important as some resources can't be deleted unless their child resources have been deleted. For example you can't delete a vpc if there are still resources using

[2022-02-10 23:28] carolinapc commented on #2782
Thant

[2022-02-10 23:29] carolinapc commented on #2782
Thanks @tedchang77 I updated the issue with your considerations.

[2022-02-10 23:50] tedchang77 commented on #2782
@carolinapc i think you may have accidently closed the issue. can you re-open?

[2022-02-11 07:20] thsig commented on #2782
Thanks for writing this up! I'm labelling this a feature request, since the current behavior is by design, but it's a valid option to look into implementing.

[2022-02-11 07:25] thsig commented on #2778
This is a result of the fact that workflows don't re-resolve configs between steps (which is done for performance reasons).

I think it would make sense to add a config option to specify that Garden should re-resolve configs for each step (or for specific steps).

That would slow down the workflow a little, but would enable the workflow you're describing there.