[2022-02-11 16:20] lewiscowper opened #2785 "[FEATURE]: Add package for Nix/NixOS"
## Feature Request

### Background / Motivation

I use nix as my default package manager for macOS, and would like to install the garden CLI with nix rather than with homebrew.

### What should the user be able to do?

Install a nix package "natively" across supported OSes and architectures.

### Why do they want to do this? What problem does it solve?

Managing packages with multiple package mana

[2022-02-14 04:49] ohookins commented on #2551
Maybe a first step on the path to deprecation would be to fix this:

[code]

This happens when you set `certManager.install: false`

[2022-02-18 13:49] #1192 closed

[2022-02-19 12:36] tedchang77 opened #2807 "[FEATURE]: add ability to filter the stack graph on additional fields"
## Feature Request

### Background / Motivation

The stack graph currently allows you to filter on build, deploy, task and test. We currently have a large dependency graph with many dependencies that makes the graph very busy and hard to see all the relationships. it would be nice to be able to have labels and selectors similar to k8s: https://kubernetes.io/docs/concepts/overview/working-with-obje

[2022-02-21 08:37] eysi09 commented on #2807
That's a great idea.

We'll be making a lot UI/UX improvements in the coming weeks and this is great feedback to feed into that conversation.

We're also planning to add a notion of tags at the framework level which would allow you to do just that.

[2022-02-21 23:58] ohookins commented on #2773
Sorry, I didn't see your reply! I can't remember now, and unfortunately (?) I've got some users on my cluster other than myself so I can't destroy it again.

I can't actually see the util pod anymore anyway, so maybe it's a kaniko thing (I moved to cluster-buildkit). If I manage to come back to this I'll update the issue again.

[2022-02-22 10:56] mvgijssel opened #2811 "File changes are not automatically picked in dev mode"
## Bug

### Current Behavior

Running the example in `examples/demo-project` using `garden dev --log-level verbose` does not update when any of the files are updated.

### Expected behavior

According to the docs at https://docs.garden.io/reference/module-types/container#include

So I would expect a basic container module to automatically update and re-deploy whenever one of the related files is u

[2022-02-23 13:19] eysi09 opened #2815 "Bump Buildkit version"
Not much to say about this one: We're on an old version of buildkit and we need to update.

[2022-02-23 17:01] tbl-harmoney opened #2816 "ENOTEMPTY: directory not empty"
## Bug

### Current Behavior

Occasionaly, Garden commands fail to deploy or delete a specific service:
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/65944949/155367854-ffc7ce80-a8c2-4f75-95f9-a0083a48703b.png">

The service is declared as follows:
[code]
### Expected behavior

Service is deployed/deleted correctly.

### Your environment

* **OS:** Linux, Docker, ubu

[2022-02-23 23:02] carolinapc opened #2819 "[FEATURE]: Be able to add more than one garden command in the custom commands"
## Feature Request

### Background / Motivation

I'm trying to create a custom command where I need to run two garden commands at once.

So first I'm generating a file from the result of this command:
```garden get modules -o=json > garden-modules.json```

Then I need to call this workflow to run the steps I need with the file generated:
```garden run workflow my-workflow```

### What should the u

[2022-02-23 23:22] edvald commented on #2819
Hey @carolinapc. Feature request accepted :) But there are actually a couple of ways you could do this already:

1. Run both commands in an exec step with e.g. an external script or with `command: [sh, -c,  "garden get modules -o=json > garden-modules.json; garden run workflow my-workflow"]` (nothing to prevent calling the garden CLI from exec commands, even multiple times); and
2. Run the first c

[2022-02-23 23:23] edvald commented on #2816
Hmm, interesting. Are you running multiple Garden commands at the same time in the runner? That should work fine, mind you, but wondering if that's causing your problem.

[2022-02-23 23:41] carolinapc commented on #2819
Hi @edvald, thank you for accepting the request.
I've implemented second option you suggested as a workaround, but I really prefer the first option cause I just want that to ran once, and I think the workflow is running for each module (please let me know if I'm wrong).

So using the first option, I implemented like that
[code]
Working pretty :) thank you!

[2022-02-23 23:46] edvald commented on #2819
The first option should work fine, but I'd suggest doing it something like this:

[code]

The workflow will only run once, to be clear. Hope that does the job :)

[2022-02-23 23:52] carolinapc commented on #2819
That's what I was doing before but I got errors, and I thought that could be something that garden were preventing me to do! Maybe I mistyped it though. I'll try again. Thanks!

[2022-02-24 00:07] carolinapc commented on #2819
I tried again this approach but I got these errors:
[code]

So the way it worked was this one:
[code]

[2022-02-24 05:47] ohookins commented on #2815
Can confirm that 0.9.3 of buildkit can fix the Alpine Linux `faccessat2` permission problem. In our case installing bundler triggered this as `gem` wants to use that particular system call on Alpine.

[2022-02-24 13:54] tbl-harmoney commented on #2816
No, only one command is executed at a time.

[2022-02-24 14:07] tbl-harmoney opened #2822 "`garden test` reporting error although command succeeded"
## Bug

### Current Behavior

Occasionally, running tests through `garden test` result in a non-zero exit code although the underlying executed command returns exit code 0.
Artifacts are not collected as well, is it possible the transfer of artifacts fails and returns the error code?
<img width="860" alt="image" src="https://user-images.githubusercontent.com/65944949/155537882-c4583870-6ec8-4ada-a

[2022-02-26 12:31] ITHedgeHog opened #2826 "Manually deploying to a production environment fails with Command aborted"
## Bug

### Current Behavior

We don't currently automate the deployment of our production systems, this is done by hand each time by running garden build --env=staging followed by garden deploy --env=staging giving us a chance to review what is built / deployed to ensure we are doing it correctly.

When running the build command now with the latest version we get the following:

![image](https://

[2022-03-01 10:27] tbl-harmoney commented on #2106
This seems to be reoccurring on 0.12.34, could we reopen this @thsig?
<img width="1395" alt="image" src="https://user-images.githubusercontent.com/65944949/156152262-33b45ed8-ccda-4e9b-bd92-df3ecf3e5e6e.png">

[2022-03-03 00:52] edvald commented on #2816
Ok, seems we need to dig in further. The service in question won't have anything to do with it, the error would happen when fetching kubectl, and I'm not quite sure why or how that might be happening. I'll see what I can glean from the code in question.

[2022-03-03 09:39] thsig commented on #2822
Hi @tbl-harmoney! It does indeed look like the error in the artifact handling logic is what's causing the error here.

Should we simply log the error but return a zero (successful) exit code when the test suite itself succeeds but there's an error in the artifacts logic, @edvald?

That would be a simple change, but I just wanted to verify that we'd be OK with those semantics.

[2022-03-03 09:42] thsig commented on #2811
Hi @mvgijssel!

Dev mode is only activated when the services in question are configured for it (which the services in `demo-project` are not).

If you check out the `vote` example project, for instance, you'll see that e.g. the `vote` service is configured for dev mode (it has a `devMode` directive in the configuration).

Hope that clears things up!

[2022-03-03 09:51] thsig commented on #2826
Thanks for reporting this Let's hop on a call sometime soon to have a closer look.

[2022-03-04 02:14] ohookins opened #2836 "[FEATURE]: Cleanup PersistentVolumeClaims on `garden delete service`"
## Feature Request

### Background / Motivation

I just got PVCs working to back some of our in-stack databases and noticed that when I `garden delete service`, the PVCs are left in place. There doesn't appear to be another command to run that would clean them up, which is a bit inconsistent with the behaviour of the CLI in general.

### What should the user be able to do?

Be able to clean up all

[2022-03-08 14:31] eysi09 opened #2841 "Custom exec commands are executed in the current directory"
## Bug

### Current Behavior

I have a custom command that runs a local script, something like:

[code]

If I run it in from the project root the command works as expected.

If I run it from a child dir, I get:

[code]

I'm assuming we're not exec-ing the script from the location of the `custom-commands.garden.yml` file.

Also, I would expect a better error.

I'm on latest master.

[2022-03-10 13:50] #2815 closed

[2022-03-13 23:56] ohookins opened #2845 "Unhandled promise rejection when updating a git repo that has been linked / dev mode"
## Bug

### Current Behavior

I have a module linked to another directory locally that is also a git repository. When updating that git repo (during which time some changes are made to the directory structure, I get the following error.

[code]

I'm running this from within `garden dev` and file syncing is set up for this location.

### Expected behavior

No error.

### Reproducible example

- Set

[2022-03-15 16:02] twelvemo opened #2849 "Fetching Maven on Windows returns invalid signature"
## Bug

### Current Behavior

When fetching maven in Windows with Garden, an error is returned reporting that the zip could not be extracted.

![Screenshot 2022-03-15 at 15 54 05](https://user-images.githubusercontent.com/78752267/158419653-9ef320dd-b025-4962-b842-5bd7eb84b4c9.png)

From the command output it is apparent Garden is expecting a zip file, but receiving a tarball. The mismatch seems t

[2022-03-16 08:47] ITHedgeHog commented on #2614
Just adding, same behaviour on Windows 11.

[2022-03-17 11:43] eysi09 opened #2853 ""hashes.join is not a function" when using a variable in an `include` field"
## Bug

### Current Behavior

I have the following config:

[code]

When I run `garden build image` I get the following error:

[code]

So resolving the `service` module fails when attempting to build the `image` module.

Looks like this is the offending piece of code: https://github.com/garden-io/garden/blob/master/core/src/vcs/vcs.ts#L322

When logging the output I see that the value we're attem

[2022-03-17 22:44] carolinapc commented on #2696
It seems a similar issue happens to build.dependencies (of a exec module inside a ModuleTemplate)
I tried to concatenate the dependencies from the varfile with the ${parent.name}-version like this:
[code]
but I'm getting errors like this:
Error validating Module 'common-lib-parent-module' (common-lib): key .build.dependencies[1][name] must be a string
Also  var.dependencies could be an empty array

[2022-03-18 20:42] #2849 closed

[2022-03-22 09:01] tbl-harmoney commented on #2816
After a lot of pipeline runs we finally found the cause: sometimes the garden-util pod got deleted unwantedly.
As garden recreates the util pod when needed, we looked over the deletion for a long time.

My apologies for logging this as a garden issue, of course garden can't work well if some system components are deleted.

It might worth noting that this deletion caused multiple "strange" errors n

[2022-03-22 09:01] #2816 closed

[2022-03-22 09:02] tbl-harmoney commented on #2777
Potentially caused by https://github.com/garden-io/garden/issues/2816#issuecomment-1074903565

[2022-03-22 09:02] #2777 closed

[2022-03-22 09:03] tbl-harmoney commented on #2822
Closing because of https://github.com/garden-io/garden/issues/2816#issuecomment-1074903565

[2022-03-22 09:03] #2822 closed

[2022-03-23 15:41] antoinelyset opened #2862 "Template expansion weird behavior"
## Bug

### Current Behavior

Template not expanding in a test.

### Expected behavior

Template should expand in a test.

### Reproducible example

Given:

[code]
If I execute : `garden run test e2e-test run-e2e -i`
I see : `HELLO_WORLD=${runtime.tasks.hello-world.outputs.log}`
I should see : `HELLO_WORLD=HelloWorld`

It actually works with a task.

Given :

[code]
If I run `garden run task run-e

[2022-03-25 09:22] ohookins opened #2864 "Symlink to directory in the build source confuses Garden CLI - it refuses to copy"
## Bug

### Current Behavior

We have a symlinked directory due to some internal node modules that needs to be copied (probably the symlink rather than the whole directory. For example:

[code]

During a `garden build` it errors out:

[code]

And yet it's a symlink, not a non-file. Symlinks are supported by Garden CLI. Here's the relevant code:

https://github.com/garden-io/garden/blob/63b18bb27b2

[2022-03-25 12:30] jin-harmoney opened #2865 "[FEATURE]: build-mode:local-containerd or support for containerd on local-docker"
## Feature Request

### Background / Motivation

I'm using `k3s` with `containerd`.

When using `garden build` for a container module type, my image is built using the docker daemon and is pushed to my local docker registry.

Afterward, when trying to test/deploy my application using `garden deploy/test`, which is using a helm module type, the image that was just built cannot be found, because `k3

[2022-03-29 11:32] jin-harmoney commented on #2865
My current workaround is to use in-cluster building locally by specifying `buildMode: kaniko`. It's seems to be a bit more resource intensive though.

[2022-04-01 13:26] jin-harmoney commented on #2547
The proposed solution by @edvald didn't fix this for me (working on Linux). The following did work:

[code]

It might have something to do with Garden using https://github.com/paulmillr/chokidar and Chokidar using https://github.com/micromatch/anymatch.

From the anymatch documentation (see readme):

`anymatch('**/node_modules/**', '/absolute/path/to/node_modules/somelib/index.js'); // true`

[2022-04-04 09:13] twelvemo opened #2883 "Garden workflows fail silently"
## Bug

### Current Behavior

Running Garden workflows with errors in them like:

* a wrong yaml indentation
* an invalid trigger spec in which an environment is specified that does not exist
* an invalid trigger spec with a trigger event that does not exist

causes Garden to fail without any error messages. Running this workflow with log-level 5 does also not output any hints into what is potenti

[2022-04-05 23:02] agates4 opened #2886 "[FEATURE]: List multiple containers for devMode within a Helm module"
## Feature Request

### Background / Motivation

We have multiple deployments with our Helm chart. We need to hot reload each deployment, and sometimes sync the file directories in different ways.

Rather than busting up the Helm chart with multiple Helm charts, one for each deployment, I'd like to specify a list of containers to use with devMode.

This devMode ought to be a list, rather than allo

[2022-04-08 21:08] mattpolzin opened #2897 "[FEATURE]: Add `garden get workflows` to mirror ability to list all `tasks`."
## Feature Request

### Background / Motivation

It feels intuitive that like I can get all tasks with `garden get tasks` I would be able to get all workflows with `garden get workflows`.

### What should the user be able to do?

Run `garden get workflows` to list off all workflows defined in the project.

### Why do they want to do this? What problem does it solve?

Without this feature, a user m

[2022-04-08 22:07] RixTmobilender opened #2898 "Workflow steps producing empty logs with structured output (-o=json / -o=yaml)"
## Bug

### Current Behavior
Running a workflow with the output flag set to either JSON or YAML produces an empty log key:
![image](https://user-images.githubusercontent.com/87778732/162537918-9d00bd73-fe0d-4909-bfff-6f169a32b6f3.png)

Perhaps related to https://github.com/garden-io/garden/issues/2883
### Expected behavior
The log key should be populated with the jsonstring output of my workflow s

[2022-04-13 14:05] tbl-harmoney commented on #2655
We've built a custom version of Garden with extra logging and came to the following conclusion:

Our project.garden.yaml file contained the following config:
[code]
We started with `.gitignore` but needed some extra excludes as we also have sub (module) `.gitignore` files. We added some of these more specific ignores to a `.gardenignore` file.

However, this causes the function `getFiles()` in `co

[2022-04-14 12:00] #692 closed

[2022-04-14 12:07] #1240 closed

[2022-04-14 12:08] #1458 closed

[2022-04-14 12:08] thsig commented on #1458
We're not planning on adding Rio support for now, feel free to reopen if this becomes relevant again.

[2022-04-14 12:18] thsig commented on #1740
We haven't seen any reports of this recently, so we're closing this for now. Feel free to reopen if this is still an issue!

[2022-04-14 12:29] thsig commented on #1829
Since Stalebot hasn't been doing its thing recently, I'm closing this one.

[2022-04-14 12:29] #1829 closed

[2022-04-14 12:32] thsig commented on #1995
Closing this one for now, feel free to reopen this if it's still a problem.

[2022-04-14 12:32] #1995 closed

[2022-04-14 12:37] thsig commented on #2035
This is no longer an issue, I've just checked.

[2022-04-14 12:37] #2035 closed

[2022-04-16 10:04] truonghdpk opened #2903 "Disable template string mode apply to module"
## Bug

### Current Behavior

I want to disable template string mode cause it makes me can't apply config with my own special character that makes garden template misunderstanding
### Expected behavior

Should ignore template strings in my config file

### Reproducible example

### Workaround

### Suggested solution(s)

### Additional context

### Your environment
- kubernetes module
garden.yaml
[

[2022-04-16 19:02] #2617 closed

[2022-04-16 19:02] #2340 closed

[2022-04-16 19:02] #2643 closed

[2022-04-16 19:02] #2672 closed

[2022-04-16 19:02] #2686 closed

[2022-04-16 19:02] #2623 closed

[2022-04-16 19:02] #2661 closed

[2022-04-16 19:02] #2711 closed

[2022-04-16 19:02] #2546 closed

[2022-04-16 19:02] #2455 closed

[2022-04-16 19:02] #2528 closed

[2022-04-16 19:02] #2578 closed

[2022-04-16 19:02] #2577 closed

[2022-04-20 09:50] tjcutajar opened #2905 "Incompatible with git 2.36.0"
## Bug

upgrading to git 2.36.0 causes garden to error.

### Current Behavior

commands raise
`Path /Users/myUser/.garden/bin/static/kubernetes/system is not in a git repository root. Garden must be run from within a git repo. Please run 'git init' if you're starting a new project and
repository, or move the project to an existing repository, and try again.`

### Your environment

* **OS:** MacOS

[2022-04-20 11:07] Orzelius commented on #2905
what command are you running and are you running it within a git repository?

[2022-04-20 11:49] tjcutajar commented on #2905
running either `deploy` or `delete` from within a git repo. Downgrading git to 2.35.3 resolves it.

[2022-04-21 12:34] Orzelius commented on #1512
@eysi09 is this still needed? A java example exists in the form of [spring-boot-hot-reload](https://github.com/garden-io/garden/tree/ingress-class-microk8s/examples/spring-boot-hot-reload) and it's not hard to use one of many other hot reload examples for golang

cc @vvagaytsev

[2022-04-22 08:32] #2495 closed

[2022-04-22 21:48] isaacpz opened #2909 "[FEATURE]: Configurable folder to search for custom commands"
## Feature Request

All custom commands currently [must be stored in the project root](https://docs.garden.io/advanced/custom-commands#limitations). For projects with many custom commands, this makes the root folder explode with lots of files.

I understand there is a performance concern with searching all subfolders, but it'd be great if I could configure a single folder that should be used to st

[2022-04-27 07:41] vvagaytsev commented on #1512
It looks like the main goal of PR #1244 was to present a kind of _pattern_ which would show how to hot reload binaries for the compilable languages like Java and Go.

The Java example given in #1244 looks a bit complicated and incomplete. There are only binaries and no Java source files.
The example given in [spring-boot-hot-reload](https://github.com/garden-io/garden/tree/ingress-class-microk8s/e

[2022-04-29 12:42] tjcutajar commented on #2905
@twelvemo maybe try deleting your .garden directory

[2022-04-30 19:22] eysi09 opened #2924 "Garden crashes if default dashboard port is taken"
## Bug

### Current Behavior

If I run Garden in persistent mode in a given project, it starts the dashboard server at port 9777.

When I run Garden in persistent mode (for a different project, probably not relevant) in another process it crashes because the dashboard port is taken:

[code]

### Expected behavior

It should pick another random port.

### Reproducible example

See above.

### Worka

[2022-04-30 23:02] #2344 closed

[2022-04-30 23:02] #2506 closed

[2022-04-30 23:02] #2709 closed

[2022-05-03 16:08] alexkuretz commented on #2905
We are getting this on Windows as well while trying to set up a new system. The user getting the error is using git 2.36.0 and my setup with git 2.35.1 does  not show the error. We are running within our git repository.

[2022-05-03 22:01] alexkuretz commented on #2905
Another coworker encountered this today and found that by going into the .garden\bin\static\kubernetes\system directory and doing a 'git status' he was able to set a permission that allowed garden to work. I believe it's related to the "Stricter repository ownership checks" change in git 2.36:
https://github.blog/2022-04-18-highlights-from-git-2-36/

[2022-05-03 22:24] edvald commented on #2905
Thanks for the investigation @alexkuretz! I figure it's a simple fix, we'll get on it.

[2022-05-05 00:36] ohookins commented on #2736
I believe this is working, seems like it was a permissions issue in the destination container. Unfortunately mutagen and garden are completely silent on this so it would still be good to get more observability on problems, but I think we can close this particular issue.

[2022-05-05 00:36] #2736 closed

[2022-05-05 00:46] ohookins opened #2931 "[FEATURE]: Allow custom annotations for image builders so that IRSA can be used"
## Feature Request

### Background / Motivation

According to the [AWS EKS Best Practices Guide](https://aws.github.io/aws-eks-best-practices/security/docs/iam/#restrict-access-to-the-instance-profile-assigned-to-the-worker-node), when using IRSA you should set the instance metadata service to IMDSv2 and the hop count to 1. This means that pods will no longer be able to talk to the regular instanc

[2022-05-05 22:47] marcelloromani commented on #2816
We often experience the same error, but we're using `buildMode: cluster-buildkit`, so we don't see any `garden-util` PODs, but rather one `garden-buildkit-<random>-<random>` for each namespace (one namespace per review environment.

[2022-05-05 23:14] edvald commented on #2816
@marcelloromani does this still happen with the latest Garden version?

This would in general be unrelated to the build mode, I should note. It appears it's more to do with Garden fetching kubectl automatically on init.

[2022-05-06 20:12] Orzelius commented on #2201
Garden will no longer hang at build after #2923.

I'm not too sure about removing the depth parameter as you wouldn't always want to check out all submodules' submodules. You can always pull them manually though and garden will recognize them that way.

[2022-05-07 14:25] marcelloromani commented on #2816
@edvald I upgraded our CI to 0.12.40 this week. We were seeing that error mostly on a daily cron'd job. So far it hasn't surfaced but will need to keep an eye on it. In true Unix fashion, "no news, good news".

Thanks!

[2022-05-09 16:38] ITHedgeHog commented on #2905
I got around this by running the command git config --add safe.directory C:\git\oemplatform which is the project root for me, this got me running.

[2022-05-10 16:14] vvagaytsev commented on #2905
The fix is available in the [edge release](https://github.com/garden-io/garden/releases/tag/edge).

[2022-05-11 10:12] antoinelyset opened #2944 "Rsync error : `rsync: failed to connect to localhost`"
## Bug

While deploying on our Cluster from a GitHub action worfklow we encountered a `rsync` error. It worked after retrying the action manually. Maybe it should retry by itself or wait for the connection to be ready?

### Current Behavior

Failed building app. Here is the output:
[code]

### Expected behavior

It should not fail :D

### Workaround

Retry

### Suggested solution(s)

Have a retry

[2022-05-12 13:41] wojciechka opened #2951 "dev with devMode sync and serviceResource.podSelector for a CRD-based resource does not sync"
## Bug

### Current Behavior

Using `garden dev` custom resource that has a controller/operator that creates pods fails when trying to run `garden dev` with devMode.sync being run (see below for more details):

[code]

`garden dev` (version 0.12.39) continues to work, but it fails to sync.

### Expected behavior

This should add the required initContainer and volumes to the pod and provide a worki

[2022-05-12 14:29] Orzelius commented on #2903
Could not reproduce, worked as expected for me. This is my setup -> https://github.com/Orzelius/garden-tests-1
`garden deploy` output:
[code]

I have a feeling your k8s configmap file has a name that garden picks up (ending in `.garden`) or something similar.

Please feel free to add more info or try out my example and see if you get different results. If so I'd love the log output with the `-l5`

[2022-05-13 10:31] marcelloromani commented on #2816
After a few days we've experienced the bug again despite upgrading to 0.12.40:
[code]

[2022-05-16 09:49] mcanaleta commented on #2614
Hi, same issue here, after installing garden from scratch in Windows 10.

[2022-05-16 21:12] ITHedgeHog commented on #2614
We encountered this with a fresh install today, on both Windows 10 and Windows 11. Non-functional garden due to the above error.

Closed the terminal, reopened and reinstalled and it then worked.

[2022-05-17 15:28] carolinapc opened #2956 "Custom command args.$rest not working properly with alias"
## Bug

### Current Behavior

When passing the global flag using alias `-l=debug` in the custom command that is used in a *exec.command* with `join` helper function, it is not being get it. Otherwise if I pass as `--log-level=debug` it works.

I've found same issue to `-e` alias. Didn't test all, so it might have others.

### Expected behavior

Alias of flags should be available in the  `args.$res

[2022-05-17 15:30] mattwarenski opened #2957 "garden exec splits quoted arguments"
## Bug

### Current Behavior

Running `garden exec api '/usr/bin/env -v echo "hello world"'` gives this output:

[code]
In the above example "hello" and "world" are being passed as two separate arguments even though they are quoted.

### Expected behavior

Running `garden exec api '/usr/bin/env -v echo "hello world"'` should match the output of `kubectl exec pod -- /usr/bin/env -v echo "hello worl

[2022-05-18 12:14] mbaeuerle opened #2958 "Windows installation script no longer activates Hyper-V?"
Hi!

I was checking the installation for the garden CLI [here](https://docs.garden.io/getting-started/1-installation#windows) and saw that it mentions that it will activate Hyper-V and optionally install Docker during the installation process.

As we only intended to use Garden remotely and with in-cluster building both are not necessary and I wondered if there is a way to skip these steps.

Then

[2022-05-18 20:17] mcanaleta commented on #2614
Reopening and reinstalling didn't work for me. Running as admin did work though. So it looks like:
- It could be related with permissions (at least in my system)
- The problem happens in the "resolve-provider" task
- The bug seems to be related with the current working directory during that step, which should be the project path, and it is instead it is $HOME\.garden\bin\static\kubernetes\system

[2022-05-19 12:33] kszymans commented on #2623
/open

[2022-05-19 13:35] SimonRichardson opened #2959 "[FEATURE]: Expose mutagen status to CLI"
## Feature Request

Sometimes mutagen takes a long time to sync when running `garden dev`. The only way to know what it's doing is to look at `mutagen sync list` (you have to craft the correct `MUTAGEN_DATA_DIRECTORY` and mutagen bin).

### Background / Motivation

Not knowing when a sync is done without going through all the hoops is really bad UX.

### What should the user be able to do?

See th

[2022-05-19 13:43] SimonRichardson commented on #2959
We might have to wait for https://github.com/mutagen-io/mutagen/issues/347 to land first, as using raw strings is really fragile.

[2022-05-20 14:00] vvagaytsev commented on #2614
@mcanaleta could you try the [latest edge release](https://github.com/garden-io/garden/releases/tag/untagged-01ec819dafed0d6d70a8), please?

This issue should be fixed in https://github.com/garden-io/garden/issues/2905. We haven't released that change yet, it will be released in `0.12.41`.

[2022-05-20 14:17] vvagaytsev commented on #2958
Thanks @mbaeuerle! Yes, you're right, these steps were intentionally removed in !97d49fe7. I'll update the documentation soon.

[2022-05-20 14:24] ITHedgeHog commented on #2614
I've just tried that @vvagaytsev I get the following:

![image](https://user-images.githubusercontent.com/13481/169548706-44db4996-8230-4507-a1f0-f83fe01e349e.png)

Verbose logging output shows this:

![image](https://user-images.githubusercontent.com/13481/169548777-d0a361be-e4db-4c69-a823-83322539039e.png)

[2022-05-20 19:27] mcanaleta commented on #2614
Hi, I had to do multiple tests because I'm getting different errors, and it all depends on how you install, how you upgrade, and status and permissions of the .garden folders. So what I figured out:
- With the normal process (1.  standard installation and 2. garden self-update edge) it does not work, it continues failing in the same place.
- However, doing it manually (1. standard installation, 2.

[2022-05-23 10:27] #2958 closed

[2022-05-23 11:56] jamesmeneghello opened #2965 "[FEATURE]: $merge operator should work in Kubernetes manifests"
## Feature Request

### Background / Motivation

`$merge` works in config files, but not in external manifests as part of Kubernetes modules.

While you can add a set of common labels using, e.g.:

[code]

...it would be nice to be able to do:

[code]

### What should the user be able to do?

Use `$merge` in manifests in Kubernetes modules.

### Why do they want to do this? What problem does it so

[2022-05-23 12:02] jamesmeneghello opened #2966 "Runtime variables from Terraform modules are not available to Terraform plugin calls for other Terraform modules."
## Bug

### Current Behavior

Terraform module 1: `shared-infrastructure`, output: `kms-key-id`.

Terraform module 2: `specific-service` depends on `shared-infrastructure`, variable `kms_key_id`: `${runtime.services.shared-infrastructure.outputs.kms_key_id}`.

This will fail during `garden plugins terraform apply-module -- specific-service` with no valid value for `kms_key_id` (`${runtime.services

[2022-05-23 12:30] vvagaytsev commented on #2944
@antoinelyset could you try the [edge release](https://app.circleci.com/pipelines/github/garden-io/garden/11837/workflows/0e917b86-54e8-43bb-b6c4-1ed189af5a10/jobs/188162/artifacts), please?

I increased the number of retries and the time intervals between attempts. This might fix the issue.

[2022-05-24 09:27] jamesmeneghello opened #2968 "[FEATURE]: Specify providers and environments in another yaml files"
## Feature Request

### Background / Motivation

Our Garden project uses many clusters, and many environments. Including everything in `project.garden.yml` gets pretty messy, pretty fast.

### What should the user be able to do?

It would be great to be able to specify environments and providers in separate yaml files / tree structures, e.g.:

[code]

### Why do they want to do this? What problem

[2022-05-24 09:37] thsig commented on #2968
Hi @jamesmeneghello! Thanks for the suggestion.

We're currently working on a big refactor/rethink of our config syntax. We might end up lifting provider configs out of the project configuration, so that they can be specified in separate config files / YAML documents. The same might apply to environments.

At any rate, we'll table this discussion until those changes are live. Look forward to divin

[2022-05-24 09:48] thsig commented on #2966
Thanks for pointing this out!

To speed up our debugging and fixing this issue, could you maybe provide us with a simple example project where this problem occurs?

[2022-05-24 09:57] thsig commented on #2965
Good suggestion! This would be a neat feature, we'll have a look soon.

[2022-05-24 16:27] isaacpz opened #2970 "[FEATURE]: `garden run task` and `garden test` should (optionally) output incremental log output in real-time"
## Feature Request

### Background / Motivation

`garden run task` and `garden test`  both show a “Running” spinner while the task is running. No log output is printed to the console until the task/test is complete.

### What should the user be able to do?

A user should be able to see incremental logs as a task runs. Optionally, this behavior could be hidden behind a flag.

### Why do they want t

[2022-05-25 00:33] jamesmeneghello commented on #2966
Sure, I'll try to find time to put one together.

[2022-05-25 06:55] jamesmeneghello opened #2971 "`.Capabilities.kubeVersion` isn't available for Helm modules"
## Bug

### Current Behavior

`kubeVersion` isn't set when rendering Helm modules, which results in unexpected behaviour with some Helm charts. Most Bitnami charts set `ingressClassName` based on the `kubeVersion >1.19`, for example, which means creating any Bitnami chart with an ingress doesn't set `ingressClassName` at all.

### Expected behavior

Would expect the Kubernetes provider to pass the

[2022-05-25 10:37] jamesmeneghello opened #2973 "[FEATURE]: Diff / Preview / Dry-Run mode for Deploy"
## Feature Request

### Background / Motivation

We often have manual approval steps as part of deployments, for somebody to glance over and double-check that nothing is changing that will break things.

### What should the user be able to do?

It's nice to be able to have some kind of visual report on what's changing to display as part of a CI approval step or some such. Some ability to do a dry-

[2022-05-25 10:54] Orzelius commented on #2973
Yeah this makes a lot of sense to have. Currently you could compare the `garden get modules` command output to the `GARDEN_VERSION` env value in containers in k8s but that's quite annoying to do.

[2022-05-25 12:38] jamesmeneghello commented on #2973
Is that only for container modules? The ones I deploy using Kubernetes modules don't seem to have it.

[2022-05-25 14:04] vvagaytsev commented on #2924
There is a breaking change in [v.6.0.0](https://github.com/sindresorhus/get-port/releases/tag/v6.0.0), the package became [pure ESM](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c).

[2022-05-25 16:18] eysi09 opened #2974 "[FEATURE]: More informative errors when things timeout because of lack of resources"
## Feature Request

### Background / Motivation

Sometimes Garden commands timeout because a given Pod can't be scheduled due to lack of cluster resources.

These type of errors are pretty hard to debug unless you look at the cluster while the Pod is still being scheduled. This is in particular opaque for CI runs.

I'd love for Garden to tell me that a given command timed out because of this reaso

[2022-05-25 17:02] Orzelius commented on #2974
Usually pods will get pending status in k8s if there's a lack of resources.

I could test around and try to see if there are easy improvements that could be made around this, but I'd need to set up a k8s cluster (probably local) that can be pushed to it's limits for ease of testing.

[2022-05-27 14:50] #2883 closed

[2022-05-27 14:52] Orzelius commented on #2898
@RixTmobilender thank you for the issue, I wouldn't have noticed the bug if you hadn't pointed it out. Is fixed via https://github.com/garden-io/garden/pull/2972

[2022-05-27 14:52] #2898 closed

[2022-05-30 11:06] vvagaytsev commented on #2188
Closing this as "Won't fix", see the comments in the attached PR.

[2022-05-30 11:06] #2188 closed

[2022-05-31 08:28] kszymans commented on #2713
Hello.
Anything new in this matter? I again met this problem with different use case so it would be really helpful to fix this.

[2022-05-31 09:42] thsig commented on #1831
Closing this for now, since we're no longer recommending that people use the in-cluster registry once they're fully up and running with remote building on a daily basis.

[2022-05-31 09:47] thsig commented on #2145
Since we're deprecating the dashboard soon, I'm closing this one for now.

[2022-05-31 09:47] #2145 closed

[2022-05-31 09:50] #2201 closed

[2022-05-31 09:51] thsig commented on #2252
This hasn't come up for a long time and has likely been fixed in the meantime. Feel free to reopen if this comes up again, but we're closing this for now.

[2022-05-31 09:51] #2252 closed

[2022-05-31 09:53] thsig commented on #2253
Looks like an easy fix—we'd be happy to provide guidance and an implementation outline to anyone who feels like having a go at this.

[2022-05-31 09:54] thsig commented on #2274
Closing this for now, since we're no longer recommending that people use the in-cluster registry once they're fully up and running with remote building on a daily basis.

Note that we've also deprecated the `cluster-docker` build mode since this issue was opened.

[2022-05-31 09:54] #2274 closed

[2022-05-31 10:54] #2944 closed

[2022-05-31 16:35] antoinelyset commented on #2944
We implemented a retry at our level too. I will still see if it happens again.

[2022-05-31 17:40] vvagaytsev commented on #2944
Ok, thank you @antoinelyset! Please let me know if this fix does not work. This fix will be released in Garden `0.12.41`, it's coming soon.

[2022-05-31 18:40] RomainBillot opened #2978 "Local Minikube Getting Started Linux: getaddrinfo ENOTFOUND demo-project.192.168.49.2.nip.io"
## Bug

### Current Behavior

On local Minikube, on my Linux computer, running the getting started example is impossible to me. In fact, I can't access frontend and backend services from given neat URL created by garden `demo-project.192.168.49.2.nip.io`
### Expected behavior

I expect the URL to be accessible from my browser (or curl)

### Reproducible example

[code]
Give the output:
[code]

###

[2022-06-02 09:39] thsig commented on #2973
We've been planning to implement this functionality for a while, but we're currently in the middle of a huge refactor and refresh of our config syntax.

We'll have a look at this once that's done (which will hopefully be by the end of June).

[2022-06-02 09:41] thsig commented on #2971
Makes sense! This should be a simple matter of adding a `kubeVersion` config field to the `helm` module type, and passing that to the relevant `helm` CLI invocations.

This would actually be a great first feature for anyone who's interested in having a go at it : )

[2022-06-02 09:44] thsig commented on #2970
For context: This comes out of a conversation we had on our community Slack.

In short, we'd be happy to implement this at the same time we rework our CLI logging (which we're hoping to do soon).

We already have all the incremental log streaming machinery functioning, so this would mostly be a matter of logging.

[2022-06-03 19:00] yyc opened #2992 "bug: module templates cannot contain other templated modules"
## Bug

### Current Behavior

With the following `garden.yaml` file that contains a templated module, referencing a module template that contains another template:
[code]

Garden does not resolve the second templated module:
[code]

### Expected behavior
From the [module template docs](https://docs.garden.io/reference/module-template-config#modules):

I'd expect that the second (and additional) la

[2022-06-05 14:15] eysi09 commented on #2974
It should be fairly easy to reproduce by setting really high resource requests on a given workload.

Garden will timeout on most operations so I suppose the idea would be add some context to the timeout if we can. But there's a lot of ways things can timeout.

I'd suggest starting with build timeouts and see if we can tell the user if things timeout due to any of the following:

- Garden couldn't

[2022-06-07 09:36] thsig commented on #2309
This was implemented in #2392, looks like we forgot to close this issue at the time.

[2022-06-07 09:36] #2309 closed

[2022-06-07 09:37] thsig commented on #2384
This was fixed in #2907.

[2022-06-07 09:37] #2384 closed

[2022-06-07 09:42] #2330 closed

[2022-06-07 09:52] thsig commented on #2418
Looks like this was at least partially addressed in #2619, so i'm closing this for now (since we haven't heard any further reports of this).

[2022-06-07 09:52] #2418 closed

[2022-06-07 10:30] vvagaytsev commented on #2410
Looks like it was fixed some time ago. Now the command `deploy` with the `dev-mode` option enables port-forwards. Closing this.

[2022-06-07 10:31] #2410 closed

[2022-06-09 09:42] thsig commented on #2992
Hi @yyc! Thanks for the suggestion here.

We're currently in the middle of a large refactor of our config syntax in preparation for version 0.13 of Garden, so we're holding off on any major changes to module templates until then (0.13 should be out later this summer).

Once 0.13 is in early access (which should be in early July), we could revisit this. Are you able to work around this in the meant

[2022-06-09 09:46] thsig commented on #2959
Hi @SimonRichardson!

The next version of Mutagen (0.15) will make it a lot easier to parse out detailed sync statuses and metrics, which we'll propagate to Garden as well as we can.

Once we've implemented those changes, they should address your request.

[2022-06-09 09:50] thsig commented on #2951
Hi @wojciechka! Thanks for the detailed report and suggestion here.

Would you be interested in implementing this this functionality and submitting a PR? We'd be happy to point you at the relevant parts of the codebase where this logic should be added, and answer any questions that might come up on the way.

[2022-06-09 09:53] thsig commented on #2931
Hi @ohookins! Thanks for the detailed suggestion here.

Would you be interested in implementing this functionality and submitting a PR?

We'd be happy to hop on a call and do some pair-programming on this, and to point you to the right places in the codebase to get started (and answer any questions that may come up).

[2022-06-09 09:56] thsig commented on #2909
Hi @isaacpz—thanks for writing this up!

@edvald, am I right in assuming that this could be done without significant performance impact?

[2022-06-09 19:21] tobiasmcnulty commented on #1825
I couldn't find a way to get this working either. Here's what we ended up doing instead:

[code]

[2022-06-10 06:11] jamesmeneghello opened #3000 "[FEATURE]: Don't force Helm dependency updates"
## Feature Request

### Background / Motivation

Bitnami's repositories are falling apart at the seams, and about 1 in every 5 helm calls to their registry fails. Unfortunately, this means that even caching the charts locally and using `chartPath` doesn't work, because they have a dependency on a common chart. Garden (helpfully) automatically checks this dependency for updates, but this then somet

[2022-06-10 09:17] thsig commented on #2566
Closed by #2937.

[2022-06-10 09:17] #2566 closed

[2022-06-10 09:36] Orzelius opened #3001 "can't grab element from array after using split() in string templating"
This doesn't work with err: `Invalid template string (${split("something.else", ".")[0]}): Unable to parse as valid template string.`
[code]
This does work as expected (prints "else" to the console)
[code]

[2022-06-12 15:01] #2687 closed

[2022-06-13 00:33] ohookins commented on #2773
I didn't manage to get back to this, and now we have a lot of stacks deployed in the cluster so I'm loath to delete everything now just to test this. Probably not worth looking at compared with other issues which affect day-to-day usage.

[2022-06-13 00:34] #2773 closed

[2022-06-13 00:34] ohookins commented on #2551
Probably not worth solving if certmanager is going to be removed anyway. Stalebot can close it.

[2022-06-13 00:36] ohookins commented on #2836
@eysi09 would still like this to be solved, as `garden delete environment` means we have to trash our letsencrypt private key, and I'm still worried about hitting rate limits there. The other thing that would be helpful would be for the task output secrets to also be cleaned up, which would mean being able to re-provision a stack from a relatively clean state without the full nuclear option of des

[2022-06-13 06:28] thsig commented on #2687
This will all change in 0.13, so I'm leaving this closed.

[2022-06-13 06:37] Orzelius commented on #2741
I actually opened this as my first issue months before joining garden so I'll want to be the one to fix this 👍

[2022-06-13 06:38] Orzelius commented on #2741
Haha I remember this screwing me up for a few hours trying to debug what was wrong, brings me back

[2022-06-14 13:02] edvald commented on #2909
Correct, this should have no performance impact since the project config is loaded before the commands are loaded.

[2022-06-15 10:58] Orzelius opened #3008 "[FEATURE]: Make garden installation less OS specific and more cool"
A cool single-liner that you paste into your terminal on any os (win, mac, linux) and it installs garden

### How important is this feature for you/your team?

🌹 It’s a nice to have, but nice things are nice 🙂

[2022-06-15 12:45] thsig commented on #1825
While this field is still marked for deprecation, I thought I'd suggest having a look at configuring port-forwards for the service. See the [reference docs here](https://docs.garden.io/reference/module-types/helm#portforwards).

Note that these port-forwards are only started when running a watch-mode command (e.g. `garden deploy --dev` or `garden dev`), but this should be good approach during deve

[2022-06-16 09:34] thsig commented on #2903
Closing this one for now—if this comes up again, or if there's more info about how to reproduce it, feel free to reopen it.

[2022-06-16 09:34] #2903 closed

[2022-06-16 09:49] thsig commented on #2864
@edvald: I may be missing some context here, but would it be OK to simply change
[code]
to
[code]
[here](https://github.com/garden-io/garden/blob/63b18bb27b2027bfaf1ed5e2ea4a4cb9a5af164d/core/src/build-staging/helpers.ts#L68)?

[2022-06-16 11:41] edvald commented on #2864
I should note that link handling is generally a little tricky in these contexts. There's a reason, for example, that Docker doesn't allow links outside the build context, absolute links etc.

In this particular case, the question would of course arise: Should we _translate_ the relative symlink to a corresponding relative path post-copy? What we try and do when possible is to traverse symlinks upo

[2022-06-16 11:50] edvald commented on #2864
An additional concern with links pointing to an arbitrary destination is that we have no idea what's in that directory unless we traverse it, which would mean we have no idea if a build version should change. These matters are solvable but not _easily_ solvable, so we should chat about what would make the most sense here.

[2022-06-21 15:38] vvagaytsev commented on #2845
@ohookins could you please check if this is still reproducible with Garden `0.12.42`? We've just released it.

[2022-06-22 05:03] ohookins commented on #2864
There's no `--verbose` so I've used log level 5, hopefully that's enough for you.

[code]

[2022-06-22 05:05] ohookins commented on #3008
Definitely up for more coolness

[2022-06-22 09:50] ohookins commented on #2845
@vvagaytsev I *think* it was just changing branches on a linked repo or something, although in the case of any branches I've tried today I couldn't get it to fail. If I check out the initial commit of the linked repo (where there's basically nothing there) I do get this error:

[code]

But that's a different error. :shrug:

[2022-06-22 09:51] ohookins commented on #2845
If you can't get this reproduced by anyone else, I'm happy for you to close it! I haven't seen it since, but we've only just gotten our stuff together in order to be able to run dev mode anyway.

[2022-06-22 13:01] vvagaytsev commented on #2845
Ok, thank you @ohookins! An error like `Error: Module xxxx neither specifies image nor provides Dockerfile` means there is no `Dockerfile` in the module directory, so the module can't be built. You wrote that you tried it with an empty linked repo, so that's an excepted error.

I can not reproduce this issue too. So I'm closing this, feel free to reopen it if the issue happens again. Thank you for

[2022-06-22 13:01] #2845 closed

[2022-06-27 11:49] Orzelius commented on #2978
Hey, I could not reproduce the issue with the same os and same version of minikube.

In general the url `demo-project.<localhost>.nip.io` will give 404 as this project has no routes for that path. I think if you checked the ingress path that garden gives after running `garden deploy` in the project root it would work (see pic). For example try pinging the backend ingress at `/hello-backend` that's

[2022-06-27 11:49] #2978 closed

[2022-06-28 19:20] tobiasmcnulty commented on #1766
This would be helpful for us, too.

[2022-06-30 09:17] vvagaytsev commented on #2614
@ITHedgeHog we fixed some Windows compatibility issues in [0.12.42](https://github.com/garden-io/garden/releases/tag/0.12.42), could try it, please?

@mcanaleta 0.12.42 also contains some fixes to consider all Garden working directories as safe Git repos. Please try it out.

[2022-06-30 09:38] vvagaytsev commented on #2841
@eysi09 should we always consider the project root as a `cwd` when we run the commands?

[2022-06-30 09:46] vvagaytsev commented on #2807
@tedchang77 we have a major refactoring related to the Stack Graph in progress now. We can get back to this request once the Stack Graph changes are released. The tentative release date is the end of the summer.

[2022-06-30 09:56] vvagaytsev commented on #2781
Thanks for the request @carolinapc! This looks like a nice feature, but it would be a breaking change. We'll consider including this in the next minor release `0.13`.

[2022-06-30 15:49] ITHedgeHog commented on #2614
@vvagaytsev Still no joy I'm afraid on self update

![image](https://user-images.githubusercontent.com/13481/176721375-8caa198b-71a4-48ea-9394-a95afc102e46.png)

[2022-06-30 15:49] ITHedgeHog commented on #2614
I've had to reinstall via the script again

[2022-06-30 16:23] ishantagarwal-x213235 opened #3026 "[FEATURE]: Option for exposing package phase of maven with jib-module"
## Feature Request
Garden should expose an option to use any maven phases [clean compile/clean package] in jib-module.

### Background / Motivation
We have a use case to package the fat jar into jib which get build using `mvn clean package jib:build` but there is a limitation with garden that it embeds the maven command `mvn compile jib:build` for jib-module.

### What should the user be able to d

[2022-07-01 09:16] vvagaytsev commented on #2614
@ITHedgeHog ok, I see. Git has had more strict repo ownership control since 2.36.0. This can cause errors like this: `fatal: unsafe repository ({repo-path} is owned by someone else)`

We addressed that issue by checking the git status of each working directory where git commands are executed. If there is an error like `fatal: unsafe repository` Garden will store that path under `safe.directory` ke

[2022-07-01 10:55] #2862 closed

[2022-07-01 12:41] to266 opened #3031 "[FEATURE]: Add tolerations to many garden-run pods"
## Feature Request

### Background / Motivation

Would love to add kubernetes `tolerations` to various garden-run resources - such as tests, tasks, `cluster-buildkit` pod (and anything else I may have missed for that matter)

### What should the user be able to do?

Specify tolerations for `container.tests[].tolerations`, `container.tasks[].tolerations` as well as for the `providers[].clusterBuild

[2022-07-04 21:30] tedchang77 commented on #2782
this looks like a duplicate of https://github.com/garden-io/garden/issues/1232

[2022-07-05 07:04] #2897 closed

[2022-07-05 10:32] Orzelius commented on #2388
a silly question, but how does one even authentication to a remote sources repository?

[2022-07-06 09:27] jondeandres opened #3035 "Tasks on helm modules conflict with tmpcharts directory"
## Bug

### Current Behavior

When running tests with task dependencies defined in helm modules both tasks are executed in parallel but they fight for the `tmpcharts` directory. The result is that one of the task might not see the the chart dependencies downloaded in that directory:

[code]

### Expected behavior

Multiple tasks can run in parallel without conflicting with their own cleanup

### W

[2022-07-07 06:52] isaacpz opened #3039 "`garden exec` and `garden logs` wrongly target sidecar containers"
## Bug

### Current Behavior

`garden exec` and `garden logs` always target the first container configured in a pod. Sometimes, sidecar containers are auto-injected. When this happens, `garden exec` and `garden logs` become useless because they target the sidecar container instead of the main application container.

Since Kubernetes 1.18, we can use the `kubectl.kubernetes.io/default-container` an

[2022-07-07 09:45] thsig commented on #3031
Hi @to266!

Tests and tasks for `kubernetes` and `helm` modules will apply any toleration config from the pod spec of the service resource to the one-off pods used when running the test/task. See https://docs.garden.io/reference/module-types/kubernetes#tests-.resource for a complete list of fields from the pod spec that are included.

The `container` module type doesn't expose all pod spec fields

[2022-07-07 09:52] thsig commented on #3039
Hi @isaacpz—thanks for the suggestion! We'll have a look.

[2022-07-07 09:52] thsig commented on #3035
Thanks for reporting this! We'll have a look.

[2022-07-07 09:53] thsig commented on #2886
Note: This has been implemented in 0.13 (which is still under active development).

[2022-07-08 10:54] #2405 closed

[2022-07-08 14:37] hnicke opened #3048 "copySecrets is not copying secrets"
## Bug

### Current Behavior

In the kubernetes provider configuration, I've added the following snippet:
[code]

The `test` secret in default namespace exists.

When deploying with the kubernetes provider, the secret is not copied over to the deployment namespace.

### Expected behavior

The `test` secret should be copied to the deployment namespace.

### Workaround

As a workaround I've written

[2022-07-10 23:22] #2744 closed

[2022-07-10 23:23] #2771 closed

[2022-07-10 23:24] #2785 closed

[2022-07-10 23:24] #2819 closed

[2022-07-11 08:53] thsig commented on #2775
Will this still be an issue in 0.13, or will module templates be changing significantly there? @edvald

[2022-07-11 08:59] thsig commented on #2778
This is still a valid use-case for certain scenarios, so let's keep this open for now.

[2022-07-14 13:58] stefreak commented on #2333
I just ran into this problem after `brew install garden-cli`. Installing rosetta fixed the garden CLI. My suggestions if the real solution is still too far away:
- Maybe brew recipe could make sure to automatically install rosetta, or at least tell the user to do so
- the error message could be improved (currently `zsh: bad CPU type in executable: garden`, maybe a platform independent wrapper scri

[2022-07-14 23:54] tobias-minted opened #3053 "`join()` helper function doesn't work"
## Bug

The example in the docs for the `join()` helper function doesn't seem to work.

### Current Behavior

[code]

### Expected behavior

The function should join the strings.

### Reproducible example

[code]

### Workaround

none found

### Suggested solution(s)

### Additional context

### Your environment

* **OS:** Ubuntu 21.11
* **How I'm running Kubernetes:** minikube

[code]

[2022-07-15 07:29] vvagaytsev commented on #3053
Thanks for reporting this @tobias-minted! It seems to be an issue in [`parser.pegjs`](https://github.com/garden-io/garden/blob/master/core/src/template-string/parser.pegjs).

It looks like the parser is unable to accept an array as a first argument of the `join` function. @edvald can we take a look at this together?

[2022-07-15 07:31] Orzelius commented on #3053
@vvagaytsev If you get Jon for this might as well take a look at https://github.com/garden-io/garden/issues/3001 as well, there's a chance they're related

[2022-07-15 15:02] magnusja opened #3055 "Using garden artifacts makes test task fail"
https://kubernetes.slack.com/archives/CKM7CP8P9/p1657812033956049

## Bug

Hey all. I have a weird problem using gardens artifacts. Tests fail which they dont if I comment out the artifacts. In addition, I think the testing container never gets shutdown and the garden process hangs indefinitely.

The artifact file is around 600MB. I can find the file inside the .garden/artifacts directory.  It see

[2022-07-21 00:31] jamesmeneghello opened #3061 "Garden 0.12.43 fetch-tools fails on Alpine 3.15.0"
## Bug

### Current Behavior

[code]
### Reproducible example

`docker run --rm -it alpine:3.15.0 ash`

[code]

### Workaround

Works fine for Garden 0.12.42

### Your environment

* **OS:** Alpine 3.15.0 amd64

`garden version`: `0.12.43`

[2022-07-21 00:38] jamesmeneghello commented on #3061
Fix (specifically for this image):

[code]

[2022-07-21 08:43] Orzelius opened #3062 "Garden logging doesn't work as expected with large amounts kubernetes logs"
### Expected behavior

see https://github.com/garden-io/garden/compare/0.13...jest-artifacts-repro-2 for reproducible example

the `garden test frontend` log output should match the one from just running `npm run test` in the frontend direcotry

`npm run test` produces about 1.3k log lines in the correct order and so should running garden.

### Reproducible example

see https://github.com/garden-i

[2022-07-21 09:35] vvagaytsev commented on #3061
Thanks for reporting this @jamesmeneghello! We'll try to address this issue in the next patch release.

[2022-07-21 09:40] vvagaytsev commented on #3055
Thanks for reporting this @magnusja! It would be really nice if you can share a reproducible example.
You can consider reducing the size of the artifacts. Please let us know if that fixes the issue.

If you need an artifact this big, probably you need to use a different way of storing it. For example, S3.

[2022-07-24 00:53] sgarciajaramillo commented on #2956
Hi @thsig
Was this labeled as `feature request` because of the `log-level` not being considered today?

I'm having a similar issue with the `log-level`. It seems like the `log-level` is not being read by the `exec: or gardenCommand:` during the `custom-command` call. I have other options ie. `--skip-dependencies` that work okay.

❯ garden version
0.12.43-edge-c161c60a

[code]

# Using `gardenComma

[2022-07-24 01:48] sgarciajaramillo commented on #2782
Hello @thsig  and @vvagaytsev

Thanks for working on this one.
It works fine now when I do `garden delete env --env dev --dependants-first` so services with dependants get deleted in the right order.

Now, I understand from the PR comments that for the `garden delete services` there are 2 flags available: `--dependants-first` and `--with-dependants` However, when I go for a single service with eit

[2022-07-25 07:58] vvagaytsev commented on #2782
Thanks @sgarciajaramillo! I found a small bug in the code. The option has not been defined for `garden delete service(s)` command, it's fixed in #3071

[2022-07-25 08:28] vvagaytsev commented on #3061
@jamesmeneghello it looks like the wrong version of `stdlibc++` is getting installed -- `6.0.28`, while it should be `6.0.29`.

Have you tried to use the `--no-cache` flag in the `apk add bash curl docker-cli git openssl rsync ca-certificates tar gzip openssh-client libstdc++` command from the reproducible example? Could you try that to check if it helps? We use that flag to build a Garden image f

[2022-07-25 08:57] vvagaytsev commented on #3001
This is still a valid issue, wasn't fixed by #3057.

[2022-07-26 12:44] worldofgeese opened #3072 "GKE Ingress controller incompatible ingress created with `garden deploy`"
## Bug

Garden creates ingresses for module type `container` incompatible with GKE clusters using the default GKE ingress controller which results in an error when trying to reach the created load balancer's IP: `response 404 (backend NotFound), service rules for the path non-existent`.

### Current Behavior

Given module type `container` with the following declaration:
[code]
and a project file:

[2022-07-26 14:54] magnusja commented on #3055
Hey @vvagaytsev

unfortunately I am unable to provide an example. I tried to adapt the demo project, downloaded an 1.1GB file, specified it as test artifact. Works flawlessly!! Not sure why I have this problem within my project.

With latest garden version I am getting this error

[code]

I sshed into pod during test, tar is definitely installed.

If using log level silly I am getting this.

[code

[2022-07-27 21:55] halja7 opened #3077 "[FEATURE]: Garden should support newer templates for openfaas modules"
## Feature Request
Garden does not currently support `of-watchdog` based language templates in its openfaas plugin. Attempts to use newer templates such a `node16` result in a failed lookup:
![image](https://user-images.githubusercontent.com/44177102/181377469-98b3215d-594b-44c4-ba60-ea88508f31e9.png)

Upon examining the source code, it appears that in `core/src/plugins/openfaas/openfaas.ts` ([lin

[2022-07-28 09:35] vvagaytsev commented on #3077
Hi @jackvhall! Unfortunately, we decided to stop the maintenance of the `openfaas` plugin. It hasn't been updated for a while. It will be completely removed in Garden `0.13`.

Feel free to submit a PR with the proposed fix (just bumping the tag. in the URL). We can merge it if there are no test failures. Otherwise, we can promise that we'll have enough time to get it working.

Anyway, this will be

[2022-07-28 16:05] jackvhall commented on #3077
@vvagaytsev The intent is mainly to be able to spin up new services without so much boilerplate. We are starting to have the need for small, relatively trivial services to handle certain operations. It feels a bit excessive to give these their own deployments and HTTP boilerplate rather than simply having a more declarative way to specify a route and bind a handler.

[2022-07-29 00:01] pbabbott opened #3079 "[FEATURE]: Ability to perform UPSERT garden secrets"
## Feature Request

### Background / Motivation

At our company, we have a strict policy that secrets must be provisioned into an Azure Key Vault (AKV). We found alignment with our security team that secrets can be synchronized from AKV into garden enterprise secrets.  So, our team has constructed a way to read all secrets from AKV and execute `garden cloud secrets create [secrets]` for each secre

[2022-07-29 10:41] eysi09 opened #3081 "Cloud command palette does not work with the `serve` command"
## Bug

### Current Behavior

When I run `garden dev`, I am able to use the Cloud command palette as expected.

If I instead run `garden serve`, it doesn't appear to respond to the command palette.

I think the gif below pretty much sums it up.

![Kapture 2022-07-29 at 12 38 04](https://user-images.githubusercontent.com/5373776/181742444-da8349b4-3356-4998-8c3f-91d9dbc6f025.gif)

### Workaround

A

[2022-07-29 12:59] oldsj opened #3083 "[FEATURE]: Helm Deploy Pre-processing"
## Feature Request

### Background / Motivation

We're not sure how to track deploys with garden via `helm` using `helm history`

### What should the user be able to do?

We'd like to see support for setting the `appVersion` field in a Helm `Chart.yaml` on `garden deploy <service>` and possibly `garden dev`.
Helm itself makes this more difficult due to https://github.com/helm/helm/issues/8194

It

[2022-07-31 01:30] #2807 closed

[2022-07-31 19:52] DeruytterA opened #3084 "CLI `garden deploy --help` docs"
## Bug

### Current Behavior
This is the output of `garden deploy --help`
[code]

### Expected behavior

That the options  listed under `options` are updated because in the examples it says `garden deploy --dev` as an example but in the options it says `-dev` instead of `--dev`. Same thing for `-local` and `--local`. Also `-hot` is handled as if `-h` was given.

### Reproducible example

run `gard

[2022-08-01 10:30] #3084 closed

[2022-08-01 14:21] vvagaytsev commented on #3084
Thanks for reporting this @DeruytterA! The fix will be available in the next release -- `0.12.44`.

[2022-08-01 18:49] KoduIsGreat opened #3086 "[FEATURE]: local.arch template variable"
## Feature Request
provide access to a `local.arch` template variable similar to [platform](https://docs.garden.io/reference/template-strings/modules#usd-local.platform)
### Background / Motivation
for local development environments there are some images that are specifically needed (i.e developing on M1's vs intels).
providing access to this would allow templated garden modules to swap out contai

[2022-08-02 10:31] #3086 closed

[2022-08-02 10:32] vvagaytsev commented on #3086
@KoduIsGreat thanks for reporting this! The feature will be available in the next release.

[2022-08-03 21:32] mattpolzin opened #3091 "$forEach template helper just looping over the first item of an array."
## Bug

### Current Behavior

[code]
Is producing an array containing the first item of `array-of-things`. It produces an array the same length as `array-of-things`, but every single item is the first element of the source array.

### Expected behavior

`${item.value}` is each different item of the input array, not the first item over and over.

### Reproducible example

If this problem does not a

[2022-08-04 09:39] vvagaytsev commented on #3091
@mattpolzin thanks for reporting this! Could you try the following scenario as a workaround, please?
* Declare a new variable and store the input of `$forEach` in that variable
* Pass that single variable to `$forEach`

[2022-08-04 15:53] mattpolzin commented on #3091
I can try that if you'd like to know if it works for me, but I don't think it will help me work around the problem in my case. I am using variables in some of the values I am passing to the module template and in my experience values stored in variables won't expand out other variables.

[2022-08-09 02:55] OOPMan opened #3101 "[FEATURE]: Support Ephemeral Volumes, specifically emptyDir backed by Memory"
# Feature Request

### Background / Motivation

K8S provides a very useful feature in the form of [Ephemeral Volumes](https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/). These are useful for allocating temporary storage, including memory-backed RAM disk style volumes.

RAM disk volumes are very useful for various purposes, including mounting to `/dev/shm` to customize the amount of sh

[2022-08-09 10:54] Orzelius commented on #3048
hello @hnicke I could not reproduce the issue, copying secrets works as expected for me. Could you run the deploy command with higher logging levels (pass `-l5` or `-l4`) to see if that gives more info on why the secrets were not copied.

Seems that you have all the permissions for the actions if the manually written exec solution works, but still my first hunch would be permission problems. Garde

[2022-08-09 11:09] Orzelius commented on #3101
Hello, just from my personal subjective experience: volumes and kubernetes do not work well together, they always seem to lead to weird behavior that's unpredictable and hard to debug. If you need a large prod-like database I'd avoid k8s all together and would think about using the terraform/pulumi providers to set up a real one with your cloud provider or use a staging shared database and have ga

[2022-08-09 13:38] OOPMan commented on #3101
@Orzelius You want another use-case? Okay, here is another one which is actually pretty significant IMHO.

There is a recommendation to run your Pods with a read-only root filesystem. This plays havoc with a lot of applications however as they expect at least `/tmp` to be writeable. So you either run with a RW root filesystem or you use a, you guessed it, Memory-backed emptyDir volume.

I realise

[2022-08-09 13:46] OOPMan commented on #3101
I'm sorry if my tone seems a bit rough but right now we only use Garden for development environments and part of this is due to the limitations it imposes.

Other teams in my company just use Docker-Compose in their development environment, our team prefers having a development environment that at least somewhat resembles the actual target deployment environment as it helps us pick up on issues th

[2022-08-09 14:40] edvald commented on #3101
Hey @OOPMan. First off, I actually think the feature request makes sense and is well reasoned. I don't think @Orzelius meant to be dismissive.

From the other side, it's worth explaining that we tend to pause at adding more flags to the `container` module type, since basically the list of potentially useful flags on K8s Pod specs etc. kinda defies abstraction at times... So I think it's reasonable

[2022-08-09 14:48] OOPMan commented on #3101
@edvald Thanks for the response. I have considered combining the k8s and container type modules but unfortunately I've been so flooded with work that I haven't had a chance to dig into it. That said, it may well be something for my team to consider as it would, indeed, achieve an even closer fit between our dev and production environments.

In the context of Postgres, the specific reason I request

[2022-08-09 14:55] edvald commented on #3101
Gotcha. I mean yeah, I'm pretty sure RAM is going to beat disk on performance, couldn't say by how much in this particular context though. Guess you could find out by creating the volume on the `container` module and skipping both `module` and `hostPath`. In that case, a basic `emptyDir` volume is created.

Feel free to ping btw if you're getting into k8s+container combos. [This example](https://g

[2022-08-09 15:03] OOPMan commented on #3101
@edvald Thanks for that example, I'll take a look at it :-)

[2022-08-11 17:45] FBurner opened #3104 "local.env not working as expected"
## Bug

on development maschine when try using environment variables from the local system dont work

### Current Behavior

On ubuntu in the local dev maschine garden cant read the local environment variables

export MY_KEY=ABC

and using ${local.env.MY_KEY} get follwing message

: Could not find key MY_KEY under local.env. Available keys: DISPLAY, HOME, LANG, LESSCLOSE, LESSOPEN, LOGNAME, LS_COLO

[2022-08-11 20:12] tobias-minted commented on #2079
I think this would be useful, too.

[2022-08-15 19:06] ivanbabenko opened #3106 "[FEATURE]: Support multi-platform builds with local-docker mode (enable BuildKit)"
## Feature Request

### Background / Motivation

Multi-architecture/multi-platform support for container images is already and will be a big topic for many companies that start switching to use ARM worker nodes or ARM developer machines (and inevitably mixing with existing legacy x86).
Garden is a great tool to automate local image build and its deploy to a remote cluster, but there will be more o

[2022-08-17 08:41] twelvemo commented on #3072
This would work well for GKE specific ingress controller, but not for every other ingress controller. A `defaultBackend` is conventionally configured on the ingress controller and not on every ingress resource.
https://kubernetes.io/docs/concepts/services-networking/ingress/#default-backend
 Garden users would not be able to configure different paths with rules when we only specify `defaultBackend

[2022-08-17 08:59] worldofgeese commented on #3072
My gut feeling is Garden should "just work" with Big Cloud without any additional configuration by a user. They're large enough to each have their own idiosyncrasies and these idiosyncrasies should be abstracted away from the user as much as possible so time to productive is as close to zero as we can manage. I don't have any specific technical suggestions to provide as to how we might implement t

[2022-08-17 10:37] stefreak opened #3110 "[FEATURE]: Override default garden buildkit flags (e.g. `--cache-from`)"
## Feature Request

We need a way to override buildctl build flags. The default flags can be found here: https://github.com/garden-io/garden/blob/1bcdf7a4689c7a07939fccd53b94189f865da98d/core/src/plugins/kubernetes/container/build/buildkit.ts#L126

You can already specify additional flags with [extraFlags](https://docs.garden.io/reference/module-types/container#extraflags) (which is not documented

[2022-08-17 11:00] vvagaytsev commented on #3091
Ok, thank you, we'll have a look.

[2022-08-18 08:24] hnicke opened #3111 "copySecrets is copying secrets too late"
## Bug

### Current Behavior
When running `garden deploy`, the secrets configured via `copySecrets` directive are copied too late to the deployment namespace resulting in failed deployments.

### Expected behavior
The secrets configured via `copySecrets` directive are being copied before any services get deployed.

### Reproducible example
1. I've deleted the deployed environment (`garden delete e

[2022-08-18 08:25] hnicke commented on #3048
Thanks for looking into the issue.
I tried to reproduce it once again (our garden stack graph evolved in the meantime) - and it seems to work now.

Now that I configured the `copySecrets` directive in the kubernetes provider configuration and disabled our custom copySecrets-exec service, I've noticed another, timing related behavior: #3111

[2022-08-18 08:25] #3048 closed

[2022-08-18 08:28] Orzelius commented on #3111
This will most likely be fixed with the next major release where we rework the entire stack graph and garden internal task resolution to fix issues just like this. The release (`0.13`) is aimed for September.

[2022-08-18 09:24] modsen-hedgehog opened #3112 "[FEATURE]: add ability to specify dependent services, which should be deployed on build stage for container/module"
## Feature Request

### Background / Motivation

I'm working on mono-repository project and I have a gateway service, which needs dependent services to be deployed to generate some graphql schemas on build stage. This gateway service just takes so called graphql introspection and combines them. But as I understand right now there is no solution to configure such behavior.

### What should the user

[2022-08-18 09:35] vvagaytsev commented on #3000
Thanks for reporting this! We'll take a look soon. We think we can add a retry for this.

[2022-08-18 09:52] vvagaytsev commented on #3083
Thanks, @oldsj! Would you be interested in implementing this feature? We are happy to support you and provide you with guidance. We can try to implement it ourselves, but we can't give any promises on the ETA.

[2022-08-18 09:56] vvagaytsev commented on #3077
@jackvhall have you had a look at the [module templates](https://docs.garden.io/using-garden/module-templates) feature? Please, check it out, it might be helpful.
If it's not, please get back to us.

[2022-08-18 12:31] Orzelius opened #3113 "Stack-Graph v2 test fixing"
**Goal 1:** It compiles
**Goal 2:** It passes

**Goal 2 progress.**

**Update from 13.02.2023**
Most of the failing tests were fixed in #3738
There are still a few failures:
  - [x] `tasks/resolve-action.ts` -> partially fixed in #3738, there are some `git` command execution failures
  - [x] `router/base.ts` -> some `git` command execution failures, the same as above
  - [x]  #3549

Unit tests wit

[2022-08-19 07:29] vvagaytsev commented on #3106
@ivanbabenko thanks for reporting this! We're in the middle of the big internal refactoring now -- it is https://github.com/garden-io/garden/pull/3114.

We'll take a look after `0.13` release is ready.

[2022-08-19 07:34] vvagaytsev commented on #3110
Thanks, @stefreak! We'll take a look at this after https://github.com/garden-io/garden/pull/3114.

[2022-08-19 07:36] vvagaytsev commented on #3104
@FBurner thanks for raising this! Now we're doing a big refactoring related to the 0.13 release. We'll take a look once the `0.13` is ready.

[2022-08-19 11:26] vvagaytsev commented on #3112
@modsen-hedgehog thanks for reporting this.

The problem should be solvable in Garden `0.13`, but in `0.12.x` it's quite tricky. Now we're actively working on `0.13`, the plan is to get it finished in mid-September.

[2022-08-19 13:50] jackvhall commented on #3077
I'll check it out. Thanks

[2022-08-23 03:27] isaacpz commented on #3039
I have not tested with the `kubernetes` module type

[2022-08-24 05:38] idoshamun opened #3124 "[FEATURE]: Fetch dependencies of a dependency"
## Feature Request

### Background / Motivation

I was working on my first garden project, which includes a few services, databases, and an application.
The application relies on two services, and the services rely on different dependencies such as redis, postgres, etc.

### What should the user be able to do?

I think as a garden user, I should be able to define the dependencies of my module. Whe

[2022-08-24 05:42] idoshamun opened #3125 "[FEATURE]: Modules contributing values to a project level variable"
## Feature Request

### Background / Motivation

My dev setup contains a single postgres instance that serves many services.
This postgres instance supports initializing multiple databases via a comma-separated environment variable.

### What should the user be able to do?

As a garden user, I'd like to define on a module level a variable with a single database name and then aggregate this variabl

[2022-08-24 18:53] marklester opened #3135 "[FEATURE]: Add SecurityContext to Container Module Type"
## Feature Request

### What should the user be able to do?

I would like to set a securityContext so I can override behavior of a given image

### Why do they want to do this? What problem does it solve?

Sometimes images used for containers have default behavior that can't be changed in the image. Having a way to change that behavior in a way supported by k8s would be very helpful

### Suggested

[2022-08-24 19:08] thelongshanx opened #3136 "[FEATURE]: Interactive Module Creation"
## Feature Request

Interactive Module Creation

### Background / Motivation

Running `garden create module` creates an overwhelming amount of commented out options, and  `garden create module --skip-comments` creates  a file so minimal it can be confusing what to do next.
Mapping current app deployments to Garden modules has been a sticking point for adoption.

### What should the user be able to

[2022-08-24 19:22] thelongshanx opened #3137 "[FEATURE]: Support for alternative container CLIs"
## Feature Request

Support for alternative container CLIs

### Background / Motivation

Not everyone wants to run Docker locally/qualifies for the free subscription
https://www.youtube.com/watch?v=BUlrbSxpRTs&t=700s

### What should the user be able to do?

Users should be able to run `garden deploy` with non-Docker container tools, such as Podman, nerdctl, and Rancher Desktop.

### Why do they w

[2022-08-24 21:21] thelongshanx opened #3138 "[FEATURE]: Glob support for manifest paths in kubernetes actions"
## Feature Request

Regex support for paths

### Background / Motivation

If all of your manifests are in one directory, I want to be able to say “all of them” or “all the yaml files”. Garden doesn’t support directories or wildcards for specifying [files](https://docs.garden.io/reference/module-types/kubernetes#files) to be included in Kubernetes modules, which means you’ve got to list every file

[2022-08-24 23:14] thelongshanx opened #3139 "CLI `garden deploy --help` doesn't include `--env` in Options"
## Bug

### Current Behavior

This is the output of `garden deploy --help`
[code]

### Expected behavior

The Options section should display all available flags, but `--env` is missing (all [global options](https://docs.garden.io/reference/commands#global-options) are missing, but this one is notable because it is listed twice in the Description Examples and is a core feature.

### Reproducible ex

[2022-08-24 23:45] thelongshanx opened #3140 "Docs: Cheat Sheets"
Running `garden create module --skip-comments` for a container module is 3 lines and `garden create module` is 872. Getting started by figuring out what is important/relevant is daunting. I don’t know if there’s a solution to that in the CLI, but we can try to make it easier with helpful documentation. We should create cheat sheets in our docs for the most commonly used commands and flags, and con

[2022-08-25 06:36] idoshamun opened #3141 "Disabled modules still expect to have modules variables defined"
## Bug

### Current Behavior

When setting `disabled: true` on a module level, the CLI throws an error if a module variable is not defined properly.

### Expected behavior

Ignore the module altogether when it's disabled.

### Reproducible example

### Workaround

Set defaults for the variables

### Suggested solution(s)

### Additional context

### Your environment

* **OS:** macOS
* **How I'm ru

[2022-08-25 11:50] vvagaytsev commented on #3135
@marklester thanks for sharing this! We can recommend you try out the [kubernetes module type](https://docs.garden.io/reference/module-types/kubernetes).

Currently, we have plans to provide an easy converter from `contaIner` to `kubernetes` module type. The tentative plan is to get it ready in Q4.

[2022-08-25 11:51] vvagaytsev commented on #3124
Thanks for reporting this @idoshamun! We'll take a look after the `0.13` release.

[2022-08-25 11:54] vvagaytsev commented on #3141
Thanks for raising this @idoshamun! By the way, what do you mean by "variable not defined properly"?
Do you mean a template string in the module variables that can’t be resolved? E.g., a template string that uses a variable only defined in the environment where the module is enabled.

It would be very helpful if you can share an example configuration to reproduce it.

[2022-08-25 15:31] idoshamun commented on #3141
Yes, exactly this.

Might be able to do it in the weekend :)

[2022-08-26 07:25] eysi09 opened #3149 "Port forwards get disconnected after awhile"
## Bug

### Current Behavior

One of my favourite features of Garden is that it automatically creates port forwards when in watch mode.

The annoying thing is that these seem to disconnect at some points when running the command for awhile.

I often notice this when using e.g. a Postgres client tool and can no longer query my DB. At this point I'll need to restart the Garden process which can take

[2022-08-26 13:40] disbr007 opened #3150 "Error raised if module level varfile is missing."
## Bug
### Current Behavior
According to[ the docs](https://docs.garden.io/using-garden/variables-and-templating?q=environment), if a `varfile` is set but cannot be found, "no error is raised". However, when I attempt to deploy with a missing path, an error is raised and the deploy fails.

My use case is a .gitignored environmental variable file that is not present in the production environment (w

[2022-08-27 15:52] eysi09 opened #3151 "Custom exec commands are executed from current directory instead of project root"
## Bug

### Current Behavior

As per the title: Custom Commands that have type `exec` are executed in the directory that the command is called from.

### Expected behavior

The command is always executed from project root _or_ the directory where it's defined.

I think we only support placing custom commands in the project root anyway so it's kind of a moot point.

But if we imagine we'll support

[2022-08-29 09:16] vvagaytsev commented on #3149
Thanks for reporting this @eysi09! We'll take a look after SGv2 changes (0.13).

[2022-08-29 09:22] 10ko commented on #3149
+1 on this! I also believe something similar happens when using `garden exec`. I often have to restart my terminal because when the connection is lost while shelling into a container, garden becomes unresponsive and my zsh tab freezes completely.
Please let me know if I should open a separate issue for this. ❤️

[2022-08-29 09:32] stefreak opened #3152 "[FEATURE]: Ability to use System JDK for Jib"
## Feature Request

Garden Jib Provider should allow using the JDK installed on the System.

### Background / Motivation

1. Support environments with alternate libc libraries, for example Alpine. If Garden runs in an Alpine container, JDK will not work because it depends on `glibc`, while alpine ships with `musl`. Executing the `java` binary results in a `Not Found` error, as shared libarary glib

[2022-08-29 09:55] vvagaytsev commented on #3152
Thanks for reporting this @stefreak! We'll take a look after huge SGv2 changes (0.13) are done.

Implementing an ability to use custom Maven and Gradle might also be useful.

[2022-08-31 10:00] stefreak opened #3166 "[FEATURE]: Use native tools on ARM64 mac"
## Feature Request

Garden should download and use ARM64 native tools on M1 mac.

### Background / Motivation

I am hitting a terraform problem in conjunction with rosetta, where terraform apply fails randomly on M1 macs. [This can be fixed by installing ARM64 native terraform](https://github.com/hashicorp/terraform-provider-aws/issues/22582#issuecomment-1015302978). But with garden, I do not have

[2022-08-31 13:55] disbr007 opened #3168 "targetImage: key "targetImage" is not allowed at path .build[targetImage]"
## Bug
According to [the docs](https://docs.garden.io/reference/module-types/maven-container#build.targetimage), the `targetImage` key can be used to specify which stage of a multistage dockerfile to use.

### Current Behavior
Specifying build.targetImage raises:
[code]

### Expected behavior
The `build.targetImage` key should allow you to specify a stage of a multistage Dockerfile to build.

###

[2022-08-31 15:23] hnicke opened #3169 "[FEATURE]: update-remote command should fetch sources in parallel"
## Feature Request

### Background / Motivation

When running `garden update-remote sources`, garden updates the remotes sequentially.
This takes quite a while.

### What should the user be able to do?

`garden update-remote sources` should update the remotes in parallel, decreasing the wait time for the user.

### Why do they want to do this? What problem does it solve?

As a user, it takes way t

[2022-09-01 12:28] Orzelius commented on #3151
@eysi09 Thank you for the detailed issue and a nice repro, could you check the pr to fix it #3171 and give feedback on if requiring a garden project for custom commands makes sense

[2022-09-01 12:32] hnicke opened #3172 "[FEATURE]: use git SHA in remote source declaration"
## Feature Request

### Background / Motivation

We are running a poly repo setup.
The `project.garden.yml` lives in an umbrella repository which declares all other repos as remote sources.
In our CI pipeline of the individual repos we trigger a child pipeline in the umbrella repo where `garden test && garden deploy` is run.
When triggering this child pipeline we pass a specific context as payload

[2022-09-01 15:13] #3151 closed

[2022-09-01 15:35] vvagaytsev commented on #3169
Good point @hnicke, thanks for reporting this! We'll take a look soon.

[2022-09-01 15:37] vvagaytsev commented on #3150
Thanks for reporting this @disbr007! We'll check this soon.

[2022-09-01 15:38] vvagaytsev commented on #3168
Thanks for raising this @disbr007! We'll check this soon. Could you please try out the latest Garden version `0.12.44`?

[2022-09-02 09:49] #3026 closed

[2022-09-02 22:02] jalper commented on #2762
Still would like a way to do this.

[2022-09-05 09:01] vvagaytsev commented on #3166
Thanks for raising this @stefreak! Looks related to https://github.com/garden-io/garden/issues/2333 We can reconsider both issues after the Garden `0.13` release. I also use an Apple machine with an M1 chip :)

[2022-09-06 10:51] vvagaytsev commented on #3152
@stefreak the implementation is available in #3184. Instead of having flags like `jdkVersion: system` or `useSystemJDK: true` I'd like to suggest an explicit JDK path option `jdkPath`.

It can use the existing `JAVA_HOME` env variable like
[code]
or an explicitly defined path like
[code]

Detecting the system JDK can be difficult. The `JAVA_HOME` env variable is [no longer a mandatory one for Mave

[2022-09-06 10:54] vvagaytsev commented on #3152
There is an edge case in #3184. If we use explicit `mavenPath` and no explicit `jdkPath`, then we'll pass the downloaded JDK's home dir as a `JAVA_HOME` env var to the custom Maven. This looks like unexpected behavior. I'll check this in detail later, the PR is still a draft.

[2022-09-06 10:59] vvagaytsev commented on #3152
The simplest solution is to ignore the JDK -related settings if an explicit `mavenPath` is specified. This means we'll just use the provided Maven binary as it is. It seems natural to assume that the local Maven is configured properly -- it means that the `java` command is already defined in the `PATH`.

[2022-09-07 12:04] Orzelius commented on #3172
The reason not to do it originally was that we couldn't do shallow clones from GitHub with commit SHAs. This may have changed since.
It makes sense to support this and just fallback on a full clone. We'll look into implementing. Thank you for bringing this to our attention and sorry for the late reply.

[2022-09-07 22:51] m-ackley opened #3197 "[FEATURE]: Separate configuration for garden-util pods"
## Feature Request

### Background / Motivation

Currently, `garden-util` and `kaniko-build` pods share the same tolerations, which means they cannot be scheduled to run on different nodes.

Additionally, there is no way to configure the resource request/limit for the `garden-util` pods and they will use whatever the default values are for the Kubernetes cluster.

See [this forum thread](https://c

[2022-09-07 22:55] edvald commented on #3197
Thanks @m-ackley! This makes sense, and thanks for the detailed context.

We might go with a slightly different config schema (not sure yet) but in principle this is easy enough to implement.

[2022-09-08 13:57] stefreak commented on #3152
That sounds reasonable @vvagaytsev

[2022-09-09 09:25] stefreak opened #3203 "BUG: Disabled module builds on code change in dev-mode"
## Bug
### Current Behavior
When I run dev mode, an exec module will suddenly try to build (But it's disabled in the local-kubernetes env in my project)

### Expected behavior
I expect disabled modules not to do anything when I change code in dev mode

### Reproducible example
It's not a minimal example, but it is reproducable.
Commit to check out to reproduce this: https://github.com/garden-io-te

[2022-09-09 09:27] vvagaytsev commented on #3203
Thanks for reporting this @stefreak! We'll take a look soon.

[2022-09-09 09:28] vvagaytsev commented on #3203
Unfortunately, I have no access to https://github.com/garden-io-testing/hono-garden/commit/c762fdfa6484e0989c0df350fd64f41bc37d14fc. Can you grant me permission, please?

[2022-09-09 09:33] stefreak commented on #3203
on it :)

[2022-09-09 12:16] langfors commented on #2516
Note: This behavior also occurs in a singly nested git submodule.

[2022-09-11 10:03] MaximumQuiet opened #3207 "Deploy to remote k8s fails with “Unable to query registry for image status: Unexpected server response: 403""
## Bug
### Current Behavior
Hi! I'm currently setup a k8s cluster (Talos) with Garden, and stuck on enabling in-cluster building with Kaniko. After garden --env... deploy, I receive the following error:

[code]

### Expected behavior
Garden deploy without errors.

### Additional context
I tried setting both local (127.0.0.1:5000) and remote (DockerHub) deploymentRegistry, but the error is permanen

[2022-09-12 09:19] 10ko commented on #3149
Of course, no problem.

[2022-09-12 09:23] 10ko opened #3208 "Connection lost when running garden exec"
## Bug
### Current Behavior

When running `garden exec <module-name> --interactive /bin/bash` the connection often gets lost after a little while, resulting in the freezing of the terminal (in my case `zsh`).

### Expected behavior

The same behaviour as in local-mode (restoring in case of lost connection).

### Reproducible example

### Workaround

Currently I have to kill the terminal and restar

[2022-09-12 10:55] vvagaytsev commented on #3207
Thanks for reporting this @MaximumQuiet ! We'll take a look soon.

[2022-09-12 20:14] aaronmanning613 opened #3209 "[FEATURE]: Add terraform version 1.2.9 to tools"
## Feature Request

### Background / Motivation

Trying to upgrade to the latest terraform version

### What should the user be able to do?

Use terraform version 1.2.9

[2022-09-13 08:02] stefreak opened #3210 "BUG: no error with two garden projects in the same directory"
## Bug
### Current Behavior
If you have two`kind: project` definitions in different files there is no error message

### Expected behavior
I expect an error, otherwise it can be very confusing if user edits the "wrong" file (that garden does not use)

### Reproducible example
[code]

### Workaround
Unknown

### Suggested solution(s)
Garden should validate project definitions. There should be only

[2022-09-13 08:27] vvagaytsev commented on #3210
Thanks for reporting this @stefreak! We'll take a look soon.

[2022-09-13 14:05] antoinelyset opened #3219 "`mode=max` for multi-stage build BuildKit"
Hey Garden,

I might be wrong but currently, when building the Docker image, we only push the cache of the final image. If you use a multistage build it isn't optimal.

Command example:

[code]

I think Garden should use `mode=max` option as described here

https://github.com/moby/buildkit#export-cache

What do you think?

[2022-09-13 14:29] stefreak commented on #3219
@antoinelyset absolutely! Thank you for reporting this. I've been thinking about this a lot recently. This is definitely something we want to implement.

One issue is, that some registries do not support the manifest format required for `mode=max` (more specifically AWS ECS, see also https://github.com/aws/containers-roadmap/issues/876).

Would you kindly give us feedback about the approach descri

[2022-09-13 15:29] antoinelyset commented on #3219
Hey! Thanks for the quick answer. The auto-detect implementation would be nice for us (we wouldn't need to reimplement `--cache-to` and `--cache-from`) but having other options is also nice.

I'm glad you are working on this because it's a big slowdown for us :D

[2022-09-13 16:43] stefreak opened #3221 "[FEATURE]: avoid double negation by introducing `enabled:` for modules"
## Feature Request
Deprecate `disabled:` module option and introduce `enabled`.

Alternatively, encourage using `enabled` and still allow `disabled` in the cases where it makes the code more readable.

### Background / Motivation
Starting out positive, both the positive and the negative case are easy to understand:

* `enabled: ${environment.name != "local"}` (read: enabled if environment is not l

[2022-09-14 07:12] vvagaytsev commented on #3221
Thanks, @stefreak! This would be a really nice feature :) We'll take a look soon. Feel free to submit a PR, I can help you if you need any assistance.

[2022-09-14 07:53] #3209 closed

[2022-09-14 12:41] #3152 closed

[2022-09-14 14:51] #3166 closed

[2022-09-19 19:35] mowings opened #3234 "[FEATURE]: --skip-dependencies should work on sync mode"
## Feature Request
### Background / Motivation
We have a lot of services to run in a single project, and dependency checking can be slow, but can also sometimes redeploy things that are unchanged (some of this could be our project configuration).

While `--skip-dependencies` works fine with a normal service deploy, it does not work when a service is being deployed with the `--dev` flag:

[code]

T

[2022-09-19 22:08] mowings opened #3235 "[FEATURE]: PVCs for the garden-util /data mount"
### Background / motivation

We run our garden-projects in AWS EKS on spot instances. We also do regular scale-downs of all projects periodically. This means that the garden-util pod is frequently rescheduled, and because [the buildSyncVolume is declated as type emptyDir](https://github.com/garden-io/garden/blob/1bcdf7a4689c7a07939fccd53b94189f865da98d/core/src/plugins/kubernetes/container/build/c

[2022-09-20 08:19] vvagaytsev commented on #3234
Huge thanks for reporting this, @mowings! We'll take a loon soon!

[2022-09-20 11:43] vvagaytsev commented on #3235
Thanks for reporting this, @mowings!

Making things stateful can make them harder to administer and maintain. We’ll check the implementation impacts with the team and will get back to you soon.

[2022-09-20 13:06] antoinelyset commented on #3219
Something that might also go in favour of the override is that we sometimes don't want to push the cache of a build. For example, in the context of a CI build on a feature branch we don't want to override the cache of our main branch.

[2022-09-20 13:39] mowings commented on #3235
@vvagaytsev -- Note that the source code sync is **already** stateful.  The state is just randomly lost when the pod is rescheduled. Allowing the end-users to provide their own manifests as an advanced feature would let you left-shift the issue back on to the end-user.   I have even played around here with doing my own deployment to of the image to "fool" the garden client into thinking that the p

[2022-09-20 13:54] mowings opened #3237 "[FEATURE]: deploymentStrategy. should be available in container module"
## Feature Request

### Background / Motivation

We have a one single-replica container that we deploy via the garden container module that has attached PVCs.  We would like this  deployed with the `recreate` strategy to minimize reattachment delays when we redeploy it. While most other deployments in our project use helm, we still have a few that we would like to simply use rolling update to mini

[2022-09-20 14:10] stefreak commented on #3235
@mowings I understand the need, but there are a couple of implications:
- new versions of garden may change how the in-cluster building works internally, and thus break with the custom manifests,  thus offering custom manifests may make it harder for us to change the internals
- with a PVC instead of emptyDir, there is a need for a clean up routine. So far due to the ephemeral nature of `emptyDir`

[2022-09-20 17:02] stefreak commented on #3219
@antoinelyset that is actually a great thought, thanks for the idea.

actually, buildkit supports multiple `--import-cache` flags, and we could use a different cache tag depending on the branch, while trying both (so that the first build in a feature branch benefits from the main branch cache). I'll think about this a little bit.

[2022-09-20 19:28] mowings commented on #3235
Yeah -- that was my other thought.  Not ideal for a couple of reasons -- we'll see though

[2022-09-20 19:52] mowings commented on #3235
Well, to be clear, I am talking about garden-util, not buildkit. Is there a nodeSelector spec for garden-util somewhere (we are using kaniko for builds atm)?  Also we are using karpenter for provisioning, so things will still get shuffled around occasionally, but in theory less often than running on spot

[2022-09-21 11:30] stefreak commented on #3219
@antoinelyset how do you feel about something like the following example config, would having a `cache` config option like this make it customizable enough for you?

[code]

[2022-09-21 11:40] stefreak commented on #3219
Thanks for your feedback on this.

[2022-09-21 21:57] stefreak commented on #3235
@mowings there is [`providers[].kaniko.nodeSelector`](https://docs.garden.io/reference/providers/kubernetes#providers-.kaniko.nodeselector) for kaniko. Quickly zooming through the kaniko code (which I am not super familiar with yet) the `garden-util` deployment also is configured to use the kaniko nodeselector, if it is configured in the kubernetes provider config in your `project.garden.yml`.

Pl

[2022-09-22 08:30] stefreak opened #3245 "BUG: docs generator outputs docs including the escape character for `\$` when using backtick-strings"
## Bug

Example:
https://docs.garden.io/reference/module-types/configmap#disabled

If a user copies the example `disabled: \${environment.name == "prod"}` from the docs with the backslash, it won't work, because the dollar is escaped.

This is a bug in our docs generator: if you escape a `$` in a backtick-string (`` `\${something}` ``) it shouldn't end up escaped in the resulting docs.

Search for

[2022-09-22 08:36] Orzelius commented on #3245
I wonder how no one has pointed this out before. Either way, good catch!

[2022-09-22 08:50] vvagaytsev commented on #3245
Thanks, @stefreak! Actually, that's not the only place. In https://docs.garden.io/reference/module-types/configmap#varfile you can see `varfile: "my-module.\$\{environment.name\}.env`.

I faced the same issue in #3184 and solved it by [extracting the env-var-like string](https://github.com/garden-io/garden/blob/master/plugins/jib/index.ts#L39) `"${...}"` as a constant and [using it](https://github

[2022-09-22 08:53] stefreak commented on #3245
@vvagaytsev yes exactly, this was only an example. Good point with the work around, will add it to the main bug ticket 👍

[2022-09-22 10:23] vvagaytsev commented on #3237
Thanks for reporting this, @mowings! We'll take a look soon.

[2022-09-22 12:08] #3245 closed

[2022-09-23 11:04] stefreak opened #3248 "BUG: slice does not allow for number inputs for start and end"
## Bug

### Reproducible example

[code]

### Current Behavior

[code]

### Expected behavior

it should slice my kebab by number as well :)

### Workaround

[code]

### Suggested solution(s)

Change the validation to allow for number-convertible strings and numbers as input.

### Your environment

* **OS:** macOS

`garden version` master

[2022-09-23 11:34] vvagaytsev commented on #3248
Thanks for reporting this @stefreak! We'll take a look soon.

[2022-09-23 15:11] MarkMurphy opened #3249 "Ingress does not work with GCE ingress controller on GKE"
Error during sync: error running backend syncing routine: googleapi: Error 400: Invalid value for field 'resource.timeoutSec': '5'. TimeoutSec should be less than checkIntervalSec., invalid

`timeoutSeconds` cannot be greater than `periodSeconds`

See https://cloud.google.com/load-balancing/docs/health-checks and https://github.com/kubernetes/ingress-gce/blob/master/docs/faq/gce.md#can-i-configure

[2022-09-25 19:27] highb commented on #1547
@edvald Could we get the stale label removed from this issue? I'm seeing it after trying to run `cluster-init` on my RPi lan server. I'm assuming that there is probably a docker image somewhere in the cluster init process that needs to be switched to the ARM64 version, yeah?

[2022-09-25 19:30] highb commented on #1547
If someone like myself wanted to dive in and try to figure out how to resolve the issue, where would I start? I'm assuming https://github.com/garden-io/garden/tree/master/core/src/plugins/kubernetes is where all the code lives?

[2022-09-25 20:22] edvald commented on #1547
This is actually not stale at all, we have been working behind the scenes on this. Reopening.

[2022-09-26 10:49] eysi09 opened #3254 "[FEATURE]: A better, more informative, append-only logger"
# Feature Request
## Background / Motivation
The Garden Core logger currently has a few issues:

* It’s a little buggy:
  * The spinner goes out of whack if there's a lot of output.
* It could be a lot more informative:
  * The default log level shows too little information in terms of what’s happening in the user’s system. You might know that Garden is building a given module but can’t see what’s

[2022-09-26 10:51] eysi09 commented on #3254
Writing this up here to get the conversation going and solicit feedback from others.

We can already start experimenting with this from the v0.13 branch. One idea would be to just create a dummy command that spits out a bunch of logs that we can use for iterating on this.

Once we v0.13 is merged we'll have done a lot of the ideation and validation and can quickly implement.

[2022-09-26 10:56] eysi09 opened #3255 "[FEATURE]: Add IDE autocomplete via JSON schema"
## Feature Request
### Background / Motivation
All of Garden's configuration is documented in code via Joi schemas.

It would be quite trivial to map this to a JSON schema to get IDE auto completion. In fact the code for generating our docs is written such that it's easy to output different formats (markdown, JSON schemas, etc).

### What should the user be able to do?
Get autocompletion when writ

[2022-09-26 11:03] vvagaytsev commented on #3249
Thanks for reporting this @MarkMurphy! We'll take a look soon.

[2022-09-26 12:15] #3110 closed

[2022-09-26 12:24] Walther opened #3256 "`garden cloud` subcommands show the higher-level help text"
## Bug

### Current Behavior

Running the command `garden cloud` gives you the list of available subcommands, `garden cloud groups`, `garden cloud secrets`, and `garden cloud users`. Running any of those suggested subcommands gives you the same help message of the `garden cloud` command, instead of showing the relevant help for the specific subcommand(s) and their available sub-subcommands / optio

[2022-09-26 12:35] vvagaytsev commented on #3256
Thanks for reporting this @Walther! It should be an easy fix.

[2022-09-28 14:48] #3256 closed

[2022-09-29 16:05] hnicke opened #3269 "[BUG] update-remote sources command is missing --parallel flag"
## Bug

### Current Behavior

In v0.12.45, the `--parallel` flag was added to `garden update-remote all` and `garden update-remote modules`.
However it is missing from `garden update-remote sources`.
Note that `garden update-remote all` still updates all declared sources in parallel.

### Expected behavior

`garden update-remote sources` should have the `--parallel` flag as well.

### Workaround

[2022-09-29 16:08] #3169 closed, assigned to nobody

[2022-09-29 17:01] hnicke opened #3271 "[BUG] multiple local ports for localMode breaks backwards-compatibility"
## Bug

### Current Behavior
Since v0.12.45, [multiple port forwards](https://github.com/garden-io/garden/commit/a98af5363) are allowed for `localMode`.
The new configuration syntax is:
[code]
The old syntax (<=v0.12.44) was:
[code]

The problem is that v0.12.45 does not support the old syntax, and neither does v0.12.44 support the new syntax.
This forces us to atomically upgrade our stack to v0.1

[2022-09-30 07:47] vvagaytsev commented on #3271
Hi @hnicke! Thanks for reporting this! Sorry, that's my fault, I forgot to mention it in the release notes. Now the [release notes](https://github.com/garden-io/garden/releases/tag/0.12.45) are up-to-date.

[improvement(local-mode): allow multiple port-forwards](https://github.com/garden-io/garden/commit/a98af5363) caused incompatibility. But the local mode is still an **experimental** feature. It

[2022-09-30 07:55] #3271 closed

[2022-09-30 08:20] vvagaytsev commented on #3269
Thanks for reporting this @hnicke! That should be an easy fix, I'll take a look soon.

[2022-09-30 13:54] #3269 closed

[2022-09-30 14:02] hnicke opened #3275 "[BUG] --no-deps option of deploy command not working"
## Bug

### Current Behavior

The `deploy` command does not recognize the `--no-deps` option:
[code]

However, using the 'long' version of the same option works:
[code]

### Expected behavior

Either `--no-deps` should work like `--skip-dependencies` or `--no-deps` should be removed from the `garden deploy --help` output.

`garden version`
0.12.44

[2022-09-30 14:19] vvagaytsev commented on #3275
Thanks for reporting this @hnicke! We'll take a look soon.

[2022-09-30 15:55] vvagaytsev commented on #3275
It looks like the alias name cannot contain any dash characters (`-`). This has been an issue since at least `0.12.30`.

So changing the alias to `--nodeps` would do the trick. Formally, it would be a breaking change. But, in fact, it would not, because the old flag hasn't been working properly for a long time.

[2022-09-30 16:30] #3275 closed

[2022-09-30 16:51] vvagaytsev commented on #3275
This is the place to fix the generated docs: https://github.com/garden-io/garden/blob/main/static/docs/templates/commands.hbs#L55

[2022-09-30 17:09] thsig opened #3278 "Graph V2: Simpler, more flexible configuration by moving beyond modules"
## Summary
For several months now, we've been working on a big refresh on how Garden projects are configured. We've been calling this project "Graph V2" internally.

These changes will be part of Garden 0.13, which we're planning to release by the end of the year.

The new configuration format no longer nests builds, services, tests and tasks under modules—instead, these are configured independent

[2022-09-30 21:42] ajtran opened #3279 "failed to solve: error writing manifest blob: failed commit on Garden v0.12.45"
## Bug

### Current Behavior

When running `garden deploy --env=dev`, the deploy fails trying to commit:
[code]

It seems the default behavior in v0.12.45, sets
[code]
however, in our version of harbor, this isn't yet supported as outlined in this https://github.com/goharbor/harbor/issues/14774

### Expected behavior

I expect the deploy to go through without any errors.

### Reproducible example

[2022-10-01 16:39] #2734 closed

[2022-10-01 16:44] #2712 closed

[2022-10-01 16:46] #2710 closed

[2022-10-01 16:49] #2423 closed

[2022-10-01 17:35] #2729 closed

[2022-10-01 17:35] #2655 closed

[2022-10-03 17:32] justinharringa commented on #3279
Looks like this feature changed the default behavior 😞 https://github.com/garden-io/garden/pull/3239

[2022-10-05 11:25] hnicke opened #3284 "localMode with kubernetes module: always override some spec fields"
## Bug

### Current Behavior

When using `localMode` with a kubernetes module, the following fields of the target container `.spec` are not overriden, but taken from the original spec:
- `command`
- `startupProbe`
- `env`
Probably there are more fields.

This leads to the following issues:
- `command`: proxy pod does crash on startup (since executable is not found in proxy)
- `startupProbe`: proxy

[2022-10-05 11:31] vvagaytsev commented on #3284
Thanks for reporting this @hnicke! I'll take a look.

[2022-10-05 22:25] ryanhair opened #3285 "[FEATURE]: module-specific build parameters for Kaniko"
## Feature Request

Allow Kaniko resource overrides at the module / service level

### Background / Motivation

We do a _lot_ of building with Kaniko. Some services need < 2GB to build, while one specific one requires > 14 GB to build without running out of memory. Having to set a global 14GB memory limit for every single build that occurs with Kaniko leads to a _lot_ of wasted resources. Add to t

[2022-10-06 07:51] jrnxf opened #3286 "vars not passed via `command` in workflows"
## Bug
### Current Behavior

task:

[code]

workflow:

[code]

### Expected behavior

I would think these would be exactly the same thing. Even stranger, this works!

`garden custom-workflow-b --var args="whyyyyy"`

[code]

### Reproducible example
refer to above

### Workaround

I guess I could call a custom workflow within a normal workflow? Idk, feels icky

### Suggested solution(s)

### Additi

[2022-10-06 09:34] vvagaytsev commented on #2573
@thsig is this still a valid issue? Should we reopen this?

[2022-10-06 10:30] vvagaytsev commented on #3279
Thanks for reporting this @ajtran! We'll take a look soon.

[2022-10-06 10:30] vvagaytsev commented on #3279
@justinharringa thanks for finding the breaking change!

[2022-10-06 16:42] jrnxf opened #3287 "can't use dedicated envVars for singular garden command within workflow"
## Bug
### Current Behavior

As far as I can tell, there doesn't seem to be a way to pass a single environment variable to one specific workflow command. In other words, I don't want the variable for the entire workflow, just one command. Which means I can't use `command` and have to use `script`

      - description: Generate environment file using `garden generate-env-file ${environment.name}`

[2022-10-06 17:08] jrnxf opened #3288 "command: [workflow-a] terminates flow while command: [run, workflow, workflow-a] doesn't"
## Bug
### Current Behavior
My workflows look like this

reset workflow (outer-most):

[code]

refresh workflow:

[code]

codegen workflow:

[code]

The problem is that if I use `command: [codegen]` I never make it back to my outer workflow. Garden simply hands (even though the codegen was successful, and then after 20 seconds or so finishes having never run my final task. I am forced to use `comm

[2022-10-06 17:14] thatvegandev commented on #3286
@vvagaytsev I'd also like to point out that this isn't just for tasks. It's also for workflows. However there's an extra point of confusion because you actually can pass vars via command but NOTE when prefixed with `run, workflow, ...`.

[code]

[2022-10-07 08:37] hnicke opened #3289 "[FEATURE]: kustomize with helm charts"
## Feature Request
### Background / Motivation
I'm integrating a 3rd party helm chart into our garden stack.
Its resulting manifests however have a minor flaw and don't suite our needs 100%.
In general I would have three options to address this:

* supply patch upstream and hope they will incorporate it soon & release a new chart version
* fork the chart
* use kustomize

Supplying a patch upstream

[2022-10-07 09:38] gustaff-weldon commented on #2299
@edvald I think I'm facing a similar problem. It fails with
[code]

I checked `.garden/build/<project>/` folder and is it missing the `tmp` folder. It is also missing dockerignore file.
What drives the list of files that are being copied to `build` folder?

Also why do you even copy all the files to that project `.garden/build/` folder? It looks very inefficient. If I were to use garden in all my

[2022-10-10 01:34] Dunemask opened #3292 "[FEATURE]: Allow envFrom usage in modules/task"
## Feature Request
Add `envFrom` as a drop in addition/replacement for the `env` specifications in modules/tasks.

### Background / Motivation
Unfortunately i'm not super active in development right now so this is more of a backburner kick-starter idea. Potentially this is a very niche use-case, but I figured someone out there might also find it useful. It simply removes unnecessary data redundanc

[2022-10-10 08:46] vvagaytsev commented on #3289
Thanks for reporting this @hnicke! This looks like an advanced use case. Now we're busy with a more urgent project https://github.com/garden-io/garden/issues/3278, so we'll definitely take a look a bit later.

[2022-10-10 08:48] vvagaytsev commented on #3288
Thanks for raising this @thatvegandev! We'll take a look.

[2022-10-10 08:59] vvagaytsev commented on #3279
@stefreak can you take a look?

[2022-10-10 09:43] stefreak commented on #3279
@vvagaytsev yes, I will. Sorry for breaking your deploys @justinharringa @ajtran

Indeed, changing the default back to inline would solve this problem. Probably we'll do that.

I assumed that all self-hosted docker registries support `mode=max` as the reference registry implementation does support it. But I didn't have Harbor on the radar. That means we'd need to change the default back to inline,

[2022-10-10 09:47] vvagaytsev commented on #3279
@stefreak I think changing the default back to `inline` should be ok for now. This will ensure compatibility. A feature detection mechanism can be implemented later as a separate feature/improvement.

[2022-10-10 10:19] vvagaytsev commented on #3292
Thanks for reporting this @Dunemask! Yes, that looks like a niche use case. Would you be interested in submitting a PR for this feature? We are happy to give you the necessary guidelines.

[2022-10-10 11:28] Dunemask commented on #3292
Haha 😂, it certainly is pretty niche! Due to work circumstances I can't commit enough time to submit a PR right now. However, once work settles down I'll definitely reopen this and take a crack at this!

Thank you so much for helping developers have consistency between environments. I'm very lucky to have found Garden when I did, it's been such a huge blessing! 🙂

[2022-10-10 11:32] vvagaytsev commented on #3287
Thanks for reporting this @thatvegandev! We'll take a look.

Actually, this looks more like a feature request, not a bug. The `envVars` are already supported, but only with the `script`s, not with `command`s. The `envVars` description says:

So, something like this should work fine:
[code]

I'm wondering why `command` ignores the `envVars`. @thsig do you know why we did it in such a way?
Maybe we

[2022-10-10 12:02] vvagaytsev commented on #3292
Thank you @Dunemask! Let's keep it open :) Now we're quite busy with a bigger project -- https://github.com/garden-io/garden/issues/3278, and some urgent bugs and feature requests.

Anyway, we'll be happy to support you in implementing this later! :)

[2022-10-10 16:37] jondeandres opened #3295 "[FEATURE]: Conditional build dependencies"
Is there a way to have conditional build dependencies?

We have a scenario where we'd like to do something like this in a `helm` module:

[code]

But if `vars.IMAGE_ID` is set we don't want to wait for the container module to be built.

Thanks.

But

[2022-10-11 11:55] vvagaytsev commented on #3295
Thanks for reporting this @jondeandres! That's a nice and useful feature request. We'll take a look soon.

[2022-10-11 17:04] thatvegandev commented on #3287
@vvagaytsev could you speak to any underlying differences between `command` and `script`? I know `command` is only meant for garden commands, but is there any reason I should use
[code]
vs
[code]

The reason I ask is because my team and I have seen really really slow execution times when running garden commands via script. I think it might be a logging issue. I can try to get you more information

[2022-10-11 17:27] anna-yn opened #3297 "[FEATURE]: Different exit codes for different failure modes in Garden commands"
## Feature Request

### Background / Motivation
We're using Garden for CI and inner loop development, so we utilize the `garden test` and the `garden deploy` commands pretty heavily. There are a few reasons that these commands might fail:
- The tests we wanted to run failed
- The pods took too long to deploy
- The Garden namespace couldn't be created
- Helm chart we use couldn't be pulled
- Some o

[2022-10-12 03:39] thsig commented on #3295
Actually, this can be done quite neatly using templating. Something like this should work:
[code]
So I'll go ahead and close this one. We should document this pattern more clearly, though!

[2022-10-12 03:39] #3295 closed

[2022-10-12 08:17] #3237 closed

[2022-10-12 10:54] eysi09 opened #3298 "[FEATURE]: More intelligence around running Garden commands against "dev mode namespaces""
## Feature Request
### Background / Motivation
Let's say I run `garden dev` in one process and start my services in dev mode. I write some code and then I want to test my changes.

Now, I run `garden test` in a separate process.

What's going to happen is that Garden will re-build and re-deploy services and may thereby disable dev mode for some of them. After all, Garden is all about guaranteeing

[2022-10-12 15:14] antoinelyset commented on #3197
I second this feature! That would be really nice.

[2022-10-12 16:45] vvagaytsev commented on #3297
Thanks for reporting this @anna-yn! We'll take a look soon.

[2022-10-19 08:54] vvagaytsev commented on #3284
@hnicke could you elaborate on the failure case with `startupProbe`, please? The rest 2 issues have been addressed in #3311. That PR also removes `volumeMounts` and `volumeDevices` from the proxy container spec.

We intentionally do not set up any probes for the proxy container. It is possible to make `startupProbe` configurable, but we prefer to keep the config as simple as possible. The proxy co

[2022-10-19 11:12] vvagaytsev commented on #3091
@mattpolzin is this issue still valid? I tried to reproduce it using [templated-k8s-container example](https://github.com/garden-io/garden/commit/a1b747260e896fc749190346ec4d1eba466042ca), but I wasn't able to get the same error.

Could you, please, share your example configs if the issue is still reproducible?

[2022-10-19 12:20] vvagaytsev commented on #3287
@thatvegandev thanks for the question, I'll check it with the teammates.

@thsig @edvald what's the main diff between using `command` and `script` with Garden commands? Does `script` always spawn a new OS process to run another instance of Garden? That can explain the slowness.

We definitely need to update the documentation, I'll try to figure out which Garden commands are not supported in the wo

[2022-10-19 12:54] #3279 closed

[2022-10-19 13:24] edvald commented on #3287
Using `script` does indeed spawn a full new process, which is generally slower. There are cases where that's necessary though. Overriding environment variables essentially does necessitate that, since you'll anyway need to re-evaluate configuration. We had done a cursory look into further optimization but that would take some doing, so we hadn't dug into it further.

[2022-10-19 14:01] justinharringa commented on #3279
Awesome! Thanks @stefreak !

[2022-10-19 14:20] hnicke commented on #3284
@vvagaytsev sure. The problem with the `startupProbe` was the following: A container that was the target for localMode had a startupProbe defined. When deploying with localMode, this startupProbe was used and kept failing, hence the pod never became ready.  #3311 addresses this nicely.

Thanks for the fix!

[2022-10-20 08:53] vvagaytsev commented on #3297
This has been partially fixed in #3309. OOMs are now reported properly when running tests with artifacts.

Also, non-zero exit codes are logged in the service sections. If an exit code is not available, Garden still returns the default one which is `1`.

[2022-10-20 10:53] vvagaytsev commented on #3168
@disbr007 I can reproduce the issue neither with version `0.12.33` nor with the latest `0.12.45`.

I tried to reproduce it with [demo-project backend module](https://github.com/garden-io/garden/tree/main/examples/demo-project/backend).

I changed the 1st line in the [`Dockerfile`](https://github.com/garden-io/garden/blob/main/examples/demo-project/backend/Dockerfile) to be
[code]
and added the fol

[2022-10-20 14:10] vvagaytsev commented on #2853
@eysi09 it looks like this was fixed in `0.12.41`. I reproduced it with `0.12.40`, but `0.12.41` worked fine. Closing this.

[2022-10-20 14:10] #2853 closed

[2022-10-20 20:21] mattpolzin commented on #3091
I can still reproduce this; let me see if I can come up with a minimal example.

[2022-10-20 21:49] mattpolzin commented on #3091
@vvagaytsev here's a repo with pretty minimal configuration in it: https://github.com/opallabs/garden-3091-repro

The project file itself should not be important, so you could copy all files except for project file into another project and see the error I imagine.

[2022-10-21 10:49] vvagaytsev commented on #3091
Thanks, @mattpolzin! I'll take a look.

[2022-10-24 14:32] vvagaytsev commented on #3091
It looks like the problem comes from https://github.com/garden-io/garden/blob/main/core/src/template-string/template-string.ts#L348 and https://github.com/garden-io/garden/blob/main/core/src/template-string/template-string.ts#L349:
[code]

The cache state in the `loopContext` stays dirty. I tried to remove some values from it in the debugger and it helped:
[code]

@edvald should we always delete a

[2022-10-26 16:01] to266 opened #3324 "Garden not detecting finished buildkit job"
## Bug

### Current Behavior

Garden does not detect that a buildkit job is finished, and basically hangs. If the local CLI command is stopped and re-run, then it's correctly registered as already built, and the steps continue.

### Expected behavior

Correctly detect a finished build

### Reproducible example

(Note that I haven't yet tried to replicate this)
The dockerfile in particular is of th

[2022-10-26 16:58] to266 commented on #3324
(and the only way I was able to find out when the build is actually finished, is by running `top` inside the buildkit container and monitoring that)

[2022-10-27 09:12] stefreak commented on #3324
@to266 thanks for this report, this is very interesting. Sorry for this!

Can you run `garden` with the parameter `-l 5` for silly-log and provide us with the buildkit-related log output? Is this a regression in `0.12.46` or does it also happen with `0.12.45`?

[2022-10-27 09:58] to266 commented on #3324
It used to happen with `0.12.45` as well, but before that the bigger blocker was the lack of ability to add tolerations.

In terms of silly logs, here's all there really is:
[code]

aka it stops at the compile step (technically does not even show the full output)

[2022-10-27 10:07] to266 commented on #3324
If I split up the most expensive command

from
[code]
to
[code]
it actually works correctly - but now in the build layer there's literally GBs of data that we don't need (yet that get cached)

[2022-10-27 12:11] to266 commented on #3324
Huh, so what seems to have helped, is forcing `cargo` to output things in the same way that it would for an interactive TTY session via
[code]
[cargo docs](https://doc.rust-lang.org/cargo/reference/config.html).

Then the stdout output is somewhat mangled (as it assumes it can update the progressbar in-place), but at least it works :D

[2022-10-27 16:16] scheuk opened #3325 "terraform garden module using terraform 1.2.9 plugin fails with validation error."
## Bug
### Current Behavior
When using a garden terraform module type and the terraform uses providers that it needs to fetch from the registry garden will fail with error:

[code]

### Expected behavior
garden runs terraform init and apply to the module

### Reproducible example
garden.yml:

[code]

main.tf:

[code]

### Workaround
Use terraform 1.0.5

### Suggested solution(s)

### Additional co

[2022-10-27 19:05] oakeyc commented on #2903
Hello! I am running into the same issue. I want to use a configmap, but I don't want garden to try to render it because garden rendering will fail if I use characters that make it not a valid _garden_ template string. But I just want to place arbitrary configurations in my configmap.

This is an example:
[code]

And the output:
[code]

and the error log says:
[code]

What I would like it to be abl

[2022-10-27 23:04] stefreak commented on #3324
@to266 no, absolutely not, we will dig into this and fix it. I think I also ran into this issue today in a simple dockerfile that just runs `apt-get update; apt-get install -y ...`

Thank you so much for sharing this with us

[2022-10-28 09:30] Orzelius commented on #3325
Hello @scheuk thank you so much for pointing this out.
We will be fixing the issue here but another workaround is to just run the terraform init manually.

[2022-10-31 08:19] hnicke opened #3327 "Validate command creates k8s namespace"
## Bug
### Current Behavior
When running `garden validate`, garden creates the target k8s namespace (if it doesn't exist).
`garden validate` fails if the configured kube-context is not available.

### Expected behavior
* `garden valdiate` should not have any sideeffects or they should be documented
* `garden validate` should not require write permission for the target cluster
* particurlarily, it

[2022-10-31 10:32] stefreak commented on #3324
@to266 Unfortunately I failed to reproduce that one, my initial suspicion that this happened to me too seems to have been wrong.

I'm quite curious what is happeneing here, you are telling me that a workaround is to tell cargo that it logs to a tty. So I'm suspecting a bug in a component that handles log output.

Let's try to continue like this:

1. Can you tell me wether it still hangs if you red

[2022-10-31 16:39] 10ko opened #3330 "[FEATURE]: Improve error messages when Kubernetes pod fails"
## Feature Request

### Background / Motivation

As reported by some of our users, whenever a pod running a task or a test fail because of a Kubernetes error, Garden will only report the error code, which can be confusing or disorienting.

For example, in the case of an OOM error that instructs Kubernetes to evict the pod, Garden will only print: "received 129 error from pod".

### What should the

[2022-10-31 17:41] 10ko opened #3331 "When running a test, if the command ends or the pod gets evicted, the logs are not displayed"
## Bug
### Current Behavior
When running tests, if the process running the tests gets interrupted, Garden fails to print the full logs from the pod running the tests.

### Expected behavior
Garden should either stream logs as they appear during test runs or make sure to collect all the logs printed to stdout before the pod gets evicted.

### Reproducible example
### Workaround
Sometimes it's helpf

[2022-10-31 17:50] 10ko opened #3332 "Problems with syncing code before building"
## Bug
### Current Behavior
Some of our users are encountering issues when running `garden dev` where the initial syncing of the code gets stuck and the deployment fails. Note: this happens before even starting the build.

### Expected behavior
The code gets synced and built successfully. If any issue arises, Garden should terminate with an exit code.

### Reproducible example
This is unfortunatel

[2022-10-31 17:54] thsig commented on #3331
We've already got the machinery in place for incrementally streaming test/task pod logs line-by-line, so we could simply use that (instead of asking the k8s API for all the pod logs at the end of execution, which seems to be problematic in these edge cases).

What do you think, @edvald @eysi09?

[2022-11-01 08:51] Orzelius commented on #3331
@thsig I think that makes sense, but it will probably be a bit problematic if there's tons of logs

[2022-11-01 15:20] thsig commented on #3331
Yeah. We'd need to implement some simple logic for only keeping the last N lines of output (and also make sure that the output doesn't grow beyond a certain kilobyte count).

[2022-11-01 23:54] #3031 closed

[2022-11-02 06:04] vvagaytsev commented on #3331
Yes, we can collect the tailing logs in a buffer with the FIFO eviction policy, and print the buffer contents on the error/exit. Th buffer size can be configurable.

[2022-11-02 10:31] marklester opened #3335 "[FEATURE]: Add the ability to create configmaps from files in the configmap module"
## Feature Request
### Background / Motivation
I have a use case where I need to create many configmaps to mount to a service/task. It would be nice to be able to have a folder of files and have the module either put them into one configmap or make a configmap per.
This is common enough that that kubectl has it built it:

https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-confi

[2022-11-02 14:27] agates4 commented on #3324
Actually, I have run into this too, and rerunning the original command fixes the hanging.
This happens on our end (Pachama) with large frontend builds. I haven't seen this problem with the slimmer backends

[2022-11-05 04:12] mdragilev opened #3337 "[FEATURE]: Allow to not have have CPU/Memory Resource Limits"
## Feature Request

### Background / Motivation

We use garden to deploy a number of micro-services into a dev environment dedicated to a developer.  We have control over the resourced dedicated to the environment at large.  Garden will assign default CPU/Memory limits and will not allow to explicitly specify 0/null limits.  However, there is no need for CPU limits at all in that environment and w

[2022-11-06 16:15] eysi09 commented on #3330
@10ko, looks a duplicate of #3254, right?

If you agree, would you mind closing and moving the conversation there?

[2022-11-09 15:19] Orzelius opened #3339 "Engineer(s) Needed!"
### Hello, Garden core team is looking to hire an engineer to work on the open core product of garden.
If working on open source, remote or in our Berlin office and with new cool technologies in the cloud space sounds like something you'd like to get in to let us know!

Previous experience with Typescript and kubernetes would come in handy.

More info here: https://garden.io/careers/

[2022-11-09 15:47] hnicke commented on #3327
I've stumbled across a similar issue today: `garden update-remote` will fail if it can't connect to the cluster. I expect that the `update-remote` command does not try to connect to the k8s cluster at all. Or is there a reason..?

[2022-11-09 15:58] Orzelius commented on #3327
@hnicke thanks for pointing that out! We'll work on fixing both as it's weird behavior and makes these commands way slower than they should be

[2022-11-10 10:41] vvagaytsev commented on #3332
If we could get verbose- or debug-level logs from a dev machine, that would be very helpful.

[2022-11-10 10:46] vvagaytsev commented on #3330
This relates to #3297.

[2022-11-11 14:35] MarkMurphy opened #3344 "[FEATURE]: Support for ingressClassName field on ingresses."
## Feature Request

### Background / Motivation

### What should the user be able to do?

`services[].ingresses[].ingressClassName: string`

### Why do they want to do this? What problem does it solve?

See above.

### Suggested Implementation(s)

See above.

### How important is this feature for you/your team?

🌵 Not having this feature makes using Garden painful

[2022-11-12 15:38] OOPMan commented on #3101
@edvald Any movement on this?

[2022-11-13 17:47] thsig commented on #3061
Reopening this for now, feel free to close it if this has ben resolved in the meantime.

[2022-11-15 06:42] ashwiren opened #3347 "wercker/stern repo no longer exists causing a 404 error on util fetch-tools --all"
## Bug

### Current Behavior

Relevant code block:

https://github.com/garden-io/garden/blob/7e86f3eaeec92c0801d9c61dd8e1cd867f1b4d51/core/src/plugins/kubernetes/logs.ts#L522

There is a fork of the project here: https://github.com/stern/stern

### Expected behavior

### Reproducible example

### Workaround

### Suggested solution(s)

### Additional context

### Your environment

* **OS:**
* **How

[2022-11-15 09:02] vvagaytsev commented on #3347
Thanks for reporting this @ashwiren! We'll take a look.

[2022-11-15 12:30] #3347 closed

[2022-11-15 14:13] eysi09 commented on #3197
Wanted chime in with a couple of extra points here.

Beyond tolerations it would be good to be able to set annotations to ensure auto scaling works properly.

That would e.g. allow users to set `"cluster-autoscaler.kubernetes.io/safe-to-evict": "true"`.

The same also applies to the `cluster-buildkit` Pod. It uses `emptyDir` and therefore can't be evicted by the auto scaler (see this [GitHub issue

[2022-11-15 15:47] stefreak commented on #3197
@eysi09 Yes this will be imlemented 👍 This issue is being tracked in https://github.com/garden-io/garden/issues/2628 and https://github.com/garden-io/garden/issues/2931

[2022-11-16 16:53] vini-gorillas opened #3356 "Garden environment delete doesn't delete the images created on external registry"
## Delete images created in the registry
### Current Behavior
garden delete doesnt delete the image built by garden

### Expected behavior
a command which would also delte the built image version with the garden deploy,

### Reproducible example
I am using kaniko bild mode with gcp registry to build images and deploy. With the garden deploy, my images are pushed to the registry. but with delete th

[2022-11-17 16:10] carolinapc commented on #2680
Hi!
That's a nice feature to have, as we need to add customized tags without generating new images every time we pass a different one in extraFlags property.

[2022-11-21 11:37] #3197 closed

[2022-11-21 16:16] stefreak commented on #3356
Hi @vini-gorillas

thanks for reporting this, @vini-gorillas  :)

A new command to clean up images might be a very useful feature, and we'll consider that.

Removing the images on environment delete is I not an option I think, because the images might still be used in other environments sharing the same registry (e.g. in preview environments for open pull requests and/or personal developer namespa

[2022-11-22 14:59] vvagaytsev commented on #2903
Thanks for raising this @oakeyc! Have you checked the suggestions from the [comment above](https://github.com/garden-io/garden/issues/2903#issuecomment-1125067140)?

What was the filename of your configmap config file? Please make sure it didn't end with `.garden.y(a)ml`.

[2022-11-22 15:10] ShankyJS opened #3367 "Not able to use local valueFiles when using repositoryUrl helm module."
## Bug

### Current Behavior

I created a repository to show how this bug is reproducible.

1. Clone this repository [External-charts](https://github.com/ShankyJS/external-charts-poc-garden)
2. Do a `garden deploy`
3. You will encounter issues while the Helm module for (prometheus)[https://github.com/ShankyJS/external-charts-poc-garden/blob/main/garden.yml#L18] tries to use a local values file, wh

[2022-11-22 16:48] theoribeiro opened #3368 "In-cluster builds on EKS: credentials not found in native keychain"
## Bug

### Current Behavior

In-cluster builds (both Kaniko and cluster-buildkit) are failing on EKS using ECR when trying to build an image running `garden build` with the following error:
[code]

My pod has IAM permissions to access ECR as it is being run on an instance that has the correct IAM role, and imagePullSecrets are set up according to instructions.

After some investigation, I found o

[2022-11-23 02:23] ashwiren opened #3369 "Helm module generateFiles: does not substitute in templated values"
## Bug
### Current Behavior
The templated values are treated as plain strings, eg: `"${runtime.services.infrastructure-aws.outputs.db_password}"`

### Expected behavior
The value should be substituted in

### Reproducible example
garden.yaml

[code]

values.default.yml

[code]

### Workaround
Move them to values: in garden.yaml

### Suggested solution(s)

### Additional context

### Your environme

[2022-11-23 02:28] ashwiren opened #3370 "Helm module does not have good multiline if block support"
## Bug
### Current Behavior
The only way to use ${if var.foo} is via generateFiles

### Expected behavior
Multiline if blocks should work in the values: section of garden.yaml

### Reproducible example
garden.yaml

[code]

This fails with a yaml error

### Workaround
Use generateFiles: with a separate values file.

### Suggested solution(s)

### Additional context

### Your environment

* **OS:**

[2022-11-23 03:35] ashwiren opened #3371 "Documentation has fixed max page width"
## Bug
### Current Behavior
![image](https://user-images.githubusercontent.com/117711531/203464517-d688f93c-29de-4abb-9df4-9cf0b70d658a.png)

### Expected behavior
At the very least it should allow the embedded code blocks to display their full width.

### Reproducible example

### Workaround

### Suggested solution(s)

### Additional context

### Your environment

* **OS:**
* **How I'm running Ku

[2022-11-23 08:36] Orzelius commented on #3371
We agree this is extremely annoying, but unfortunately it comes down to the doc provider we're using: gitbook.
In general we've been extremely unhappy with gitbook and plan to migrate to docusaurus in 0.13. This and many other issues will be solved in doing so.

[2022-11-23 09:10] laran commented on #3152
@vvagaytsev Does mavenPath apply to gradle as well?

[2022-11-23 10:18] stefreak commented on #3152
@laran According to the jib-container reference docs on [`build.mavenPath`](https://docs.garden.io/reference/module-types/jib-container#build.mavenpath) it's still using the jdk configured in jdkPath. If you want to use `JAVA_HOME` instead, you need to set set `jdkPath` to `${local.env.JAVA_HOME}` instead.

So it seems that @vvagaytsev went in a different direction in the actual PR as described in

[2022-11-23 11:38] stefreak commented on #3368
@theoribeiro thank you for taking the time to  this bug report!

As I am currently working on enabling IRSA for in-cluster builders (#2931) I am already looking into the relevant code paths. So I'll look into this issue.

[2022-11-23 11:41] stefreak commented on #3368
@theoribeiro I noticed that version `0.5.0` introduced support for [EC2 IMDSv2](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html). Is it possible that your EC2 instances have IMDSv1 disabled? See also the AWS docs on [configuring instance metadata options](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-options.html)

[2022-11-23 12:06] vvagaytsev commented on #3152
@laran no, it does not. Garden CLI checks if the `gradle` binary exists in the module directory. If it does, then it will be used. Otherwise, the Gradle version defined in https://github.com/garden-io/garden/blob/main/plugins/jib/gradle.ts#L17 will be downloaded and used.

Would it be useful to support custom `gradlePath` similarly to `mavenPath`?

[2022-11-23 14:05] vvagaytsev commented on #2841
Closing as a duplicate of #3151.

[2022-11-23 14:05] #2841 closed

[2022-11-23 14:49] theoribeiro commented on #3368
@stefreak You nailed it! We're using EKS Managed Node Groups for our nodes and I just checked and they're indeed using IMDSv2. Since we're using Terraform to deploy our cluster, I believe the modules are now configured to disable IMDSv1 by default as per an AWS recommendation to conform to security best practices.

[2022-11-23 15:04] stefreak commented on #3368
@theoribeiro cool thank you very much for confirming this, we'll fix this with high priority

[2022-11-23 15:13] stefreak commented on #2931
Just so nobody else duplicates the effort: I am actively working on this :)

[2022-11-23 15:15] stefreak commented on #2931
One thing I noticed during the investigation is that a service account would also be useful for the tasks.

First implementation will only target in-cluster-building, but I will at least create another feature request issue for allowing for IRSA (or injecting credentials through service accounts in general) also for tasks.

[2022-11-24 00:53] ashwiren opened #3377 "Kubernetes module does not treat 0 replica deployments correctly"
## Bug

I have a duplicate garden module of our server container to run tasks only with a different set of resource limits (higher memory request/limits).

The workaround I am using is a 0 replica deployment with the tasks attached to that module. (until garden supports different resource requests/limits for tasks on kubernetes)

### Current Behavior

With a 0 replica deployment there are two diff

[2022-11-24 01:40] laran commented on #3152
@stefreak @vvagaytsev

A custom gradlePath seems like a good option.

- There is no gradle in my module folders.
- A freshly downloaded gradle would not be able to access the private repo I use.

Here's more for context ...

My project uses a custom Gradle 7.5.1.

I'm using Rancher-Desktop with Kubernetes 1.24.8+k3s1.

I use a private artifactory repository. The dependencies that the build fails o

[2022-11-24 09:32] #3091 closed

[2022-11-24 10:32] vvagaytsev commented on #3367
Thanks for reporting this @ShankyJS! We'll take a look.

[2022-11-24 10:33] vvagaytsev commented on #3369
Thanks for reporting this @ashwiren! We'll take a look.

[2022-11-24 11:59] sundbp opened #3378 "[FEATURE]: Add support for ${runtime.tasks.<task-name>.outputs.log} to Helm modules."
## Feature Request

To keep consistent with other module types I'd love if if this runtime output as available.

### Background / Motivation

Other module types already support this and it seems an oversigth that the Helm module does not.

### What should the user be able to do?

Work in a similar manner as the k8s module does for the same log output.

### Why do they want to do this? What problem

[2022-11-24 20:56] ShankyJS commented on #3367
Thanks for taking a look into it, really appreciate it! @vvagaytsev

[2022-11-25 09:27] ShankyJS commented on #3377
One workaround may be create a Helm chart and using feature flags to enable/disable the deployment if you don't need it at all, and then you probably could get the behavior you are looking for with this one?

[2022-11-25 11:01] stefreak commented on #3377
I also ran into this while implementing IRSA for in-cluster builders.

I pinned this one down to https://github.com/garden-io/garden/blob/main/core/src/plugins/kubernetes/status/workload.ts#L230
that line must be

[code]

instead of
[code]

[2022-11-25 14:24] stefreak commented on #3106
As a work around, it is already possible to add [`extraFlags`](https://docs.garden.io/reference/module-types/container#extraflags)

for example:

[code]

Most important thing missing is to include the architecture in the calculation of the garden hash / tag. Otherwise weird things will happen if your container modules depend on each other and cached tags are present with a different platform.

[2022-11-25 15:55] ralphv opened #3382 "localPort in services is ignored unless run in dev mode."
## Bug

[localPort](https://docs.garden.io/reference/module-types/container#services-.ports-.localport) is ignored unless it is run in dev mode or watch mode

### Current Behavior

when a service port specifies localPort, is it not being mapped correctly. Note this is different than the [portForwards](https://docs.garden.io/reference/module-types/kubernetes#portforwards) which is supposed to only

[2022-11-25 16:06] #3368 closed

[2022-11-25 18:23] stefreak commented on #3368
@theoribeiro can you try again after `garden self-update edge`?

We'll release this next week but I want to be sure that this change actually fixed your problem :)

[2022-11-25 19:27] theoribeiro commented on #3368
@stefreak the edge version is getting stuck getting the provider status. 0.12.46 gets pass that step but edge does not. Any ideas why?
[code]

[2022-11-25 19:31] stefreak commented on #3368
@theoribeiro thanks for that piece of information, can you check where it gets stuck by running the command with silly-log enabled? (`-l5`)

[2022-11-25 19:38] theoribeiro commented on #3368
@stefreak it stops at:
[code]

Normal version gets past that
[code]

[2022-11-25 19:44] stefreak commented on #3368
@Orzelius might this be a regression introduced with the new kubernetes client library version https://github.com/garden-io/garden/pull/3374 ?

[2022-11-25 19:45] stefreak commented on #3368
@theoribeiro is it possible that HTTP_PROXY or HTTPS_PROXY env vars are set?

[2022-11-25 19:46] theoribeiro commented on #3368
We are using an SSH tunnel to connect to the Kubernetes cluster, could that be the problem?

[2022-11-25 19:53] stefreak commented on #3368
@theoribeiro ah ok, can you kindly explain how the tunnel works? Are you using the ssh SOCKS proxy (`-D`)?

It would be amazing if you could take the time to create a new issue with information about your set up, so we can try to reproduce the behaviour.

Thank you again for the time spent, and really sorry there's another regression in the way 🙇

[2022-11-25 20:36] theoribeiro commented on #3368
We're using a simple port forward over ssh with `-fN -L 5555:$CLUSTER:443` and setting up `/etc/hosts` to point $CLUSTER to 127.0.0.1.

That setup works for us for all kubectl commands. We tried using a SOCKS proxy for that but could never get it working properly with kubectl

[2022-11-28 10:31] srihas-g commented on #3368
@theoribeiro could you share the `cluster` config from your kube-context?

[2022-11-28 14:56] theoribeiro commented on #3368
Hey @srihas-g. Here's the configuration we got, omitting sensitive data:
[code]

[2022-11-29 09:53] Orzelius commented on #3368
yes, it might

[2022-11-29 12:44] Walther commented on #3368
The provider status getting stuck could indeed be related to the regression introduced in #3374.
This should be fixed with #3389 - please try with the latest `edge` release to see if it helps!

[2022-11-30 09:45] stefreak commented on #3368
@theoribeiro We now actually reproduced the regression you faced with port-forwarding. @Walther fixed it in the latest edge release (https://github.com/garden-io/garden/pull/3389) –

could you run `garden self-update edge` again, and see if your issues are fixed now?

Thank you

[2022-11-30 10:37] vvagaytsev commented on #2944
@antoinelyset sorry for the very late reply. Yes, I think you can try it. Please let us know if it helps.

We have got other issues with `rsync` reported in #3332. Have you ever seen the same problem?

[2022-11-30 16:16] stefreak commented on #2944
@antoinelyset good to hear, we're actually planning to release a new version pretty soon.

[2022-11-30 16:27] stefreak commented on #3221
@edvald @vvagaytsev @Orzelius any opinions on this? Could we add this to our list of changes for the new schema introduced in 0.13?

[2022-11-30 16:35] theoribeiro commented on #3368
@Walther @stefreak all working now! Just had the first build using Kaniko with no issues!

Thank you for your efforts in making this work. Happy to collaborate with this great tool in any other way you guys need.

[2022-11-30 16:42] edvald commented on #3221
I'm okay with this. Although I'd actually be in favor of allowing either, but mutually exclusive (i.e. you can either specify neither or exactly one of those fields). In my mind there are about as many cases where you conditionally want to _disable_ something as to _enable_ it .)

[2022-11-30 17:04] edvald commented on #3221
Please note that changes along these lines could conflict quite aggressively with the 0.13 branch... I'd suggest avoiding until that's merged or doing on that branch.

[2022-11-30 17:36] stefreak commented on #3221
I'm okay with keeping both, @vvagaytsev @Orzelius I would just create a pull request towards 0.13 once all the tests pass? What do you think?

[2022-11-30 17:49] stefreak commented on #3368
@theoribeiro awesome :) Thanks for the offer, any collaboration+feedback is always appreciated! Feel free to reach out on our discord server if you have any ideas https://discord.gg/gxeuDgp6Xt

I'm working on a [more secure IAM setup using IRSA for in-cluster-building](https://github.com/garden-io/garden/issues/2931), if you want I can share the docs with you once it's merged, would be very happy